.basket {
	margin-top: 80px;

	&__title {
		margin-bottom: 0;

		&::before {
			content: none;
		}
	}

	&__info {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 122px;
		padding-bottom: 200px;
	}

	&__legend {
		display: inline-block;
		font-size: rem(24px);
		line-height: 1.3;
		margin-bottom: 16px;
	}

	&__text {
		margin: 0;
		margin-bottom: 32px;

		span {
			color: $color-red2;
			border-bottom: 1px dashed $color-red2;
		}
	}

	&__button {
		margin: 0;
	}

	&__row {
		display: flex;
		justify-content: space-between;
		margin-top: 60px;
		margin-bottom: 40px;
	}

	&__col {
		display: inline-block;
		&:nth-child(1) {
			max-width: calc(100% - 405px);
			width: 100%;
		}

		&:nth-child(2) {
			position: relative;
			max-width: 378px;
			width: 100%;
		}
	}

	&__container {
		display: flex;
		flex-direction: column;
	}

	@include _1366 {
		margin-top: 50px;

		&__info {
			margin-top: 92px;
		}
	}

	@include _1280 {
		&__title {
			font-size: 2rem;
		}
	}

	@include _1200 {
		&__row {
			flex-direction: column;
		}

		&__col {
			&:nth-child(1) {
				width: 100%;
				max-width: 100%;
				margin-bottom: 32px;
			}
			&:nth-child(2) {
				width: 100%;
				max-width: 100%;
				text-align: center;
			}
		}
	}

	@include _740 {
		&__row {
			margin-top: 40px;
		}
	}

	@include _480 {

		&__text {
			text-align: center;
		}

		&__info {
			margin-top: 72px;
		}
	}

	@include _375 {
		&__info {
			padding-bottom: 150px;
		}

		&__legend {
			font-size: 1.3rem;
		}
	}
}

.order-cart {
	&__head {
		display: flex;
		align-items: center;
		padding-bottom: 20px;
		margin-bottom: 24px;
		border-bottom: 1px solid #C8D5DE;

		@include _769 {
			border-bottom: 3px solid #C8D5DE;
		}
	}

	&--span-style {
		font-size: rem(14px);
		line-height: 22px;
		color: #7D869B;
	}

	&__quantity {
		margin-right: auto;
	}

	&__price {
		max-width: 143px;
		width: 100%;

		@include _769 {
			display: none;
		}
	}

	&__quant {
		max-width: 164px;
		width: 100%;

		@include _769 {
			display: none;
		}
	}

	&__summ {
		max-width: 64px;
		width: 100%;

		@include _769 {
			display: none;
		}
	}

	&__clear-cart {
		padding: 16px 17px;
		border: 1px solid #DAE2E8;
		background-color: transparent;
		color: #7D869B;
		transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
		cursor: pointer;
		margin-left: auto;

		&:hover {
			background-color: $color-red2;
			color: #fff;
		}
	}

	&__ordering {
		position: sticky;
		top: 20px;

		@include _1200 {
			margin: 0 auto;
			max-width: 70%;
			position: static;
			top: auto;
		}

		@include _992 {
			max-width: 100%;
		}
	}

	@include _480 {
		&__clear-cart {
			width: 100%;
		}
	}
}

.basket-cart {
	&__list {
		margin-bottom: 24px;
	}

	&__mobile-naming {
		display: none;
	}

	&__item {
		position: relative;
		display: flex;
		align-items: flex-start;
		padding-bottom: 24px;
		margin-bottom: 24px;
		border-bottom: 1px solid #C8D5DE;

		&:last-child {
			margin-bottom: 0;
		}

		.icon-cross {
			position: absolute;
			right: 10px;
			bottom: 30px;
			color: $color-red2;
			opacity: 0.5;
			cursor: pointer;

			&:hover {
				opacity: 1;
			}

			@include _1024 {
				opacity: 1;
			}
		}

		.icon-ruble {
			color: $color-red2;
			font-size: 14px;
			margin-left: 4px;
		}
	}

	&__info {
		display: flex;
		align-items: flex-start;
		flex-shrink: 0;
		width: 100%;
		max-width: 363px;
		margin-right: 41px;

		img {
			display: block;
			width: 174px;
			height: 200px;
			border: 1px solid #DAE2E8;
			margin-right: 32px;
			object-fit: cover;

			@include _1280 {
				width: 144px;
				height: 150px;
				margin-right: 15px;
			}
		}

		&:hover {
			.basket-cart__name {
				color: $color-red2;
			}
		}

		@include _1280 {
			max-width: 283px;
		}

		@include _1200 {

		}
	}

	&__name {
		display: block;
		font-size: rem(16px);
		line-height: 26px;
		margin-bottom: 16px;
		transition: color 0.3s ease-in-out;
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}

	&__in-stock {
		display: inline-block;
		padding: 10px 25px 10px 15px;
		background-color: #D0241F;
		color: #FFF;
		clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 37%, 89% 0%);

		@include _1280 {
			padding: 8px 20px 8px 13px;
		}
	}

	&__price {
		max-width: 133px;
		width: 100%;
		margin-right: 10px;
	}

	&__quant {
		max-width: 132px;
		width: 100%;

		.quant {
			padding: 11px 8px;
			min-width: 0;
			width: 119px;

			&__input--wrap {
				width: 58px;
				height: 24px;
			}

			&__btn {
				font-size: 12px;
			}
		}
	}

	&__summ {
		margin-left: auto;
	}

	@include _1200 {
		&__summ {
			max-width: 115px;
			width: 100%;
			text-align: right;
			margin: 0;
		}

		&__info {
			margin-right: auto;
			max-width: 373px;
		}
	}

	@include _769 {
		&__mobile-naming {
			font-size: 15px;
			padding-bottom: 10px;
			margin-bottom: 16px;
			border-bottom: 1px solid #C8D5DE;
			width: 100%;

			@include _769 {
				display: block;
			}
		}


		&__item {
			flex-wrap: wrap;
			align-items: stretch;
			justify-content: stretch;
			border-bottom: 3px solid #C8D5DE;

			.icon-cross {
				bottom: auto;
				top: 2px;
			}
		}

		&__info {
			max-width: 100%;
			width: 100%;
			padding-bottom: 16px;
			border-bottom: 1px solid #C8D5DE;
			margin-bottom: 10px;
			margin-right: 0;
		}

		&__price,
		&__quant,
		&__summ {
			margin: 0;
			max-width: 33.3%;
			width: 33%;
			text-align: center;
		}

		&__quant {
			.quant {
				width: 100%;
			}
		}
	}

	@include _480 {
		&__price,
		&__summ {
			max-width: 50%;
			width: 100%;
			margin-bottom: 16px;
		}

		&__price {
			order: 2;
		}

		&__summ {
			order: 3;
		}

		&__quant {
			order: 4;
			width: 100%;
			max-width: 100%;
		}

		&__info {
			order: 1;
		}

		&__mobile-naming {
			font-size: 14px;
			padding-bottom: 7px;
    		margin-bottom: 10px;
		}
	}
}

.ordering {
	border: 1px solid #DAE2E8;

	&__top {
		padding: 16px 24px;
		background-color: #DAE2E8;
		@include _480 {
			padding: 16px;
		}
	}

	&__bottom {
		background-color: #EEF2F5;
		padding: 16px 24px;
		padding-top: 24px;

		@include _480 {
			padding: 16px;
		}
	}

	&__row {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 10px;

		&:nth-last-of-type(1) {
			margin-bottom: 0;
		}
	}

	&__button {
		display: flex;
		margin: 0;
	}

	&__legeng,
	&__price {
		font-size: rem(18px);
	}

	&__price {

		.icon-ruble {
			font-size: 14px;
			color: $color-red2;
			margin-left: 10px;
		}

		&--discount {
			color: $color-red2;
		}

		&--final-price {
			font-size: rem(24px);

			.icon-ruble {
				font-size: 19px;
				margin-left: 10px;
			}
		}
	}

	&__discount {
		display: flex;
		align-items: center;
		margin-bottom: 24px;
	}

	&__input {
		width: calc(100% - 132px);
		background-color: $white;
		border: 1px solid $color-red2;
		border-top-left-radius: 2px;
		border-bottom-left-radius: 2px;
		padding: 18px 24px;
		padding-right: 18px;

		&::placeholder {
			font-size: 14px;
		}
	}

	&__bottom-button {
		width: 132px;
		background-color: #E83832;
		color: $white;
		text-align: center;
		padding: 19px 24px;
		cursor: pointer;
		transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;

		&:hover {
			background-color: $color-red2;
		}
	}

	&__delivery-title {
		display: inline-block;
		font-size: rem(18px);
		margin-bottom: 16px;
	}

	&__delivery-row {
		display: flex;
		margin-bottom: 24px;
	}

	&__delivery-item {
		position: relative;
		width: 50%;
		display: block;
		min-height: 60px;
		padding: 10px 16px;
	}

	&__delivery-radio {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 100;
		width: 100%;
		height: 100%;
		opacity: 0;
		cursor: pointer;

		&:checked {
			&~.ordering__delivery-box {
				border-color: $color-red2;
			}
		}

		&.active {
			cursor: default;
		}
	}

	&__delivery-box {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border: 1px solid #DAE2E8;
	}

	&__delivery-name {
		font-size: rem(14px);
		color: #2A303E;
		white-space: nowrap;
	}
	&__delivery-info {
		display: block;
		font-size: rem(12px);
		color: #898989;
	}


}
