.basket-mini {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 520px;
	height: 100%;
	padding-left: 126px;
	padding-right: 42px;
	background-color: $white;
	transform-origin: left;
	transform: translateX(-100%);

	&__container {
		// height: 100%;
		min-width: 346px;
	}

	&__list {
		position: relative;
		padding-bottom: 24px;
		margin-bottom: 24px;
		border-bottom: 1px solid #414B62;
		// width: 100%;
		height: 325px;

		&::before {
			content: "";
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 14px;
			background-color: $white;
			z-index: 99;
		}

		.simplebar-horizontal {
			display: none;
		}

		.simplebar-track {
			right: -13px;

			&.simplebar-vertical {
				width: 7px;
			}
		}


		.simplebar-scrollbar:before {
			// opacity: 1;
			background: #414B62;
		}
	}

	&__item {
		position: relative;
		margin-bottom: 12px;
		display: flex;
		align-items: flex-start;

		&:last-child {
			margin-bottom: 0;
		}

		.icon-cross {
			position: absolute;
			top: 1px;
			right: -1px;
			z-index: 50;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 20px;
			height: 20px;
			color: $color-red2;
			font-size: 16px;
			cursor: pointer;
			margin-left: auto;
			opacity: 0.7;

			&:hover {
				opacity: 1;
			}

			&:active {
				transform: scale(0.8);
			}
		}
	}

	&__img {
		width: 80px;
		height: 92px;
		margin-right: 16px;
		border: 1px solid #DAE2E8;
		overflow: hidden;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: transform 0.3s ease-in-out;
		}

		&:hover {
			&~.basket-mini__legend {
				color: $color-red2;
			}

			img {
				transform: scale(1.1);
			}
		}
	}

	&__legend {
		font-family: $main-font;
		font-size: rem(14px);
		line-height: 1.4;
		margin: 0;
		font-weight: 400;
		max-width: 189px;
		text-transform: none;
	}

	&__descr {
		margin-bottom: 24px;
	}

	&__row {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 10px;

		&:last-child {
			mix-blend-mode: 0;
		}
	}

	&__name {
		font-size: rem(18px);
		color: #414B62;
		margin-right: 10px;
	}

	&__price {
		font-size: rem(18px);
		color: #414B62;


		.icon-ruble {
			font-size: 15px;
			margin-left: 10px;
			color: $color-red2;
		}

		&--big-font {
			font-size: rem(24px);
			.icon-ruble {
				font-size: 19px;
				margin-left: 5px;
			}
		}

		&--discount {
			color: $color-red2;
		}
	}

	&__button {
		margin-top: 0;
		width: 100%;

		.icon {
			svg {
				transform: rotate(0);
			}
		}
	}

	@include _1536 {
		width: 590px;

		&__container {
			min-width: 396px;
		}
	}

	@include _1280 {
		&__list {
			height: 215px;
		}
	}

	@include _1024 {
		width: 100%;

		&__container {
			min-width: auto;
			width: 100%;
		}

		&__list {
			height: 429px;
		}

		&__button {
			width: 260px;
			display: inline-flex;
		}
	}

	@include _992 {
		&__list {
			height: 219px;
		}
	}

	@include _769 {
		&__list {
			height: 429px;
		}
	}

	@include _500 {
		padding-left: 106px;
    	padding-right: 24px;
	}

	@include _480 {
		&__legend {
			max-width: 154px;
		}

		&__img {
			width: 70px;
    		height: 82px;
		}

		&__list {
			height: 389px;
		}

		&__price {
			.icon-ruble {
				margin-left: 6px;
				font-size: 14px;
			}

			&--big-font {
				.icon-ruble {
					font-size: 17px;
				}
			}
		}

		&__button {
			width: 100%;
		}
	}

	@include _375 {
		padding-left: 88px;

		&__legend {
			max-width: 150px;
		}

		&__price {
			&--big-font {
				font-size: 1.4rem;
			}
		}

		&__list {
			height: 289px;
		}
	}

	@include _360 {
		&__img {
			width: 65px;
    		height: 77px;
		}

		&__list {
			height: 279px;
		}
	}


}
