.breadcrumbs {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-top: 15px;

	&__item {
		margin-right: 5px;
		font-size: rem(14px);

		&:last-child {
			margin-right: 0;
		}

		&.--active {
			color: $red;
			pointer-events: none;
		}
	}
}
