.cabinet {
	position: fixed;
	top: 0;
	left: 0;
	width: 520px;
	height: 100%;
	padding-left: 126px;
	padding-right: 42px;
	background-color: $white;
	transform-origin: left;
	transform: translateX(-100%);


	&__container {
		min-width: 346px;
	}

	&__registration {
		display: none;
		padding-top: 70px;

		.cabinet__content {
			height: 671px;


			.simplebar-track {
				right: -9px;
				bottom: 10px;

				&.simplebar-vertical {
					top: 10px;
					width: 7px;
				}

			}
		}

	}

	&__personal {
		padding-top: 161px;
	}

	&__content {
		margin-bottom: 24px;
	}

	&__private {
		display: none;

		&.active {
			display: block;
		}
	}

	&__legal {
		display: none;
	}

	&__title {
		font-family: $main-font;
		font-size: rem(24px);
		line-height: 1.4;
		text-transform: none;
		color: #414B62;
		margin: 0;
		margin-bottom: 32px;

		&::before {
			content: none;
		}
	}

	&__mini-tabs {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 24px;
	}

	&__mini-item {
		position: relative;
		width: calc(50% - 2px);
		border: 2px solid #DAE2E8;
		min-height: 60px;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 15px;
		cursor: pointer;

		&:nth-child(1) {
			border-right: none;

			&::before {
				content: "";
				position: absolute;
				top: 0;
				right: 0;
				height: 100%;
				width: 1px;
				background-color: #DAE2E8;
			}

			&.active {
				border-color: $color-red2;

				&::before {
					background-color: $color-red2;
					width: 2px;
				}
			}
		}

		&:nth-child(2) {
			border-left: none;

			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 1px;
				background-color: #DAE2E8;
			}

			&.active {
				border-color: $color-red2;

				&::before {
					background-color: $color-red2;
					width: 2px;
				}
			}
		}
	}

	&__input-container {
		position: relative;
		margin-bottom: 16px;
		width: 100%;
		height: 56px;

		&:nth-last-of-type(1) {
			margin-bottom: 24px;
		}

		.icon-icon-eye {
			position: absolute;
			top: 50%;
			right: 24px;
			z-index: 90;
			transform: translateY(-50%);
			font-size: rem(15px);
			cursor: pointer;
			color: #DAE2E8;
			transition: color 0.2s ease-in-out;

			&.active {
				color: $color-red2;
			}
		}

		label.error {
			position: absolute;
			left: 32px;
			bottom: 0;
			color: $color-red2;
			font-size: 14px;
		}
	}


	&__input {
		width: 100%;
		height: 100%;
		border: 1px solid #E4E8EB;
		border-radius: 0;
		background-color: #F7F9FA;
		padding: 18px 32px;
		padding-right: 60px;
	}


	&__button {
		display: flex;
		min-width: 0;
		width: 100%;
		margin-top: 0;
		border: none;
		background-color: transparent;
		border-radius: 0;
		padding: 0;
		height: 75px;
		cursor: pointer;

		&:active {
			span {
				background-color: #b32a25;;
			}

			.icon {
				background-color: #b32a25;;
			}
		}

		.icon {
			display: flex;
			height: 100%;

			svg {
				transform: rotate(0);
			}
		}

		span {
			height: 100%;
		}
	}

	&__additionals {
		display: flex;
		align-items: center;
		justify-content: space-between;

		a {
			position: relative;
			display: inline-block;

			&::before {
				content: "";
				position: absolute;
				left: 0;
				bottom: -2px;
				height: 2px;
				width: 100%;
				border-bottom: 1px dashed #3C4765;
			}
		}
	}

	&__forgot-password {

	}

	&__new-acc {
		color: $color-red2;

		&::before {
			border-color: $color-red2 !important;
		}

		&:active,
		&:focus {
			color: $color-red2;
		}
	}

	@include _1536 {
		width: 590px;

		&__registration {
			.cabinet__content {
				height: 527px;
			}
		}
	}

	@include _1440 {
		&__registration {
			padding-top: 40px;

			.cabinet__content {
				height: 577px;
			}
		}

		&__personal {
			padding-top: 40px;
		}
	}

	@include _1366 {
		padding-left: 106px;

		&__registration {
			.cabinet__content {
				height: 437px;
			}
		}
	}

	@include _1280 {
		&__registration {
			.cabinet__content {
				height: 371px;
			}
		}
	}

	@include _1024 {
		width: 100%;

		&__registration {
			.cabinet__content {
				height: 511px;

				.simplebar-track {
					right: -19px;

					&.simplebar-vertical {
						top: 0;
					}
				}

				.simplebar-scrollbar:before {
					opacity: 1;
					background: #ccd4da;
				}
			}
		}

		&__container {
			max-width: 600px;
			margin: 0 auto;
		}
	}

	@include _960 {
		&__registration {
			.cabinet__content {
				height: 371px;
			}
		}
	}

	@include _769 {
		&__registration {
			.cabinet__content {
				height: 671px;
			}
		}
	}

	@include _740 {
		&__registration {
			.cabinet__content {
				height: 511px;
			}
		}
	}

	@include _500 {
		&__button {
			height: 50px;
		}

		&__additionals {
			flex-direction: column;
			align-items: center;
			justify-content: stretch;

		}
		&__forgot-password {
			margin-bottom: 18px;
		}
	}

	@include _480 {
		padding-left: 96px;

		&__container {
			min-width: 296px;
		}

		&__registration {
			.cabinet__content {
				.simplebar-track {
					right: -11px;
				}

			}
		}

		&__mini-item {
			min-height: 56px;
		}
	}

	@include _375 {
		padding-left: 83px;

		&__input-container {
			height: 48px;
		}

		&__container {
			min-width: 276px;
		}

		&__registration {
			.cabinet__content {
				height: 391px;
			}
		}
	}

	@include _360 {
		padding-left: 82px;

		&__container {
			min-width: 0;
			width: 266px;
		}

		&__mini-item {
			padding: 10px;
			min-height: 46px;
			font-size: 0.9rem;
		}

		&__input {
			padding: 13px 22px;
			padding-right: 60px;
		}

		&__button {
			height: 50px;
			min-height: 0;
		}

		&__registration {
			.cabinet__content {
				.simplebar-track {
					right: -9px;

					.simplebar-horizontal {
						display: none;
					}
				}
			}
		}

		&__personal,
		&__registration {
			padding-top: 26px;
		}
	}
}
