.cart {
	margin-top: 64px;

	&__top {
		display: flex;
		justify-content: space-between;
		margin-bottom: 48px;
	}

	&__images {
		position: relative;
		width: 48.7%;

		&--big {
			width: 100%;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}

			.slick-dots {
				position: absolute;
				left: 50%;
				bottom: 20px;
				z-index: 15;
				display: flex;
				align-items: center;
				justify-content: center;
				transform: translateX(-50%);

				li {
					margin-right: 10px;

					&.slick-active {
						button {
							background-color: $color-red2;
							border-color: $color-red2;
							cursor: default;
						}
					}

					&:last-child {
						margin-right: 0;
					}

					button {
						border-radius: 0;
						border: none;
						background-color: transparent;
						font-size: 0;
						padding: 0;
						margin: 0;
						width: 7px;
						height: 7px;
						border: 1px solid #3C4765;
						border-radius: 50%;
						cursor: pointer;
					}
				}
			}
		}

		&--small {
			position: absolute;
			top: 32px;
			left: 26px;
			width: 62px;
			height: 62px;

			&-wrap {
				border: 1px solid #DAE2E8;
				opacity: 0.7;
				cursor: pointer;
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}

			.slick-slide.slick-current.slick-active {
				.cart__images--small-wrap {
					border-color: $color-red2;
					opacity: 1;
					cursor: default;
				}
			}

		}
	}

	&__info {
		width: calc(100% - 615px);
	}

	&__name {
		margin: 0;
		font-family: $main-font;
		font-size: rem(32px);
		line-height: 1.5;
		text-transform: none;
		margin-bottom: 24px;
	}

	&__in-stock {
		display: inline-block;
		padding: 10px 25px 10px 17px;
		margin-bottom: 56px;
		background-color: $color-red2;
		color: $white;
		clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 37%, 89% 0%);
	}

	&__price {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		font-size: rem(32px);
		line-height: 1.5;
		margin-bottom: 24px;

		.icon-ruble {
			display: block;
			margin-left: 10px;
			font-size: 25px;
			color: $color-red2;
		}
	}

	&__btn-group {
		display: flex;
		margin-bottom: 40px;
	}

	&__help {
		max-width: 65%;
		margin: 0;
	}

	&__button {
		padding: 28px 44px;
		font-size: rem(16px);

		.icon-basket {
			font-size: 18px;
			display: inline-block;
			margin-left: 21px;
		}
	}

	&__quant {
		margin-right: 32px;
	}

	&__bottom {
		margin-bottom: 146px;
	}

	&__tabs {
		margin-bottom: 80px;
	}

	&__nav {
		display: flex;
		align-items: center;
		background-color: #DAE2E8;
		padding: 28px 56px;
		margin-bottom: 56px;
	}

	&__nav-item {
		position: relative;
		margin-right: 64px;
		font-size: rem(18px);
		cursor: pointer;
		overflow: hidden;
		padding-bottom: 3px;

		&.active {
			&::before {
				transform: translateX(0);
			}
		}

		span {
			color: $color-red2;
		}

		&:last-child {
			margin-right: 0;
		}

		&::before {
			content: "";
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 2px;
			background-color: $color-red2;
			transform-origin: left;
			transform: translateX(-100%);
			transition: transform 0.3s ease-in-out;
		}

		&:hover {
			&::before {
				transform: translateX(0);
			}
		}
	}

	&__content {
		display: none;

		&.active {
			display: block;
		}

		&-info {
			margin: 0;
			max-width: 40%;
			font-size: rem(16px);
			line-height: 1.4;
			margin-bottom: 48px;
		}

		&-row {
			display: flex;
		}

		&-col {
			&:nth-child(1) {
				width: 40%;
				margin-right: 64px;
			}

			&:nth-child(2) {
				width: 50%;
			}
		}

		&-legend {
			display: block;
			font-size: rem(18px);
			margin-bottom: 24px;
		}

		&-item {
			position: relative;
			padding-left: 35px;
			margin-bottom: 16px;

			&:last-child {
				margin-bottom: 0;
			}

			&::before {
				content: "";
				position: absolute;
				top: 5px;
				left: 5px;
				width: 8px;
				height: 18px;
				transform: skew(-28deg);
				background-color: #D0241F;
			}
		}

		&-text {
			margin: 0;
			max-width: 90%;
		}
	}

	&__popular {
		&--wrap {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 56px;
		}

		&-legend {
			font-family: $main-font;
			font-size: rem(32px);
			line-height: 1;
			text-transform: none;
			margin: 0;
		}

		&-link {
			position: relative;
			padding-right: 21px;
			font-size: rem(14px);
			transition: color 0.3s ease-in-out;

			&::before {
				content: "\e90a";
				font-family: "icomoon";
				position: absolute;
				top: 50%;
				right: 0;
				transform: translateY(-50%);
				font-size: 13px;
				color: #3C4765;
				transition: color 0.3s ease-in-out;
			}

			&:hover {
				color: $color-red2;

				&::before {
					color: $color-red2;
				}
			}
		}
	}

	&__popular-list {
		.main_list__col {
			&:last-child {
				&:hover {
					.main_list__item {
						padding: 0;

						&_text {
							transform: translateY(-60px);
							padding: 1rem;
							background: #FFF;
						}

						.main_list__text--hidden {
							opacity: 1;
							visibility: visible;
						}

						& .item_btn {
							opacity: 1;
							visibility: visible;
						}
					}

					@include _1024 {
						.main_list__item {
							padding: 1rem;

							&_text {
								transform: none;
								padding: 0;
								background: transparent;
							}

							.main_list__text--hidden {
								opacity: 0;
								visibility: hidden;
							}

							& .item_btn {
								opacity: 1;
								visibility: visible;
							}
						}
					}

				}
			}
		}

		.main_list__item_text {
			padding-bottom: 46px;
		}
	}

	@include _1440 {
		&__images {
			width: 38.7%;
			&--small {
				top: 22px;
				left: 16px;
			}
		}

		&__info {
			width: calc(100% - 525px);
		}

		&__name {
			max-width: 80%;
		}

		&__in-stock {
			margin-bottom: 36px;
		}

		&__price {
			font-size: 1.7rem;

			.icon-ruble {
				font-size: 19px;
			}
		}
	}

	@include _1366 {
		&__nav {
			margin-bottom: 36px;
			padding: 28px 36px;
		}
	}

	@include _1366 {
		&__info {
			width: calc(100% - 475px);
		}

		&__name {
			font-size: 1.8rem;
		}

		&__help {
			font-size: 0.9rem;
		}

		&__button {
			padding: 15px 34px;
		}

	}

	@include _1280 {
		&__popular-legend {
			font-size: 1.8rem;
		}

		&__content-info {
			max-width: 50%;
		}
	}

	@include _1200 {
		&__popular-list {
			.main_list__item_text {
				padding-bottom: 0;
			}
		}

		&__images {
			width: 44.7%;
		}

		&__name {
			max-width: 90%;
		}
	}

	@include _992 {
		&__info {
			width: calc(100% - 435px);
		}

		&__help {
			max-width: 95%;
		}

		&__nav-item {
			margin-right: 34px;
		}

		&__content-info {
			max-width: 80%;
			font-size: 0.9rem;
		}

		&__content-col {
			&:nth-child(1) {
				width: 50%;
				margin-right: 24px;
			}

			&:nth-child(2) {
				width: 50%;
			}
		}

		&__content-text {
			font-size: 0.9rem;
		}

		&__content-item {
			font-size: 0.9rem;
		}

		&__popular-list {
			.main_list__item {
				background-size: contain;
				background-position: center !important;
			}
		}
	}

	@include _769 {
		&__top {
			flex-direction: column;
			align-items: center;
			justify-content: stretch;
		}

		&__images {
			width: 100%;
			margin-bottom: 32px;
			height: 450px;

			&--big {
				height: 100%;

				.slick-list,
				.slick-track {
					height: 100%;
					.slick-slide {
						height: 100%;

						div {
							height: 100%;
							background-color: #F7F9FA;
						}

						img {
							object-fit: contain;
						}
					}
				}
			}
		}

		&__info {
			width: 100%;
		}

		&__name {
			max-width: 100%;
		}
	}

	@include _740 {
		&__nav {
			flex-direction: column;
			padding: 18px 26px;
		}

		&__nav-item {
			margin-right: 0;
			margin-bottom: 16px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		&__bottom {
			margin-bottom: 76px;
		}
	}

	@include _500 {
		margin-top: 44px;

		&__images {
			height: 380px;

			&--big {
				.slick-dots {
					bottom: 12px;
				}
			}

			&--small-wrap {
				height: 42px;

				img {
					object-fit: contain;
				}
			}
		}

		&__content-row {
			flex-direction: column;
		}

		&__content-col {
			&:nth-child(1) {
				width: 100%;
				margin-bottom: 32px;
			}
			&:nth-child(2) {
				width: 100%;
			}
		}
	}

	@include _480 {
		&__btn-group {
			flex-direction: column;
		}

		&__quant {
			margin-bottom: 24px;
			width: 100%;
		}

		&__button {
			padding: 25px 34px;
		}

		&__content-info {
			font-size: 1rem;
		}

		&__content-item,
		&__content-text {
			font-size: 1rem;
		}

		&__popular--wrap {
			flex-direction: column;
			align-items: flex-start;
			margin-bottom: 26px;
		}

		&__popular-legend {
			margin-bottom: 24px;
		}

		&__content-legend {
			font-size: 1.225rem;
		}
	}

	@include _375 {
		&__images {
			height: 330px;
		}

		&__content-info {
			max-width: 100%;
			margin-bottom: 38px;
		}

		&__tabs {
			margin-bottom: 60px;
		}

		&__bottom {
			margin-bottom: 56px;
		}
	}

	@include _360 {
		&__name {
			font-size: 1.6rem;
		}
	}

}
