.page-catalog {
	margin-top: 63px;
	margin-bottom: 150px;

	&__image {
		position: absolute;
		top: 30px;
		right: 0;
	}

	&__title {
		position: relative;
		z-index: 7;
		max-width: 50%;

		h1 {

			&::before {
				top: -1.5rem;
				height: 169%;
				transform: skew(-25.4deg);
				width: 159.5px;
			}


			span {
				&::before {
					right: -3.1rem;
				}
			}

			@include _1536 {
				font-size: rem(35px);
			}
		}
	}

	.hero_section__list {
		position: relative;
		z-index: 10;
		max-width: 37%;
		margin-bottom: 48px;
	}

	&__text {
		position: relative;
		z-index: 10;
		font-size: rem(24px);
		max-width: 40%;
		margin: 0;
		margin-bottom: 32px;
	}

	@include _1680 {
		&__image {
			top: 130px;
			width: 60%;
		}
	}

	@include _1536 {
		&__title {
			max-width: 70%;

			h1 {
				&::before {
					height: 229%;
					width: 139.5px;
				}
			}

			span {
				&::before {
					bottom: 0.2rem;
				}
			}
		}

		&__image {
			top: 160px;
		}

		&__text {
			font-size: 1.3rem;
			margin-bottom: 22px;
		}
	}

	@include _1440 {
		.btn_wrap {
			p {
				font-size: 0.9rem;
			}
		}
	}

	@include _1366 {
		&__text {
			display: none;
		}

		.hero_section__list {
			margin-bottom: 44px;
		}
	}

	@include _1280 {
		margin-bottom: 120px;

		&__title {
			max-width: 60%;

			h1 {
				font-size: rem(32px);

				&::before {
					height: 179%;
				}
			}
		}

		.hero_section__item {
			font-size: 0.9rem;
		}
	}
	@include _1200 {
		&__title {
			max-width: 90%;

			h1 {
				&::before {
					height: 209%;
				}
			}

			span {
				&::before {
					content: none;
				}
			}
		}

		&__image {
			top: 240px;
		}
	}

	@include _992 {
		&__title {
			max-width: 80%;
		}

		&__image {
			top: 280px;
		}
	}

	@include _769 {
		&__title {
			h1 {
				font-size: 1.8rem;
			}
		}

		.hero_section__list {
			max-width: 49%;
		}

		&__image {
			top: 370px;
		}
	}

	@include _740 {
		position: relative;
		margin-bottom: 220px;

		&__title {
			max-width: 100%;
		}

		.hero_section__list {
			max-width: 74%;
		}

		&__image {
			top: auto;
			bottom: -180px;
		}

		.btn_wrap {
			p {
				display: none;
			}
		}
	}

	@include _500 {
		&__title {
			max-width: 90%;

			h1 {
				br {
					display: none;
				}

				&::before {
					height: 129%;
				}
			}
		}

		.hero_section__list {
			max-width: 96%;
		}

		&__image {
			bottom: -210px;
		}
	}

	@include _375 {
		margin-top: 53px;

		&__title {
			h1 {
				font-size: 1.6rem;
			}
		}

		&__image {
			width: 70%;
		}
	}

	@include _360 {
		.button {
			padding: 1.6rem 1.7rem;
		}

		.hero_section__list {
			margin-bottom: 37px;
		}
	}


}

.catalog-products {
	&__row {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		margin-bottom: 100px;
	}

	&__col {
		&:nth-child(1) {
			width: 274px;
			overflow: hidden;
		}

		&:nth-child(2) {
			width: calc(100% - 305px);
		}
	}

	&__legend {
		position: relative;
		display: inline-block;
		font-size: rem(24px);
		line-height: 27px;
		margin-bottom: 20px;

		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: 110%;
			width: 440%;
			height: 2px;
			background-color: #DAE2E8;
		}
	}

	&__list {
		margin-bottom: 32px;

		&:nth-of-type(2) {
			margin-bottom: 20px;
		}
	}

	&__item {
		font-size: rem(16px);
		line-height: 26px;
		margin-bottom: 20px;

		a {
			transition: color 0.2s ease;

			&:hover {
				color: #D0241F;
			}
		}

		&:last-child {
			margin-bottom: 0;
		}


		&.active {
			color: #D0241F;
		}

	}

	&__item-legend {
		cursor: pointer;

		.icon-right-arrow {
			display: inline-block;
			margin-left: 15px;
			font-size: rem(14px);
			transform: rotate(-90deg);
			transition: transform 0.3s ease;
		}

		&.active {
			.icon-right-arrow {
				transform: rotate(90deg);
			}
		}
	}

	&__sublist {
		margin-top: 10px;
		padding-left: 25px;
	}

	&__subitem {
		margin-bottom: 10px;
		color: #414B62;

		a {
			transition: color 0.2s ease-in-out;

			&:hover {
				color: #D0241F;
			}
		}

		&.active {
			color: #D0241F;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__search {
		position: relative;
		padding: 19px 20px 21px 25px;
		background-color: #fff;
		border-radius: 2px;
		margin-bottom: 20px;

		label.error {
			position: absolute;
			left: 25px;
			bottom: 0;
			font-size: 12px;
			color: #D0241F;
		}
	}

	&__search-button {
		position: absolute;
		top: 50%;
		right: 22px;
		transform: translateY(-50%);

		.icon-search {
			font-size: rem(14px);
			color: #D0241F;
			cursor: pointer;
		}
	}

	&__input {
		background-color: transparent;
		border: none;
		border-radius: 0;
		border-bottom: 1px solid #C5D0D9;
		margin: 0;
		padding: 0;
		width: 80%;

		&::placeholder {
			color: #C5D0D9;
		}
	}

	&__brands--show-more {
		display: block;
		margin-bottom: 32px;
		font-size: rem(16px);
		line-height: 26px;
		color: #D0241F;

		span {
			cursor: pointer;
		}
	}

	&__sort {
		position: relative;
		display: flex;
		justify-content: flex-end;
		margin-bottom: 64px;

		&-label {
			display: flex;
			align-items: center;
			font-size: rem(14px);
			line-height: 26px;

			.icon-right-arrow {
				display: inline-block;
				font-size: rem(14px);
				color: #414B62;
				transform: rotate(90deg);
				margin-left: 10px;
				cursor: pointer;
				transition: transform 0.3s ease-in-out;

				&.active {
					transform: rotate(-90deg);
				}
			}
		}

		&-list {
			position: absolute;
			top: 100%;
			right: 0;
			z-index: 150;
			padding: 20px;
			background-color: $white;
		}

		&-item {
			font-size: rem(14px);
			line-height: 20px;
			margin-bottom: 10px;
			cursor: pointer;

			&:hover {
				color: #D0241F;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__input-wrap {
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-color: $white;
		padding: 19px 37px;
	}

	&__price {
		position: relative;

		&-input {
			background-color: transparent;
			border-radius: 0;
			border: none;
			padding: 0;
			margin: 0;
			width: 76px;
			border-bottom: 1px solid #C5D0D9;

			/* Chrome, Safari, Edge, Opera */
			&::-webkit-outer-spin-button,
			&::-webkit-inner-spin-button {
				-webkit-appearance: none;
				margin: 0;
			}

			/* Firefox */
			&[type=number] {
				-moz-appearance: textfield;
			}
		}

		&-line {
			margin: 0 auto;
			width: 98%;
			margin-top: 24px;
			margin-bottom: 20px;

			&.noUi-horizontal {
				height: 2px;
				background: #c0c7cc;
				border: none;
				box-shadow: none;
				border-radius: 0;

				.noUi-handle {
					width: 18px;
					height: 18px;
					// right: 0;
					top: -9px;
					border: none;
					border-radius: 50%;
					background: #D0241F;
					box-shadow: none;
					cursor: pointer;

					&::before,
					&::after {
						content: none;
					}

					&.noUi-handle-upper {
						right: 0;
					}
					&.noUi-handle-lower {
						left: 26px;
					}
				}
			}

			.noUi-connect {
				background: #D0241F;
			}
		}
	}


	&__container {
		margin: -16px;
	}

	&__container-col {
		width: calc(33.3% - 32px);
		padding: 0;
		margin: 16px;

		&:last-child {
			&:hover {
				.main_list__item {
					padding: 0;

					&_text {
						transform: translateY(-60px);
						padding: 1rem;
						background: #FFF;
					}

					.main_list__text--hidden {
						opacity: 1;
						visibility: visible;
					}

					& .item_btn {
						opacity: 1;
						visibility: visible;
					}
				}

				@include _1024 {
					.main_list__item {
						padding: 1rem;

						&_text {
							transform: none;
							padding: 0;
							background: transparent;
						}

						.main_list__text--hidden {
							opacity: 0;
							visibility: hidden;
						}

						& .item_btn {
							opacity: 1;
							visibility: visible;
						}
					}
				}

			}
		}
	}

	&__container-item {
		.main_list__item_text {
			padding-bottom: 56px;
		}

	}

	&__pagination {
		margin-top: 40px;
	}

	@include _1536 {
		&__sort {
			margin-bottom: 32px;
		}
	}

	@include _1440 {
		&__container-item {
			.main_list__item_text {
				padding-bottom: 26px;
			}
		}
	}

	@include _1280 {
		&__container-item {
			min-height: 21.475rem;
		}

		&__item {
			margin-bottom: 16px;
		}
	}

	@include _1024 {
		&__container-col {
			width: calc(33.3% - 32px);
		}

		&__col {
			&:nth-child(1) {
				width: 244px;
			}

			&:nth-child(2) {
				width: calc(100% - 276px);
			}
		}

		&__container-item {
			min-height: 18.275rem;
			padding: 1rem;

			.main_list__item_text {
				padding-bottom: 0;

				p {
					font-size: 14px;
					overflow: hidden;
					text-overflow: ellipsis;
					display: -moz-box;
					-moz-box-orient: vertical;
					display: -webkit-box;
					-webkit-line-clamp: 1;
					-webkit-box-orient: vertical;
					line-clamp: 1;
					box-orient: vertical;
				}
			}
		}

		&__legend {
			font-size: 1.3rem;
		}

		&__price-line {
			&.noUi-horizontal .noUi-handle.noUi-handle-lower {
				left: 22px;
			}
		}
	}

	@include _992 {

		&__container-col {
			width: calc(50% - 32px);
		}

		&__container-item {
			min-height: 24.875rem;

			.main_list__item_text {
				p {
					font-size: 1rem;
					overflow: hidden;
					text-overflow: ellipsis;
					display: -moz-box;
					-moz-box-orient: vertical;
					display: -webkit-box;
					-webkit-line-clamp: 2;
					-webkit-box-orient: vertical;
					line-clamp: 1;
					box-orient: vertical;
				}
			}
		}
	}

	@include _769 {
		&__container {
			margin: -8px;
		}

		&__container-col {
			width: calc(50% - 16px);
			margin: 8px;
		}

		&__container-item {
			min-height: 17.775rem;

			.main_list__item_text {
				p {
					font-size: 14px;
					overflow: hidden;
					text-overflow: ellipsis;
					display: -moz-box;
					-moz-box-orient: vertical;
					display: -webkit-box;
					-webkit-line-clamp: 1;
					-webkit-box-orient: vertical;
					line-clamp: 1;
					box-orient: vertical;
				}
			}
		}
	}

	@include _740 {
		&__row {
			flex-direction: column;
		}

		&__col {
			&:nth-child(1) {
				width: 100%;
				margin-bottom: 24px;
			}

			&:nth-child(2) {
				width: 100%;
			}
		}

		&__price-line {
			&.noUi-horizontal .noUi-handle.noUi-handle-lower {
				left: 51px;
			}

			&.noUi-horizontal .noUi-handle.noUi-handle-upper {
				right: -3px;
			}
		}

		&__legend {
			&::before {
				width: 1000%;
			}
		}

		&__price-input {
			width: 106px;
			text-align: center;
		}

		&__sort-list {
			right: auto;
			left: 0;
		}

		&__container-col {
			width: calc(50% - 16px);
		}

		&__list {
			&.--brands-list {
				margin-bottom: 20px;
			}
		}

		&__legend {
			display: block;
			padding-bottom: 10px;

			&.active {
				&::before {
					transform: translateY(-50%) rotate(-90deg);
				}
			}

			&::after {
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 1px;
				background-color: #DAE2E8;
			}

			&::before {
				content: "\e90a";
				font-family: icomoon;
				left: auto;
				right: 0;
				width: auto;
				background-color: transparent;
				height: auto;
				font-size: rem(14px);
				transform: translateY(-50%) rotate(90deg);
				transition: transform 0.3s ease-in-out;
			}
		}

		&__wrapper {
			display: none;
		}

		&__sort {
			justify-content: flex-start;
		}

		&__container-item {
			min-height: 22.775rem;
			background-size: contain !important;
			background-position: center center !important;
		}
	}

	@include _500 {
		&__price-line {
			&.noUi-horizontal .noUi-handle.noUi-handle-lower {
				left: 46px;
			}
		}
	}

	@include _480 {
		&__container-item {
			min-height: 20.775rem;
		}

		&__price-line {
			&.noUi-horizontal .noUi-handle.noUi-handle-lower {
				left: 35px;
			}
		}
	}

	@include _375 {
		&__price-line {
			&.noUi-horizontal .noUi-handle.noUi-handle-lower {
				left: 30px;
			}
		}
	}

	@include _360 {
		&__container-item {
			min-height: 16.875rem;
		}

		&__legend {
			font-size: 1.2rem;
		}
	}
}
