.contacts {
	&__title {
		margin-top: 33px;

		h1 {
			&::before {
				content: none;
			}
		}
	}

	&__row {
		display: flex;
		margin-bottom: 86px;
	}

	&__col {
		width: 50%;

		&:nth-child(1) {
			border-right: 1px solid #DAE2E8;
			padding-right: 54px;
		}

		&:nth-child(2) {
			display: flex;
			flex-direction: column;
			padding-left: 54px;

			.contacts__map {
				margin-left: -54px;
			}

			.contacts__requisites-title {
				display: none;
			}

			.contacts__requisites {
				margin-top: auto;
			}
		}
	}

	&__city-name {
		display: block;
		margin-bottom: 40px;
		color: #414B62;
		font-size: rem(16px);
		font-family: $main-font;
	}

	&__company-info-item {
		margin-bottom: 24px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__email {
		display: inline-block !important;
		position: relative;
		color: $red;

		&::before {
			content: "";
			position: absolute;
			left: 0;
			bottom: -3px;
			width: 100%;
			height: 2px;
			border-bottom: 1px dashed $red;
		}

		&:hover {
			&::before {
				content: none;
			}
		}
	}

	&__info {
		margin-bottom: 70px;
	}

	&__map {
		width: calc(100% + 54px);
		height: 600px;
		margin-bottom: 92px;
		background-color: grey;
	}

	// &__requisites {
	// 	margin-bottom: 86px;
	// }

	&__requisites-title {
		max-width: 80%;
		margin-bottom: 64px;

		&::before {
			content: none;
		}
	}

	&__requisites-city {
		display: block;
		margin-bottom: 30px;
		color: #414B62;
		font-size: rem(16px);
		font-family: $main-font;
	}

	&__requisites_container {
		width: 100%;
	}

	&__requisites-item {
		display: flex;
		align-items: flex-start;
		width: 100%;
		margin-bottom: 16px;

		span {
			display: block;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__requisites-text {
		width: 50%;
		margin-left: auto;
		font-size: rem(16px);
		text-align: left;

		&.contacts__email {
			width: auto;
			margin-left: 0;
		}
	}

	&__requisites-legend {
		width: 50%;
		font-size: rem(18px);
	}

	@include _1440 {
		&__map {
			height: 530px;
		}

		&__title {
			h1 {
				font-size: rem(37px);
			}
		}

		&__city-name {
			margin-bottom: 25px;
		}
	}

	@include _1366 {
		&__company-info-item {
			margin-bottom: 20px;
		}
	}

	@include _1280 {
		&__map {
			height: 460px;
		}
	}

	@include _1200 {
		&__requisites-legend {
			margin-right: 15px;
		}

		&__requisites-title {
			margin-bottom: 50px;
		}
	}

	@include _992 {
		&__title {
			h1 {
				font-size: rem(32px);
			}
		}

		&__requisites-item {
			flex-direction: column;
			margin-bottom: 25px;
		}

		&__requisites-legend {
			width: 100%;
			margin-right: 0;
			margin-bottom: 10px;
			line-height: 1;

			br {
				display: none;
			}
		}

		&__requisites-text {
			width: 100%;
			font-size: 0.9rem;
		}

		&__col {
			&:nth-child(1) {
				padding-right: 34px;
			}

			&:nth-child(2) {
				padding-left: 34px;

				.contacts__map {
					margin-left: -34px;
				}
			}
		}

		&__map {
			width: calc(100% + 34px);
			margin-bottom: 62px;
		}
	}

	@include _769 {
		&__map {
			height: 400px;
		}

		&__col {
			&:nth-child(2) {
				.contacts__requisites_container {
					margin-bottom: 47px;
				}
			}
		}
	}

	@include _740 {
		&__row {
			flex-direction: column;
		}

		&__col {
			width: 100%;

			&:nth-child(1) {
				padding-right: 0;
				border: none;
				border-bottom: 1px solid #DAE2E8;
				padding-bottom: 32px;
				margin-bottom: 32px;
			}

			&:nth-child(2) {
				padding-left: 0;

				.contacts__requisites-title {
					display: block;
				}

				.contacts__map {
					margin-left: -32px;
				}
			}
		}

		&__map {
			width: auto;
			margin-right: -32px;
			margin-left: -32px;
			margin-bottom: 42px;
		}

		&__info {
			margin-bottom: 40px;
		}

		&__requisites-title {
			margin-bottom: 30px;
		}

		&__row {
			margin-bottom: 50px;
		}

		&__title {
			h1 {
				margin-bottom: 3rem;
			}
		}
	}

	@include _500 {
		&__title {
			h1 {
				font-size: rem(26px);
				margin-bottom: 2rem;
			}
		}

		&__map {
			margin-right: -16px;
			margin-left: -16px;
		}

		&__col {
			&:nth-child(2) {
				.contacts__map {
					margin-left: -16px;
				}
			}
		}
	}
}

.company-info {
	&__legend {
		display: block;
		margin-bottom: 10px;
		font-size: rem(18px);
	}

	&__text {
		display: block;
		font-size: rem(16px);
	}

	&__adress {
		display: block;

		.company-info__text {
			max-width: 47%;
		}
	}

	@include _992 {
		&__text {
			font-size: 0.9rem;
		}

		&__legend {
			line-height: 1;
			margin-bottom: 10px;
		}
	}

	@include _740 {
		&__adress {
			.company-info__text {
				max-width: 100%;
			}
		}
	}
}
