.delivery {
	position: relative;
	margin-top: 80px;
	margin-bottom: 160px;

	&__image {
		position: absolute;
		right: 0;
		bottom: -110px;
	}

	&__title {
		max-width: 52%;
		margin-bottom: 40px;

		span {
			&::before {
				right: 15.1rem;
			}
		}
	}

	.hero_section__list {
		max-width: 60%;
	}

	@include _1680 {
		&__image {
			width: 60%;
			bottom: -90px;
		}
	}

	@include _1536 {
		&__title {
			max-width: 72%;

			h1 {
				font-size: rem(35px);
			}

			span {
				&::before {
					right: 7.1rem;
					bottom: 0.2rem;
				}
			}
		}
	}

	@include _1366 {
		margin-top: 60px;

		&__title {
			h1 {
				&::before {
					width: 139.5px;
				}
			}
		}

		.hero_section__list {
			max-width: 40%;
		}
		.hero_section__item {
			font-size: 0.9rem;
			margin-bottom: 0.95rem;
		}

		.btn_wrap {
			p {
				font-size: 0.9rem;
			}
		}
	}

	@include _1280 {
		margin-bottom: 120px;

		&__title {
			margin-bottom: 50px;

			h1 {
				font-size: rem(32px);
			}

			span {
				&::before {
					right: 6.3rem;
				}
			}
		}

		&__image {
			width: 55%;
			bottom: 0px;
		}
	}

	@include _1200 {
		&__title {
			span {
				&::before {
					content: none;
				}
			}
		}

		&__image {
			width: 60%;
		}
	}

	@include _992 {
		padding-bottom: 60px;

		&__title {
			h1 {
				font-size: rem(28px);
			}
		}

		.hero_section__list {
			max-width: 100%;
		}

		&__image {
			bottom: -90px;
		}

		.btn_wrap {
			p {
				display: none;
			}

		}
		.button {
			padding: 1.5rem 1.8rem;
		}
	}

	@include _769 {
		&__title {
			h1 {
				br {
					display: none;
				}
			}
		}

		.hero_section__list {
			max-width: 80%;
		}

		&__image {
			bottom: -70px;
		}
	}

	@include _740 {
		margin-bottom: 50px;

		&__title {
			max-width: 92%;

			h1 {
				&::before {
					width: 119.5px;
				}
			}
		}

		&__list {
			max-width: 70%;
		}

		&__image {
			bottom: 10px;
			right: -90px;
		}
	}

	@include _500 {
		&__title {
			max-width: 100%;
		}

		&__image {
			right: -73px;
		}
	}

	@include _480 {
		margin-top: 40px;

		&__title {
			h1 {
				font-size: rem(24px);
			}
		}
	}

	@include _375 {
		padding-bottom: 0;
		margin-bottom: 80px;

		&__title {
			margin-bottom: 30px;

			h1 {
				&::before {
			    	height: 118%;
					width: 89.5px;
				}
			}
		}

		&__image {
			right: -60px;
			bottom: 70px;
		}

		.hero_section__list {
			max-width: 100%;
		}

		.hero_section__item:not(:first-child) {
			max-width: 60%;
		}
	}
}


.in-time {
	position: relative;
	padding-bottom: 100px;

	&__image {
		position: absolute;
		right: -250px;
		bottom: 50px;
	}

	&__title {
		max-width: 50%;
		margin-bottom: 105px;

		h2 {
			position: relative;
			z-index: 7;
			margin-bottom: 16px;

			&::before {
				top: -1.5rem;
				transform: skew(-25.4deg);
				width: 139.5px;
				height: 208%;
			}
		}

		span {
			&::before {
				right: -3.2rem;
			}
		}


		p {
			position: relative;
			z-index: 10;
			max-width: 90%;
			margin: 0;
			font-size: rem(18px);
		}
	}

	&__list {
		max-width: 32%;
		margin-bottom: 40px;
	}

	&__item {
		position: relative;
		padding-left: 2.25rem;
		color: #414B62;
		margin-bottom: 16px;

		&::before {
			content: "";
			position: absolute;
			top: 5px;
			left: 4px;
			width: 7px;
			height: 19px;
			background-color: #E83832;
			transform: skew(-25deg);
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__text {
		max-width: 43%;
	}

	@include _1680 {
		&__image {
			width: 60%;
		}
	}

	@include _1536 {
		&__title {
			margin-bottom: 55px;
		}
	}

	@include _1440 {
		&__image {
			right: -180px;
		}
	}

	@include _1200 {
		&__list {
			max-width: 100%;
		}

		&__image {
			bottom: 30px;
		}

		&__title {
			span {
				&::before {
					content: none;
				}
			}
		}
	}

	@include _992 {
		&__title {
			margin-bottom: 35px;

			p {
				font-size: 0.9rem;
				max-width: 80%;
			}
		}

		&__item {
			font-size: 0.9rem;
			padding-left: 1.55rem;

			&::before {
				width: 5px;
				height: 16px;
			}
		}

		&__text {
			font-size: 0.9rem;
		}
	}

	@include _769 {
		&__title {
			max-width: 90%;
		}

		&__image {
			right: -90px;
		}
	}

	@include _740 {
		&__text {
			max-width: 63%;
		}
	}

	@include _500 {
		&__text {
			&:nth-of-type(1) {
				max-width: 100%;
			}
		}

		&__list {
			max-width: 80%;
		}
	}

	@include _480 {
		&__title {
			max-width: 100%;
			margin-bottom: 30px;

			h2 {
				&::before {
				    width: 89.5px;
				}
			}
		}

		&__image {
			right: -50px;
		}
	}

	@include _375 {
		&__title {
			h2 {
				&::before {
					height: 168%;
				}
			}
		}

		&__list {
			max-width: 100%;
		}
	}
}

.delivery-cars {
	padding-top: 123px;
	padding-bottom: 40px;
	background-color: #DAE2E8;
	margin-bottom: 130px;

	&__title {
		max-width: 50%;
		margin-bottom: 56px;

		span {
			&::before {
				right: -3.5rem;
			}
		}
	}

	&__list {
		display: flex;
		align-items: flex-end;
		justify-content: center;
		max-width: 70%;
		margin: 0 auto;
		margin-bottom: 90px;
	}

	&__item {
		position: relative;
		flex-shrink: 0;
		text-align: center;

		&:nth-child(1) {
			margin-right: -241px;
			z-index: 10;

			.delivery-cars__img {
				margin-bottom: 3px;
			}
		}

		&:nth-child(2) {
			margin-right: -160px;
			z-index: 8;
		}
	}

	&__img {
		display: block;
		margin-bottom: 16px;
	}

	&__text {
		display: block;
		font-size: rem(18px);
	}

	&__info {
		max-width: 52%;
		margin: 0 auto;
		text-align: center;
	}

	@include _1680 {
		&__list {
			margin-left: 340px;
		}
	}

	@include _1536 {
		&__list {
			margin-left: 330px;
		}

		&__title {
			margin-bottom: 47px;

			span {
				&::before {
					right: -2.5rem;
					bottom: 0.2rem;
				}
			}
		}
	}

	@include _1440 {
		&__list {
			margin-left: 292px;
		}

		&__item {
			&:nth-child(1) {
				margin-right: -271px;
			}

			&:nth-child(2) {
				margin-right: -270px;
			}

			img {
				width: 77%;
				margin: 0 auto;
				margin-bottom: 16px;
			}
		}
	}

	@include _1366 {
		&__list {
			margin-left: 272px;
		}

		&__title {
			h2 {
				&::before {
					width: 139.5px;
				}
			}
		}
	}

	@include _1280 {
		margin-bottom: 80px;
	}

	@include _1200 {
		padding-top: 83px;

		&__list {
			margin-left: auto;
			nav-right: auto;
			justify-content: space-around;
			max-width: 90%;
		}

		&__item {
			flex-shrink: 1;

			&:nth-child(1) {
				margin-right: 0;
			}

			&:nth-child(2) {
				margin-right: 0;
			}

			img {
				width: 100%;
			}
		}

		&__title {
			max-width: 60%;

			span {
				&::before {
					content: none;
				}
			}
		}
	}

	@include _992 {
		&__text {
			font-size: 0.9rem;
		}

		&__info {
			font-size: 0.9rem;
		}

		&__list {
			margin-bottom: 60px;
		}
	}

	@include _769 {
		&__title {
			max-width: 70%;
		}

		&__info {
			max-width: 72%;
		}
	}

	@include _740 {
		margin-bottom: 60px;

		&__info {
			max-width: 100%;
		}

		&__list {
			flex-wrap: wrap;
		}

		&__item {
			margin-bottom: 24px;

			&:last-child {
				margin-bottom: 0;
			}

			img {
				width: 70%;
			}
		}

		&__text {
			font-size: 1rem;
		}
	}

	@include _500 {
		margin-bottom: 50px;

		&__title {
			max-width: 90%;
		}
	}

	@include _480 {
		&__title {
			h2 {
				&::before {
				    width: 89.5px;
				}
			}
		}
	}

	@include _375 {
		margin-bottom: 30px;
		padding-top: 63px;

		&__title {
			max-width: 100%;
		}
	}
}

.delivery-form {
	position: relative;

	&__img {
		position: absolute;
		right: -270px;
		bottom: 74px;
	}

	.footer_section__col {
		&:nth-child(1) {
			flex: 0 0 45.7%;
			max-width: 45.7%;
		}
	}

	.main-title {
		max-width: 100%;
		margin-bottom: 100px;

		h2 {
			position: relative;
			z-index: 10;
			margin-bottom: 16px;

			&::before {
				height: 198%;
				width: 145.5px;
			}
		}

		span {
			&::before {
				right: -3.8rem;
			}
		}

		p {
			position: relative;
			z-index: 15;
			font-size: rem(18px);
			max-width: 80%;
		}
	}

	&__legend {
		display: block;
		margin-bottom: 20px;
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		margin: -10px;
		max-width: 386px !important;
	}
	&__item {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 173px;
		height: 173px;
		padding: 0 !important;
		margin: 0 !important;
		margin: 10px !important;
		background-color: $white;

		&::before {
			content: none !important;
		}

		img {
			filter: grayscale(99%);
			transition: filter 0.2s ease-in-out;
		}

		&:hover {
			img {
				filter: none;
				transition: filter 0.3s ease-in-out;
			}
		}
	}

	@include _1680 {
		&__img {
			right: -360px;
		}
	}

	@include _1536 {
		.main-title {
			margin-bottom: 80px;

			h2 {
				margin-bottom: 17px;
			}

			span {
				&::before {
					right: -1.2rem;
				}
			}
		}

		&__img {
			bottom: 37px;
		}
	}

	@include _1280 {
		&__img {
			right: -230px;
			width: 100%;
		}

		&__item {
			width: 153px;
			height: 143px;

			img {
				filter: none;
			}
		}
	}

	@include _992 {
		.main-title {
			h2 {
				margin-bottom: 1rem;

				&::before {
					top: -1.5rem;
					transform: skew(-25.4deg);
				}
			}

			p {
				font-size: 0.9rem;
			}
		}

		&__item {
			img {
				width: 40%;
			}
		}
	}

	@include _769 {
		padding-bottom: 15rem;

		&__img {
			right: -140px;
		}

		&__item {
			width: 143px;
			height: 133px;
		}

		.main-title {
			h2 {
				&::before {
					top: -1rem;
					height: 120%;
				}
			}
		}

	}

	@include _740 {
		padding-bottom: 16rem;

		.footer_section__col {
			&:nth-child(1) {
				flex: 0 0 100%;
				max-width: 100%;
			}
		}

		.main-title {
			margin-bottom: 40px;
		}

		&__img {
			right: -50px;
		}

	}

	@include _480 {
		padding-bottom: 14rem;
	}

	@include _360 {

	}
}
