
.header_main {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	background-color: $white;
	width: 100%;

	&.active {
		.header-navigation {
			background-color: #EEF2F5;
		}

		.header_main__top {
			opacity: 0;
			visibility: hidden;
		}
	}

	.header-navigation {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 9999;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		width: 100px;
		height: 100%;
		margin-left: auto;
		background-color: $white;
		padding: 50px 31px;
		border-right: 1px solid #E2E6E9;
		transition: background-color 0.3s ease-in-out;
	}

	& .mobile_burger {
		display: none;
		position: absolute;
		top: 6.3rem;
		right: -4rem;
		width: 65px;
		height: 100px;
		background-color: #FFF;
		border-radius: 0 5px 5px 0;
		align-items: center;
		justify-content: center;
		font-size: 1.5rem;
		color: $red;
		transition: opacity .3s, right .3s, top .3s;

		&.active {
			right: 0;
			opacity: 0;
			visibility: hidden;
		}

		&.hidden {
			right: 0 !important;
		}
	}

	&__item {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		color: #7D869B;
		font-size: 0.9rem;
		line-height: 1.5;
		margin-bottom: 3.1rem;
		cursor: pointer;

		&:first-child {
			margin-bottom: 5rem;
		}
		&.burger {
			& .menu_burger {
				margin-bottom: 10px;
			}
		}

		&.basket-cart {

			&.active {
				.icon {
					background-color: $color-red2;
					border-color: $color-red2;

					.icon-basket {
						color: $white;
					}
				}
			}

			& .icon {
				&::before {
					content: url(../images/circle.svg);
					position: absolute;
					left: -4px;
					bottom: -11px;
				}

			}


			& .basket-cart-count {
				position: absolute;
				top: -9px;
				right: -10px;
				display: flex;
				align-items: center;
				justify-content: center;
				min-width: 22px;
				min-height: 22px;
				background-color: #fff;
				color: #0F203D;
				border-radius: 50%;
			}
		}

		& .icon {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 35px;
			height: 35px;
			font-size: 0.9rem;
			border-radius: 50%;
			border: 1px solid #2A303E;
			color: $red;
			transition: color .3s, background-color .3s, border-color .3s;
			margin-bottom: 6px;
		}

		&:hover {
			& .icon {
				color: $white;
				background-color:$red;
				border: 1px solid $red;
			}
		}

	}

	&__top {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 55px;
		height: 84px;
		background-color: $red;
		cursor: pointer;
		margin-top: auto;
		margin-bottom: 8.1rem;
		transition: visibility 0.2s ease-in-out, opacity 0.2s ease-in-out;
		&.hidden {
			opacity: 0;
			visibility: hidden;
		}
	}

	&__info {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #EEF2F5;
		padding-top: 163px;
		padding-bottom: 150px;
		transform-origin: left;
		transform: translateX(-100%);

		.site-container {
			height: 100%;
		}
	}

	&__row {
		display: flex;
		justify-content: space-between;
		height: 100%;
	}

	&__col {
		&:nth-child(1) {
			max-width: 390px;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
		}

		&:nth-child(2) {
			max-width: 264px;

			.header_main__policy {
				display: none;
			}
		}
	}

	&__nav {
		ul {
			li {
				margin-bottom: 32px;
				opacity: 0;
				transform: translateX(-150px);

				&.strong {
					a {
						font-family: $second-font;
					}
				}

				a {
					font-family: $second-font-light;
					font-size: rem(32px);
					line-height: 1.4;
					text-transform: uppercase;
					transition: color 0.2s ease-in-out;

					&:hover {
						color: $color-red2;
					}

				}

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}

	&__policy {
		margin-top: auto;
		position: relative;
		display: inline-block;
		transform: translateY(50px);
		opacity: 0;

		&::before {
			content: "";
			position: absolute;
			left: 0;
			bottom: -2px;
			width: 100%;
			height: 2px;
			border-bottom: 1px dashed #3C4765;
		}

		&:hover {
			color: $color-red2;

			&::before {
				content: none;
			}
		}
	}

	&__consultation {
		span {
			display: inline-block;
			text-align: center;
			margin-bottom: 20px;
		}

		img {
			width: 100%;
			margin-bottom: 25px;
		}
	}

	&__button {
		width: 100%;

		&::before {
			content: none;
		}

		&::after {
			bottom: 19px;
			opacity: 0;
			transition: opacity 0.3s ease-in-out;
		}

		&:hover {
			transform: none;

			&::after {
				opacity: 1;
			}
		}
	}

	@include _1680 {
		&__info {
			padding-top: 100px;
    		padding-bottom: 100px;
		}
	}

	@include _1536 {
		&__nav {
			ul {
				li {
					margin-bottom: 20px;

					a {
						font-size: 1.8rem;
					}
				}
			}
		}

		&__consultation {
			img {
				display: block;
				margin: 0 auto;
				margin-bottom: 16px;
				width: 70%;
			}
		}

		&__button {
			padding: 1.6rem 1.7rem;
		}
	}

	@include _1440 {
		.header-navigation {
			padding: 40px 21px;
			width: 92px;
		}
	}

	@include _1366 {
		&__top {
			margin-bottom: 1.1rem;
			width: 49px;
			height: 81px;
		}

		&__item {
			&:first-child {
				margin-bottom: 3rem;
			}

			.icon {
				width: 32px;
				height: 32px;
				font-size: 0.8rem;
			}
		}

		.header-navigation {
			padding: 40px 12px;
			width: 75px;
		}

		&__consultation {
			display: flex;
			flex-direction: column;
			img {
				display: none;
			}

			span {
				order: 2;
				margin: 0;
			}
		}

		&__button {
			order: 1;
			margin-bottom: 16px;
		}

		&__info {
			padding-top: 60px;
    		padding-bottom: 60px;
		}

		.menu_burger {
			width: 2rem;
		}
	}

	@include _1280 {
		&__info {
			padding-top: 40px;
		}

		&__nav {
			ul {
				li {
					a {
					    font-size: 1.7rem;
					}
				}
			}
		}
	}

	@include _1200 {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 9999;
		display: flex;
		justify-content: flex-start;
		transform-origin: left;
		transform: translateX(-100%);
		background-color: #EEF2F5;

		&__info {
			position: static;
			top: auto;
			left: auto;
			width: calc(100% - 80px);
			transform: none;
			transform-origin: initial;
		}
		.header-navigation {
			position: relative;
			top: auto;
			left: auto;
			z-index: 150;
			display: inline-flex;
			justify-content: flex-start;
			width: auto;
			margin-left: 0;
			background-color: #EEF2F5;
		}

		.mobile_burger {
			display: flex;
		}

		&__top {
			display: none;
		}
	}

	@include _992 {
		&__nav {
			ul {
				li {
					a {
						font-size: 1.3rem;
					}
				}
			}
		}

		&__consultation {
			span {
				font-size: 0.9rem;
			}
		}

		&__button {
			padding: 1.3rem 1.7rem;
		}
	}

	@include _769 {
		&__info {
			padding-top: 51px;
		}
	}

	@include _740 {
		&__row {
			flex-direction: column;
			justify-content: stretch;
			overflow-y: auto;
		}

		&__col {
			&:nth-child(1) {
				width: 100%;
				max-width: 100%;
				margin-bottom: 32px;
			}

			&:nth-child(2) {
				width: 100%;
				max-width: 100%;

				.header_main__policy {
					display: block;
				}
			}
		}

		&__policy {
			display: none;
		}

		.header-contacts {
			align-items: flex-start;

			&__container {
				max-width: 70%;
				flex-direction: column;
				&:nth-of-type(2) {
					margin-bottom: 60px;
				}
			}

			&__legend {
				margin-bottom: 10px;
			}

			&__link-group {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
			}

			.b2b-copy {
				margin-top: 40px;
				margin-bottom: 24px;
			}
		}

		&__info {
			.site-container {
				padding: 0px 25px;
			}
		}

	}

	@include _480 {
		&__nav {
			ul {
				li {
					margin-bottom: 14px;
					a {
						font-size: 1.2rem;
					}
				}
			}
		}

		.header-contacts {
			&__container {
				&:nth-of-type(2) {
				    margin-bottom: 40px;
				}
			}
		}
	}

	@include _375 {
		.header-navigation {
			padding: 30px 12px;
			width: 70px;
		}

		&__item {
			margin-bottom: 2.2rem;

			.icon {
				width: 28px;
				height: 28px;
				font-size: 0.7rem;
			}
		}
	}
}

.header-contacts {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	height: 100%;

	.animElMenu {
		opacity: 0;
		transform: translateX(-150px);
	}

	&__container {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		margin-bottom: 40px;

		&:nth-of-type(2) {
			margin-bottom: 60px;
		}
	}

	&__legend {
		display: block;
		white-space: nowrap;
	}

	&__link-group {
		flex-grow: 1;
		text-align: right;
		a {
			display: inline-block;
			margin-bottom: 10px;

			&:last-child {
				margin-bottom: 0;
			}
			&:hover {
				color: $color-red2;
			}
		}
	}

	&__mail {
		position: relative;
		display: inline-block;

		&::before {
			content: "";
			position: absolute;
			left: 0;
			bottom: -2px;
			width: 100%;
			height: 2px;
			border-bottom: 1px dashed #3C4765;
		}

		&:hover {
			&::before {
				content: none;
			}
		}
	}

	.b2b-copy {
		margin-top: auto;
		transform: translateY(50px);
		opacity: 0;
	}

	@include _1366 {
		&__container {
			&:nth-of-type(2) {
				margin-bottom: 80px;
			}
		}
	}
}
