.text-center {
	text-align: center;
}

.menu_burger {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 2.3rem;
	height: 0.8rem;
	// cursor: pointer;
	pointer-events: none;

	& span {
		display: block;
		width: 100%;
		height: 2px;
		background-color: $red;
		flex-shrink: 0;
		transition: transform .3s, opacity .3s;

		&:nth-child(2) {
			margin: 4px 0;
		}
	}

	&.active {

		& span {
			position: absolute;
			transform: rotate(-45deg);
			width: 70%;

			&:first-child {
				transform: rotate(45deg);
			}

			&:nth-child(2) {
				opacity: 0;
				visibility: hidden;
			}

			&:last-child {
				transform: rotate(-45deg);
			}
		}
	}
}

h1 {
	position: relative;
	font-family: "Jost-Black", sans-serif;
	font-size: 2.5rem;
	line-height: 1.5;
	text-transform: uppercase;
	z-index: 25;

	& span {
		display: block;
		font-family: "Jost-ExtraLight", sans-serif;
	}

	&::before {
		content: "";
		position: absolute;
		top: 50%;
		left: 5.5rem;
		transform: translateY(-50%) skew(-25.4deg);
		height: 138%;
		width: 179.5px;
		background-color: #FFF;
		z-index: -1;
	}
}

.color-red {
	color: $red;
}

h2 {
	margin: 0;
	position: relative;
	font-family: "Jost-Black", sans-serif;
	font-size: rem(40px);
	line-height: 1.5;
	text-transform: uppercase;
	z-index: 25;

	& span {
		font-family: "Jost-ExtraLight", sans-serif;
	}

	&::before {
		content: "";
		position: absolute;
		top: 50%;
		left: 5.5rem;
		transform: translateY(-50%) skew(-25.4deg);
		height: 138%;
		width: 179.5px;
		background-color: #FFF;
		z-index: -1;
	}

	@include _1536 {
		font-size: 2.2rem;
	}
	@include _1280 {
		font-size: 2rem;
		line-height: 1.4;
	}

	@include _992 {
		font-size: 1.8rem;
	}

	@include _740 {
		font-size: 1.6rem;
	}
}

.button {
	position: relative;
	display: inline-block;
	margin: 0;
	padding: 0;
	border: none;
	background-color: transparent;
    padding: 1.8rem 2.1rem;
	background-color: $red;
	color: $white;
	border-radius: 2px;
	box-shadow: 0 1px 0 #FF9490;
	cursor: pointer;
	transition: transform .3s;

	&::before {
		content: "";
		position: absolute;
		left: 0;
		bottom: -5px;
		height: 4px;
		width: 100%;
		background-color: #C62924;
		border-radius: 0 0 2px 2px;
		z-index: -1;
	}

	&::after {
		content: "";
		position: absolute;
		left: 50%;
		bottom: 12px;
		transform: translateX(-50%);
		height: 11px;
		width: 88%;
		background-color: transparent;
		border-radius: 0 0 2px 2px;
		box-shadow: 0 28px 22px #c62924;
	}


	&:hover {
		transform: translateY(-10px);
	}

}

.anim_arrows {
	position: absolute;
	right: rem(146px);
	bottom: rem(125px);
	width: rem(218px);
	height: rem(146px);

	background-image: url(../images/arrows_anim.png);
	background-position: 0 0;
	background-repeat: repeat-x;
	background-size: cover;

	animation: 25s linear infinite animArrow;
}

.positioned_block {
	position: absolute;
	top: rem(155px);
	right: 0;
	width: rem(64px);
	height: rem(229px);
	background-color: #fff;

	&::before {
		content: "";
		position: absolute;
		left: rem(-79px);
		bottom: rem(-70px);
		width: rem(79px);
		height: rem(70px);
		background-color: #DAE2E8;
	}
}

.positioned_block2 {
	position: absolute;
	top: rem(-138px);
	left: rem(181px);
	width: rem(92px);
	height: rem(369px);
	background-color: $red;

	& .arrows_red {
		position: absolute;
		top: 0;
		left: 0;
		width: rem(92px);
		height: rem(61px);

		background-image: url(../images/arrows_anim_red.png);
		background-position: 0 0;
		background-repeat: repeat-x;
		background-size: cover;

		animation: 25s linear infinite animArrow;
	}

}

.main_list {
	display: flex;
	flex-wrap: wrap;
	margin: rem(-8px);

	@include _1536 {
		&__item {
			min-height: rem(382px);
			background-size: 100% 100%;
		}
	}

	@include _1280 {
		&__item {
			padding: 2rem;
		}
	}

	@include _1024 {


		&__col {
			width: 33.3%;

			&:not(:last-child):hover {
				.main_list__item {
					padding: 1rem;

					&_text {
						transform: none;
						padding: 0;
						background: transparent;
					}

					.main_list__text--hidden {
						opacity: 0;
						visibility: hidden;
					}

					& .item_btn {
						opacity: 1;
						visibility: visible;
					}
				}

			}

		}

		&__item {
			padding: 1rem 2rem;
			& .item_btn {
				position: static;
				left: auto;
				bottom: auto;
				opacity: 1;
				visibility: visible;
				height: auto;
				justify-content: flex-end;
				margin-top: 0.75rem;

				.item_btn--hover {
					font-size: 1rem;

					&::after,
					&::before {
						display: none;
					}
				}

				&::before {
					display: none;
				}
				& span {
					color: $red;
					background-color: transparent;
					align-items: stretch;
					justify-content: stretch;
					width: auto;
				}

				&__icon {
					background-color: transparent;
					width: auto;
					margin-left: 0.6rem;
					& .arrow-right {
						color: $red;
						display: block;
						font-size: 0.8rem;
					}
					& svg {
						display: none;
						width: 15px;
						height: 15px;
					}
				}
			}
			&_text {
				transform: none;

				display: -webkit-box;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
				overflow: hidden;

				.main_list__text--hidden {
					display: none;
				}

				.main_list__text {
					margin-bottom: 0;
				}
			}

			&:hover {
				& .main_list__item_text {
					visibility: visible;
					opacity: 1;
					background: none;
					transform: none;
					padding: 0;
				}
			}

		}
	}

	@include _992 {
		&__item {
			padding: 1rem;
			min-height: 20.875rem;
			background-size: 101% 75%;
			background-position: 100% 18%;
		}
	}

	@include _960 {
		&__item {
			background-size: 77% 77%;
			background-position: 40% 38%;
		}
	}

	@include _740 {
		&__col {
			width: 50%;
		}
	}

	@include _480 {
		&__item {
			background-size: 83% 61%;
			background-position: 39% 21%;
		}
	}

	@include _375 {
		&__item {
			min-height: 17.875rem;
			&_text {
				font-size: 0.8rem;

			}

			& .item_btn {
				margin-top: 0.7rem;
				justify-content: flex-start;
			}
		}
	}


	&__col {
		position: relative;
		z-index: 10;
		width: 25%;
		padding: rem(8px);

		&::before {
			content: "";
			position: absolute;
			bottom: 9px;
			left: 50%;
			transform: translateX(-50%);
			width: 80%;
			height: 3px;
			z-index: -1;
			box-shadow: 0 10px 28px rgba($color: #000000, $alpha: 1);
			opacity: 0;
		}


		&.last-child {
			.main_list__item {
				background-color: $red;
				color: #FFF;

				.main_list__cube {
					display: flex;
					flex-wrap: wrap;
					margin: -2.3px;
					width: 40px;
					height: 40px;
					transition: transform .3s;

					div {
						width: 33.3%;
						padding: 2.4px;
						border-radius: 1px;
						span {
							display: block;
							background-color: #FFF;
							height: 100%;
							width: 100%;
						}
					}
				}

				.main_list__show_all {
					position: relative;
					margin-top: auto;
					transition: transform .3s ease-in-out;

					&::before {
						content: "";
						position: absolute;
						left: 0;
						bottom: -4px;
						height: 2px;
						width: 0;
						background-color: #FFF;
						transition: width .3s ease-in-out;

					}
				}

				&:hover {
					.main_list__cube {
						transform: rotate(90deg);
						& div {
							transform: rotate(-90deg);
						}
					}

					.main_list__show_all {
						transform: translateY(-10px);
						&::before {
							width: 85% !important;
						}
					}
				}
			}
		}

		&:not(:last-child):hover {

			&::before {
				opacity: 1;
			}

			.main_list__item {
				padding: 0;

				&_text {
					transform: translateY(-60px);
					padding: 1rem;
					background: #FFF;
				}

				.main_list__text--hidden {
					opacity: 1;
					visibility: visible;
				}

				& .item_btn {
					opacity: 1;
					visibility: visible;
				}
			}
		}

	}

	&__text--hidden {
		margin: 0;
		font-size: rem(14px);
		opacity: 0;
		visibility: hidden;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}

	&__item_text {
		transform: translateY(40px);
		transition: transform .3s;
	}

	&__text {
		margin: 0;
		margin-bottom: 10px;
	}

	&__item {
		position: relative;
		display: flex;
		flex-direction: column;
		width: 100%;
		min-height: rem(422px);
		padding: rem(32px) rem(40px);
		padding-right: 1rem;
		background-color: #F7F9FA;
		border: 0.5px solid #e9e8e8;

		background-position: center;
		background-repeat: no-repeat;
		background-size: auto;
		transition:  background-position .4s, background-size .4s;
		overflow: hidden;

		&_text {
			margin-top: auto;
			transition: opacity .3s, transform .3s;
		}

		& p {
			line-height: 1.4;
		}

		& .item_btn {
			position: absolute;
			left: 0;
			bottom: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			height: rem(59px);
			width: 100%;
			opacity: 0;
			visibility: hidden;
			transition: opacity .3s;
			z-index: 90;

			&::before {
				content: "";
				position: absolute;
				left: 50%;
				bottom: 4px;
				transform: translateX(-50%);
				height: 11px;
				width: 88%;
				background-color: transparent;
				border-radius: 0 0 2px 2px;
				box-shadow: 0 28px 22px #B3C0C9;
			}

			& span {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 85%;
				height: 100%;
				background-color: $red;
				color: #FFF;
			}

			&__icon {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 15%;
				height: 100%;
				background-color: #D0241F;
				& .arrow-right {
					display: none;
				}
			}

			&--hover {
				position: relative;
				height: 100%;
				overflow: hidden;
				font-size: 0;
				transition: color .3s;

				&::before {
					content: attr(data-text);
					display: block;
					color: #FFF;
					position: absolute;
					left: 50%;
					top: 50%;
					opacity: 0;
					transform: translate(-50%, -100%);
					margin-right: -50%;
					font-size: 1rem;
					transition: all .3s ease;
				}

				&::after {
					content: attr(data-text-2);
					display: block;
					color: #FFF;
					position: absolute;
					left: 50%;
					top: 50%;
					opacity: 1;
					transform: translate(-50%, -50%);
					margin-right: -50%;
					font-size: 1rem;
					transition: all .3s ease;
				}

				&:hover {
					color: transparent;
					&::before {
						transform: translate(-50%, -50%);
						opacity: 1;
					}

					&::after {
						transform: translate(-50%, 100%);
						opacity: 0;
					}
				}
			}
		}

		&:hover {


		}


	}
}

.button-arrow {
	font-family: "Manrope-Regular", sans-serif !important;
	display: inline-flex;
	justify-content: center;
	margin-top: rem(56px);
	min-height: rem(59px);
	min-width: rem(186px);

	&.icon-right {
		& .icon {
			& svg {
				transform: rotate(0);
			}
		}
	}


	& span {
		display: flex;
		align-items: center;
		justify-content: center;
		min-width: 75%;
		padding: 0 rem(29px);
		background-color: $red;
		color: #FFF;
		text-transform: uppercase;
		flex-shrink: 0;
		font-size: rem(14px);

	}

	& .icon {
		width: 25%;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #D0241F;
		flex-shrink: 0;
		& svg {
			transform: rotate(90deg);
			transition: transform .3s;
		}
	}

	&:hover {
		& .icon svg {
			transform: rotate(-90deg);
		}

		&.icon-right {

			& .icon svg {
				transform: rotate(360deg);
			}
		}
	}


}

.main-title {

	& p {
		font-size: rem(18px);
		@include _1366 {
			font-size: rem(16px);
		}
	}
	& span {
		position: relative;
		display: inline;
		z-index: 25;

		&::before {
			content: "\e908";
			position: absolute;
			right: -0.9rem;
			bottom: 0.5rem;;
			z-index: -1;
			font-family: "Icomoon";
			color: $red;
			font-size: 27.9px;
			@include _480 {
				display: none;
			}
			@include _600 {
				font-size: 19px;
			}
		}
	}

}

.main-title.rest {
	position: relative;
	z-index: 25;


	&::before {
		content: "";
		position: absolute;
		top: 50%;
		right: 11rem;
		transform: translateY(-50%) skew(-25.4deg);
		height: 130%;
		width: 179.5px;
		background-color: #FFF;
		z-index: -1;
	}

	& h2 {
		margin-bottom: rem(16px);
		&::before {
			display: none;
		}
	}

	& p {
		margin: 0;
	}
}

.form_custom {
	position: relative;
	z-index: 50;
	max-width: rem(378px);
	background-color: #FFF;
	padding: rem(45px) rem(30px);
	clip-path: polygon(0% 0%, 86% 0%, 104% 16%, 100% 100%, 0% 100%);

	@include _992 {
		padding: 2rem 1.5rem;
		& p {
			text-align: center;
		}
	}

	@include _740 {
		max-width: 100%;
		width: 100%;
	}

	@include _480 {
		& .button {
			width: 100%;
		}

		& .agreement-check {
			max-width: 100%;
		}
	}


	& h5 {
		margin: 0;
		// font-family: "Jost-ExtraLight", sans-serif;
		font-size: rem(24px);
		margin-bottom: rem(8px);
		text-align: center;
		text-transform: uppercase;
	}

	& p {
		margin: 0;
		line-height: 1.5;
	}

	& .input_wrapper {
		margin: rem(48px) auto;
		width: 92%;
		& .input_container {
			position: relative;
			margin-bottom: rem(28px);
			width: 100%;

			&:last-child {
				margin-bottom: 0;
			}

			& input {
				border: none;
				background-color: transparent;
				padding: 0 10px 10px 0;
				border-bottom: 1.5px solid #D0241F;
				width: 100%;
			}

			& label.error {
				position: absolute;
				left: 0;
				bottom: -20px;
				color: $red;
				font-size: rem(14px);
			}
		}
	}

	& .button {
		padding: 29px 60px;
		margin-bottom: rem(34px);
	}

}

.custom-arrows {
	position: absolute;
	top: 5rem;
	right: 1rem;
	width: rem(147px);
	display: flex;
	align-items: center;
	justify-content: space-between;

	& .arrow {
		position: static;
		bottom: auto;
		background-color: #D0241F;
		border-radius: 0;
		width: 70px;
		height: 70px;
		box-shadow: none;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;

		&:hover {
			box-shadow: 0 0 10px rgba($color: $red, $alpha: 1.0);
		}

		&:active {
			background-color: #b11e19;
		}

		& .arrow-right {
			font-size: 1.2rem;
			color: #FFF;
			&.left {
				transform: rotate(-180deg);
			}
		}

		&.slick-disabled {
			background-color: #FFF;
			pointer-events: none;

			& .arrow-right {
				color: $red;
				&:hover {
					box-shadow: 0 0 10px rgba($color: $red, $alpha: 1.0);
				}
			}

			&:hover {
				box-shadow: 0 0 10px rgba($color: #FFF, $alpha: 1.0);
			}
		}
	}
}

.agreement-check {
	max-width: rem(242px);
	margin: 0 auto;

	& .agreement-label {
		padding-left: 1.9rem;
		color: #414B62;
		cursor: pointer;

		& a {
			color: #414B62;
			position: relative;

			&::before {
				content: "";
				position: absolute;
				left: 0;
				bottom: -2px;
				width: 100%;
				height: 2px;
				border-bottom: 1.5px dashed #414B62;
			}

			&:hover {
				&::before {
					content: none;
				}
			}
		}

		&.noValid {
			position: relative;

			&::before {
				content: "";
				position: absolute;
				top: -10px;
				right: -10px;
				bottom: -10px;
				left: -10px;
				background-color: rgba($color: #ff3c3c, $alpha: 0.2);
				border-radius: 10px;
				transition: background-color .4s;
			}

			&.bg {
				&::before {
					background-color: transparent;
				}
			}
		}
	}


	& input:hover {
		& + .agreement-label .check::after {
			border: 3px solid #E83832;
		}
	}

	& input:checked + .agreement-label .check::before {
		position: absolute;
		top: 6px;
		left: 5px;
		width: 8px;
		height: 8px;
		background-color: $red;
		// border: 0 solid $red;
		transform: none;

		@include _480 {
			left: 4px;
		}
	}

	& input + .agreement-label .check::after {
		width: rem(18px);
		height: rem(18px);
		background-color: transparent;
		border: 3px solid $red;
		border-radius: 0;
	}
}

.show_more_text {
	position: relative;
	display: inline-block;
	color: #D0241F;
	cursor: pointer;
	z-index: 50;

	&__showen {
		display: block;
	}

	&__hidden {
		display: none;
	}


	&::before {
		content: "";
		position: absolute;
		left: 0;
		bottom: -2px;
		width: 100%;
		height: 2px;
		border-bottom: 1px solid #D0241F;
	}


	&:hover {
		&::before {
			content: none;
		}
	}
}

.pagination {
	display: flex;
	align-items: center;
	justify-content: center;

	&__list {
		display: flex;
		align-items: center;
	}

	&__item {
		margin-right: 20px;

		&:last-child {
			margin-right: 0;
		}

		a {
			font-size: rem(16px);
			line-height: 26px;

			&:hover {
				color: #D0241F;
			}
		}

		&.active {
			a {
				position: relative;
				color: #D0241F;

				&::before {
					content: "";
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 1px;
					background-color: #D0241F;
				}
			}
		}
	}

	&__next {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 44px;
		height: 44px;
		border-radius: 50%;
		border: 2px solid #D0241F;
		margin-left: 22px;
		transition: background-color 0.3s ease-in-out;

		.icon-right-arrow {
			font-size: rem(15px);
			color: #D0241F;
			transition: color 0.3s ease-in-out;
		}

		&:hover {
			background-color: #D0241F;

			.icon-right-arrow {
				color: $white;
			}
		}

		&:active {
			background-color: #af1e19;
			border: none;
		}

		&:focus {
			background-color: #af1e19;
			border: none;
		}
	}
}

.quant {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-width: 173px;
	background-color: $white;
	border: 1px solid #E4E8EB;
	padding: 28px 16px;

	&__input {
		border: none;
		border-radius: 0;
		background-color: transparent;
		font-size: rem(16px);
		width: 1ex;
	}

	&__input--wrap {
		border-bottom: 1px solid #3C4765;
		width: 65px;
		height: 25px;
		text-align: center;

		span {
			pointer-events: none;
		}
	}

	&__plus {
		color: $color-red2;
		font-size: 16px;

		&.--disabled {
			pointer-events: none;
		}
	}

	&__minus {
		color: $color-red2;
		font-size: 16px;

		&.--disabled {
			pointer-events: none;
		}
	}

	&__btn {
		cursor: pointer;

		.icon-plus {
			pointer-events: none;
		}

		.icon-remove {
			pointer-events: none;
		}
	}

	@include _1280 {
		padding: 20px 17px;
	}
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.form-agreement {
	display: block;
	position: relative;
    max-width: 15.125rem;
    margin: 0 auto;
	text-align: left;
	padding-left: 27px;
	line-height: 1;

	&__text {
		font-size: 12px;
		line-height: 1.4;

		a {
			position: relative;
			display: inline-block;
			white-space: nowrap;

			&::before {
				content: "";
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;
				height: 2px;
				border-bottom: 1px dashed #3C4765;

			}
			&:hover {
				&::before {
					content: none;
				}
			}
		}
	}

	label.error {
		position: absolute;
		font-size: 0;
		&~.form-agreement__text {
			color: $color-red2;

			a {
				&::before {
					border-color: $color-red2;
				}
			}
		}
	}

	&__input {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		clip: rect(0 0 0 0);

		&:checked {
			~.form-agreement__text {
				.form-agreement__check {
					&::before {
						background-color: #D0241F;
					}
				}
			}
		}
	}

	&__check {
		position: absolute;
		top: 4px;
		left: 0px;
		display: block;
		width: 16px;
		height: 16px;
		border: 3px solid #D0241F;

		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 6px;
			height: 6px;
			background-color: transparent;
			z-index: 15;
		}

	}
}

.button-reset {
	padding: 0;
	margin: 0;
	border-radius: 0;
	border: none;
}
