.loyalty {
	margin-top: 100px;
	margin-bottom: 182px;

	&__image {
		position: absolute;
		top: 61px;
		right: 55px;
	}

	&__title {
		max-width: 50%;
		margin-bottom: 18px;

		h1 {
			position: relative;
			z-index: 10;
			margin-bottom: 0;

			&::before {
				top: -1.5rem;
				height: 179%;
    			width: 149.5px;
				transform: skew(-25.4deg);
			}
		}
		span {
			&::before {
				right: 4.1rem;
			}
		}
	}

	.hero_section__list {
		position: relative;
		z-index: 15;
		max-width: 35%;
		margin-top: 0;
		margin-bottom: 40px;
	}

	@include _1680 {
		&__image {
			top: 121px;
			width: 60%;
			right: 15px;
		}

	}

	@include _1536 {
		margin-top: 70px;

		&__title {
			max-width: 60%;

			span {
				&::before {
					right: -3.6rem;
					bottom: 0.2rem;
				}
			}
		}

		&__title {
			h1 {
				font-size: rem(35px);
			}
		}
	}

	@include _1366 {
		margin-bottom: 132px;
	}

	@include _1280 {
		margin-top: 60px;
		margin-bottom: 102px;

		.hero_section__list {
			max-width: 33%;
		}
	}

	@include _1200 {
		.hero_section__list {
			max-width: 49%;
		}

		&__title {
			max-width: 70%;

			h1 {
				font-size: rem(32px);
			}
			span {
				&::before {
					display: none;
				}
			}
		}

		&__image {
			top: 181px;
			right: -35px;
		}
	}

	@include _992 {
		margin-top: 50px;

		.hero_section__item {
			font-size: 0.9rem;
		}

		.btn_wrap {
			p {
				display: none;
			}
		}
	}

	@include _769 {
		&__title {
			h1 {
				font-size: 1.8rem;

				&::before {
					width: 119.5px;
				}
			}
		}

		.hero_section__list {
			max-width: 52%;
		}
	}

	@include _740 {
		&__image {
			top: 291px;
		}

		&__title {
			max-width: 100%;
		}

		.button {
			padding: 1.6rem 1.8rem;
		}
	}

	@include _500 {
		&__image {
			top: 391px;
		}

		&__title {
			h1 {
				&::before {
					left: 8.5rem;
					height: 129%;
				}
			}
		}

		.hero_section__list {
			max-width: 72%;
		}

		.hero_section__item {
			&:not(:first-child) {
				max-width: 80%;
			}
		}
	}

	@include _480 {
		margin-bottom: 92px;

		&__title {
			h1 {
				font-size: 1.5rem;

				&::before {
					left: 4.5rem;
				    width: 89.5px;
				}
			}
		}

		.hero_section__list {
			max-width: 100%;
		}

		.hero_section__item {
			&:not(:first-child) {
				max-width: 60%;
			}
		}

		&__image {
			top: 311px;
			right: -57px;
		}
	}

	@include _375 {
		&__image {
			top: 351px;
		}
	}
}

.five-steps {
	padding-bottom: 91px;

	&__title {
		max-width: 50%;
		margin-bottom: 157px;

		h2 {
			&::before {
				height: 158%;
			}
		}

		span {
			&::before {
				right: 5.1rem;
			}
		}
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		margin: -16px;
		counter-reset: section;
	}

	&__item {
		position: relative;
		width: calc(33.3% - 32px);
		margin: 16px;
		padding: 40px;
		background-color: #F7F9FA;
		overflow: hidden;

		&:first-child {
			padding-top: 124px;
			background-color: #0F203D;
		}
		&:not(:first-child) {
			display: flex;
			flex-direction: column;

			&::before {
				right: -10px;
			}
		}
		&:nth-child(4) {
			.five-steps__img {
				margin-top: 50px;
			}
		}

		&::before {
			counter-increment: section;
			content: counter(section);
			position: absolute;
			top: -10px;
			right: 0px;
			font-size: 200px;
			font-family: "Jost-Black", sans-serif;
			line-height: 1;
			color: #DAE2E8;
			opacity: 0.5;
		}
	}

	&__img {
		position: relative;
		z-index: 10;
		margin-bottom: 18px;
	}

	&__text {
		margin-top: auto;
	}

	&__legend {
		display: block;
		color: $white;
		font-size: 1rem;
		margin-bottom: 10px;

		&:nth-of-type(1) {
			margin-bottom: 32px;
			max-width: 80%;
		}
	}

	&__button {
		padding: 21px 27px;
		font-size: rem(14px);
		text-transform: uppercase;
		margin-bottom: 20px;

		&::before,
		&::after {
			content: none;
		}
	}

	&__tel {
		display: inline-block;
		color: $white;
		font-size: rem(16px);
		margin-bottom: 20px;
	}

	&__email {
		position: relative;
		color: $color-red2;
		font-size: rem(16px);

		&::before {
			content: "";
			position: absolute;
			bottom: -3px;
			left: 0;
			width: 100%;
			height: 2px;
			border-bottom: 1px dashed $color-red2;
		}

		&:hover {
			&::before {
				content: none;
			}
		}
	}

	@include _1536 {
		&__title {
			margin-bottom: 97px;

			span {
				&::before {
    				right: -3.4rem;
					bottom: 0.3rem;
				}
			}
		}
	}

	@include _1280 {
		&__item {
			padding: 30px;
		}

		&__title {
			h2 {
				&::before {
					width: 139.5px;
				}
			}
		}
	}

	@include _1200 {
		&__text {
			font-size: 0.9rem;
		}

		&__legend {
			font-size: 0.9rem;
		}

		&__title {
			max-width: 60%;
			margin-bottom: 67px;

			span {
				&::before {
					display: none;
				}
			}
		}
	}

	@include _992 {
		&__item {
			&::before {
				font-size: 130px;
			}
		}
	}

	@include _769 {
		&__item {
			width: calc(50% - 32px);
		}

		&__title {
			max-width: 80%;
		}
	}

	@include _740 {
		&__list {
			margin: 0;
		}

		&__item {
			width: 100%;
			margin: 0;
			margin-bottom: 32px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		&__img {
			margin-bottom: 28px;
		}
	}

	@include _500 {
		&__title {
			max-width: 100%;

			h2::before {
				width: 99.5px;
			}
		}


		&__item {
			&:first-child {
				padding-top: 74px;
			}
		}
	}

	@include _360 {
		padding-bottom: 61px;
	}

}

.loyalty-clients {
	position: relative;
	padding-top: 77px;
	margin-bottom: 235px;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 80%;
		background-color: #DAE2E8;
	}

	&__item {
		padding: 64px 48px;
		ul {
			max-width: 90%;
			margin-bottom: 63px;

			li {
				position: relative;
				padding-left: 30px;


				&::before {
					top: 5px;
					left: 5px;
					content: "" !important;
					transform: none;
					display: block;
					align-items: stretch;
					justify-content: stretch;
					width: 8px;
					height: 18px;
					font-size: 0;
					transform: skew(-28deg);
					background-color: $color-red2;
					border-radius: 0;
					border: none;
				}
			}
		}
	}

	@include _1536 {
		margin-bottom: 136px;
	}

	@include _992 {
		.systems__col {
			width: 50%;
		}

		.systems__item {
			padding: 2.5rem 2rem;
		}
	}

	@include _769 {
		.systems__col {
			width: 100%;
		}

		.systems__item {
			ul {
				max-width: 70%;
			}
		}
	}

	@include _740 {
		margin-bottom: 65px;
	}

	@include _480 {

		.systems__item {
			clip-path: polygon(0% 0%, 92% 0%, 101% 11%, 100% 100%, 0% 100%);

			ul {
				max-width: 100%;

				li {
					padding-left: 2.15rem;

					&::before {
						width: 8px;
						height: 18px;
						font-size: 0;
					}
				}
			}
		}
	}

	@include _360 {
		padding-top: 61px;
	}

}

.loyalty-form {
	position: relative;
	padding-bottom: 114px;

	&__img {
		position: absolute;
		top: 145px;
		left: 554px;
	}

	.main-title {
		max-width: 100%;
		margin-bottom: 80px;

		h2 {
			margin-bottom: 0;

			&::before {
				left: 7.6rem;
				height: 348%;
				width: 159.5px;
			}
		}

		span {
			&::before {
				right: -3.6rem;
			}
		}
	}

	.footer_section__col {
		&:nth-child(1) {
			flex: 0 0 44.7%;
			max-width: 44.7%;
		}
	}

	.footer_section__item {
		ul {
			li {
				&:not(:first-child) {
					max-width: 80%;
				}
			}
		}
	}

	@include _1440 {
		&__img {
			left: 384px;
		}
	}

	@include _1280 {
		&__img {
			width: 46%;
		}

		.main-title {
			margin-bottom: 40px;

			h2 {
				margin-bottom: 0;

				&::before {
					height: 168%;
					left: 4.6rem;
				}
			}
		}
	}

	@include _1200 {
		&__img {
			top: 185px;
			left: 244px;
		}

		.main-title {
			h2 {
				&::before {
					left: 4.6rem;
				}
			}
		}
	}

	@include _769 {
		&__img {
			top: 425px;
			left: 144px;
		}
	}

	@include _740 {
		.footer_section__col:nth-child(1) {
			flex: 0 0 100%;
			max-width: 100%;
		}

		&__img {
			top: auto;
			left: 50%;
			bottom: 20px;
			width: 56%;
			transform: translateX(-50%);
		}
	}

	@include _500 {
		padding-bottom: 17rem;
	}

	@include _480 {
		padding-bottom: 15rem;
	}
}
