.--page10 {

	.main-title--page {
		max-width: 46%;

		h1 {
			&::after {
				right: -0.2rem;
			}
		}
	}

	.hero_section__img--page {
		top: 0;
	}

	.hero_section__list {
		max-width: 68%;
	}

	.hero_section__item {
		&:not(:first-child) {
			max-width: 60%;
		}
	}


	@include _1680 {
		.hero_section__img--page {
			width: 50%;
		}
	}

	@include _1536 {
		.main-title--page {
			margin-bottom: 3rem;
			h1 {
				&::after {
					right: 12.1rem;
				}
			}
		}
	}

	@include _1440 {
		.hero_section__img--page {
			top: 0;
		}
	}

	@include _1366 {
		.hero_section__img--page {
			top: 0;
		}

		.main-title--page {
			margin-bottom: 3rem;
			h1 {
				&::after {
					right: 15rem;
				}
			}
		}
	}

	@include _1280 {
		.main-title--page {
			h1 {
				&::after {
					right: 13rem;
				}
			}
		}

		.hero_section__list {
			max-width: 100%;
		}
	}

	@include _1200 {
		.hero_section__img--page {
			top: 0;

			&::before {
				content: "";
				position: absolute;
				top: 0;
				right: 50px;
				width: 100px;
				height: 100px;
				background: linear-gradient(rgba($color: #EEF2F5, $alpha: 1) 20%, transparent);
			}
		}

		.hero_section__list {
			max-width: 60%;
		}
	}

	@include _992 {
		padding-top: 3rem;
		.hero_section__img--page {
			top: 1rem;
		}
	}

	@include _769 {
		.hero_section__img--page {
			bottom: 10rem;
		}


		.hero_section__item {
			&:not(:first-child) {
				max-width: 80%;
			}
		}
	}
}

.page10--section-two {
    padding-bottom: 205px;

	&__img {
		position: absolute;
		top: 0;
		right: 0;
	}

	.page--section-two__paragraph {
		max-width: 364px;
	}

	@include _1536 {
		padding-bottom: 160px;
	}

	@include _1440 {
		padding-bottom: 160px;
	}

	@include _1366 {
		padding-bottom: 235px;

		&__img {
			top: 1rem;
		}

		.main-title {
			max-width: 60%;
		}
	}

	@include _1280 {
		padding-bottom: 155px;
	}

	@include _1200 {
		padding-bottom: 155px;

		.main-title {
			max-width: 53%;
		}

		&__img {
			top: 5rem;
		}
	}

	@include _992 {
		padding-bottom: 145px;
	}

	@include _769 {
		padding-bottom: 95px;

		.page--section-two__paragraph {
			max-width: 40%;
		}

		&__img {
			top: 8rem;
		}
	}

	@include _740 {
		padding-bottom: 315px;

		&__img {
			top: auto;
			bottom: 0;
			width: 140%;
		}

		.page--section-two__paragraph {
			max-width: 80%;
		}
	}

	@include _500 {
		padding-bottom: 262px;
		.main-title {
			margin-bottom: 48px;
		}
	}

	@include _375 {
		.main-title {
			margin-bottom: 38px;
		}
	}

	@include _360 {
		padding-bottom: 200px;
		.page--section-two__paragraph {
			max-width: 90%;
		}
	}
}

.worlwide--page10 {

	.main-title {
		h2 {
			&::after {
				right: 13.1rem;
			}
		}
	}

	@include _1536 {
		.main-title {
			max-width: 41%;

			h2 {
				&::after {
				    right: 10rem;
				}
			}
		}
	}

	@include _1280 {
		.main-title {
			br {
				display: none;
			}

			h2 {
				&::after {
					right: 1rem;
				}
			}
		}
	}

	@include _992 {
		.main-title {
			max-width: 50%;
		}
	}

	@include _769 {
		.main-title {
			max-width: 70%;
		}
	}
}

.page_catalog--page10 {
	.main-title {
		max-width: 70%;

		span {
			&::before {
				right: 19.8rem;
			}
		}

		p {
			max-width: 64%;
		}
	}

	@include _1536 {
		.main-title {
			max-width: 80%;

			span {
				&::before {
					right: 18.8rem;
					bottom: 2px;
				}
			}

		}
	}

	@include _1440 {
		.main-title {
			span {
				&::before {
    				right: 18.1rem;
				}
			}
		}
	}

	@include _1280 {
		.main-title {
			max-width: 70%;
		}
	}

	@include _1200 {
		.main-title {
			max-width: 76%;
		}
	}

	@include _769 {
		.main-title {
			max-width: 90%;
		}
	}

	@include _740 {
		.main-title {
			p {
				max-width: 94%;
			}
		}
	}
}
