.--page2 {

	@include _1680 {
		.hero_section__img {
			width: 60%;
		}
	}

	@include _1536 {
		.main-title--page {
			h1 {
				&::after {
					right: 11.7rem;
				}
			}
		}

		.hero_section__img--page {
			width: 62%;
		}
	}

	@include _1440 {
		.main-title--page {
			margin-bottom: 2.88rem;

			h1 {
				&::before {
					width: 137px;
				}
			}
		}
	}

	@include _1366 {
		.hero_section__img--page {
			top: 11rem;
			width: 59%;
		}

		.main-title--page {
			h1 {
				&::after {
					right: 2rem;
				}

				br {
					display: none;
				}
			}
		}
	}

	@include _1280 {
		.main-title--page {
			max-width: 63%;
			margin-bottom: 3rem;

			h1 {
				&::after {
					right: 2rem;
				}

				&::before {
					height: 132%;
				}
			}
		}

		.hero_section__img--page {
			width: 54%;
		}
	}

	@include _1200 {
		.hero_section__img--page {
			top: 8rem;
			width: 64%;
		}

		.main-title--page {

			h1 {
				&::after {
					content: none;
				}
			}
		}
	}

	@include _769 {
		overflow: hidden;
		.hero_section__img--page {
			right: -2rem;
			bottom: 4rem;
		}
	}

	@include _740 {
		.hero_section__img--page {
			top: 12rem;
		}

		.main-title--page {
			max-width: 100%;

			h1 {
				&::before {
					height: 124%;
				}
			}
		}

		.hero_section__list {
			max-width: 19rem;
		}
	}

	@include _500 {
		.hero_section__img--page {
			right: -4rem;
			bottom: 5rem;
			width: 93%;
		}
	}

	@include _480 {
		.hero_section__list {
			max-width: 64%;
		}
	}

	@include _375 {
		.hero_section__img--page {
			right: -4rem;
			bottom: 7rem;
			width: 93%;
		}
		.hero_section__list {
			max-width: 70%;
		}
	}

	@include _360  {
		.hero_section__list {
			max-width: 75%;
		}

		.hero_section__img {
			bottom: 6rem;
		}
	}




	.main-title--page {
		max-width: 59%;

		h1 {
			&::after {
				right: 9.1rem;
			}
		}
	}

	.hero_section__list {
		max-width: 18.125rem;
	}

	.hero_section__img--page {
		top: 12rem;
	}

}

.--page2-section-two {
	padding-bottom: 0;
	margin-bottom: 310px;

	@include _1680 {
		.page--section-two__img {
			bottom: -16rem;
			width: 67%;
		}

		.page--section-two__img_sky {
			right: 6rem;
		}

		.page--section-two__img_helicopter {
			right: 34rem;
		}
	}

	@include _1536 {
		padding-bottom: 0;
		margin-bottom: 330px;

		.page--section-two__img {
			bottom: -16rem;
			width: 67%;
		}

		.page--section-two__img_sky {
			right: 6rem;
		}

		.page--section-two__img_helicopter {
			right: 34rem;
		}
	}

	@include _1440 {
		.page--section-two__img_sky {
			width: 42%;
		}

		.main-title {
			h1 {
				&::before {
					width: 137px;
				}
			}
		}
	}

	@include _1366 {
		padding-bottom: 330px;
		margin-bottom: 90px;

		.main-title {
			max-width: 60%;
		}

		.page--section-two__img {
			width: 64%;
			bottom: 0;
		}

		.page--section-two__img_helicopter {
			top: 9rem;
		}

		.page--section-two__img_sky {
			top: 8rem;
		}
	}

	@include _1280 {
		padding-bottom: 320px;
	}

	@include _1200 {
		.page--section-two__img {
			right: 0;
			left: auto;
		}

		.page--section-two__img_sky {
			right: 3rem;
		}

		.page--section-two__img_helicopter {
			top: 5rem;
			right: 24rem;
		}
	}

	@include _992 {
		margin-bottom: 4rem;
		.page--section-two__img {
			width: 67%;
		}

		.page--section-two__img_helicopter {
			top: 6rem;
			width: 21%;
		}
	}

	@include _769 {
		.page--section-two__img_helicopter {
			right: 19rem;
		}
	}

	@include _740 {
		padding-bottom: 375px;
		.page--section-two__img {
			right: auto;
			left: 50%;
			transform: translateX(-50%);
			width: 87%;
		}

		.page--section-two__img_sky {
			top: 20rem;
			right: 3rem;
			width: 58%;
		}

		.page--section-two__img_helicopter {
			right: 22rem;
			top: 18rem;
			width: 27%;
		}

		.main-title {
			h1 {
				&::before {
					width: 116px;
				}
			}
		}
	}

	@include _500 {
		padding-bottom: 324px;

		.page--section-two__img_helicopter {
			right: 18rem;
		}
	}

	@include _480 {
		padding-bottom: 320px;
		.page--section-two__img  {
			width: 100%;
		}
	}

	@include _375 {
		padding-bottom: 280px;
		.page--section-two__img_sky {
			top: 20rem;
			right: 1rem;
		}

		.page--section-two__img_helicopter {
			right: 15rem;
			top: 19rem;
		}
	}





	.page--section-two__img_helicopter {
		position: absolute;
		top: -5rem;
		right: 45rem;
		z-index: 10;
	}

	.page--section-two__img_sky {
		position: absolute;
		top: -2rem;
		right: 15rem;
		z-index: 8;
	}

	.page--section-two__img {
		bottom: -17rem;
	}
}

.reasons.--page2 {
	.main-title {
		max-width: 900px;
	}

	@include _992 {
		.main-title {
			max-width: 630px;
			margin-bottom: 60px;
		}
	}

}

.worlwide.--page2 {
	padding-bottom: 177px;

	@include _1536 {
		margin-bottom: 140px;
		.worlwide--page__image {
			top: 10rem;
			right: 0rem;
			width: 41%;
		}
	}

	@include _1366 {
		margin-bottom: 100px;
		.worlwide--page__image {
			display: block;
		}

		.main-title {
			&::before {
				width: 127px;
			}
		}

	}

	@include _1280 {
		padding-top: 5rem;
	}

	@include _1200 {
		padding-bottom: 57px;
	}

	@include _960 {
		.map {
			top: -9rem;
		}
	}

	@include _769 {
		.worlwide--page__image {
			top: 15rem;
		}
	}

	@include _740 {
		padding-bottom: 237px;

		.worlwide--page__image {
			top: auto;
			right: -2rem;
			bottom: -1rem;
			width: 41%;
		}

		.main-title {
			&::before {
				width: 116px;
				height: 132%;
			}
		}
	}

	@include _500 {
		.worlwide--page__image {
			right: 2rem;
			bottom: 1rem;
		}

		.map {
			top: 7rem;
			right: -181%;
		}

		.worlwide__text_img {
			top: -1rem;
		}
	}

	@include _480 {
		.worlwide--page__image {
			width: 53%;
			right: 0rem;
    		bottom: -1rem;
		}
	}

	@include _360 {
		.map {
			top: 15rem;
		}
	}



	.worlwide--page__image {
		top: 5rem;
		right: 9rem;
	}

	.main-title {
		h2 {
			&::after {
				left: 13.1rem;
			}
		}
	}

	.map {
		transform: none;

		top: 2rem;
	}

}

.page_catalog--page2 {

	@include _1680 {
		.main-title {
			span {
				&::before {
    				right: 5.8rem;
				}
			}
		}
	}

	@include _1536 {
		.main-title {



			span {
				&::before {
					right: 4.8rem;
					bottom: 0.3rem;
				}
			}
		}
	}

	@include _1440 {
		.main-title {
			max-width: 554px;
			h2 {
				br {
					display: none;
				}
			}

			&::before {
				width: 137px;
			}
		}
	}

	@include _1366 {
		.main-title {
			p {
				max-width: 100%;
			}

			&::before {
				width: 127px;
			}
		}
	}

	@include _1280 {
		.main-title.rest {
			max-width: 67%;

			p {
				max-width: 100%;
			}

			span {
				&::before {
					right: 5.3rem;
				}
			}
		}
	}

	@include _1200 {
		.main-title.rest {
			max-width: 82%;
			span {
				&::before {
					content: none;
				}
			}
		}
	}

	@include _769 {
		.main-title.rest {
			max-width: 100%;
		}
	}

	@include _740 {
		.main-title.rest {
			max-width: 75%;
			&::before {
				width: 116px;
				right: 10rem;
			}

			p {
				max-width: 80%;
			}
		}
	}

	@include _500 {
		.main-title.rest {
			max-width: 86%;
		}
	}

	@include _480 {
		.main-title.rest {
			&::before {
				right: 9rem;
			}
		}
	}

	.main-title {
		p {
			max-width: 60%;
		}

		span {
			&::before {
				right: 4.8rem;
			}
		}
	}

	.main_list__col:last-child {
		&:hover {
			.main_list__item {
				padding: 0;

				&_text {
					transform: translateY(-60px);
					padding: 1rem;
					background: #FFF;
				}

				.main_list__text--hidden {
					opacity: 1;
					visibility: visible;
				}

				& .item_btn {
					opacity: 1;
					visibility: visible;
				}
			}

			@include _1024 {
				.main_list__item {
					padding: 1rem;

					&_text {
						transform: none;
						padding: 0;
						background: transparent;
					}

					.main_list__text--hidden {
						opacity: 0;
						visibility: hidden;
					}

					& .item_btn {
						opacity: 1;
						visibility: visible;
					}
				}
			}
		}
	}
}

.clients {

	@include _1440 {
		&__col {
			height: 176px;
		}

		.main-title {
			margin-bottom: 60px;
		}
	}

	@include _1200 {
		&__col {
			height: 136px;
		}
	}

	@include _992 {

		&__row {
			display: none;
		}

		&__row--mobile {
			display: flex;

			.clients__img-show {
				display: none;

				img {
					display: block;

				}
			}
		}

		&__col--mobile {
			height: 196px;
			img {
				width: 40%;
				height: auto;
			}
		}

		&__wrapper {
			padding-bottom: 9rem;

			&.active {
				.clients__img-show {
					display: flex;
				}
			}
		}

		&__btn {
			bottom: 2rem;
		}
	}

	@include _740 {
		&__col--mobile {
			height: 156px;
		}
	}

	@include _500 {
		&__col--mobile {
			height: 165px;
		}
	}

	@include _480 {
		&__col--mobile {
			height: 135px;

			img {
				width: 70%;
			}
		}
	}



	&__row {
		display: flex;
		flex-wrap: wrap;
	}

	&__col {
		width: 12.5%;
		height: 216px;
		border: 0.5px solid #C8D5DE;
		display: flex;
		align-items: center;
		justify-content: center;

		img {
			width: 170px;
			height: 151px;
			object-fit: contain;
			margin: 0 auto;
			display: block;
		}
	}


	&__img-show {
		img {
			display: none;
		}
	}

	&__col_item {
		position: relative;
		background-color: #414B62;
		border: none;
		// &::before {
		// 	content: "\e90b";
		// 	position: absolute;
		// 	top: 50%;
		// 	left: 50%;
		// 	transform: translate(-50%, -50%);
		// 	font-family: "Icomoon";
		// 	font-size: 6rem;
		// 	color: #FFF;
		// }
	}

	&__col_item--red {
		background-color: #D0241F;
	}

	&__wrapper {
		position: relative;
		padding-bottom: rem(112px);

		&.active {
			.clients__img-show {
				img {
					display: block;
				}
			}
		}
	}

	&__btn {
		position: absolute;
		left: 50%;
		bottom: 10rem;
		transform: translateX(-50%);
		margin: 0;

		&._active {
			bottom: 0;

			.icon {
				svg {
					transform: rotate(-90deg);
				}
			}
		}
	}

	.main-title {
		max-width: rem(566px);
		margin: 0 auto;
		text-align: center;
		margin-bottom: 90px;

		h2 {
			&::before {
				content: none;
			}
			span {
				&::before {
					content: none;
				}
			}
		}
	}

	&__row--mobile {
		display: none;
	}

	&__col--mobile {
		width: 33.3%;
	}

	&__col_item--mobile {
		background-color: #414B62;

		&.--red {
			background-color: $red;
		}
	}

}
