.--page3 {
	position: relative;

	@include _1680 {
		.hero_section__img {
			width: 50%;
		}
	}

	@include _1536 {
		.main-title--page {
			p {
				max-width: 260px;
			}
		}
	}

	@include _1366 {
		.main-title--page {
			h1 {
				&::after {
					right: 22rem;
				}
			}
		}
	}

	@include _1280 {
		.main-title--page {

			h1 {
				&::after {
					right: 19rem;
				}
			}
		}

		.hero_section__img--page {
			bottom: 4rem;
		}
	}

	@include _1200 {
		.hero_section__img--page {
			top: auto;
		}

		.main-title--page {
			h1 {
				&::after {
					content: none;
				}
			}
		}
	}

	@include _992 {
		.main-title--page {
			h1 {
				&::after {
					right: 18rem;
				}
			}
		}
	}

	@include _769 {
		.hero_section__img {
			bottom: 6rem;
		}
	}

	@include _740 {
		.hero_section__img {
			top: 10rem;
			right: -6.79375rem;
		}
	}

	@include _500 {
		.hero_section__img--page {
			bottom: 9rem;
			width: 53%;
			right: -4.79375rem;
		}
	}

	@include _375 {
		.main-title {
			max-width: 100%;

			p {
				max-width: 200px;
			}
		}

		.hero_section__img--page {
			bottom: 11rem;
			width: 60%;
		}
	}

	.main-title--page {
		max-width: 55%;

		h1 {
			&::after {
				right: 15.1rem;
			}
		}

		p {
			position: relative;
			z-index: 30;
			font-size: rem(20px);
			max-width: 261px;
		}
	}

	.hero_section__img--page {
		top: auto;
		bottom: 0;
	}
}

.page3--section-two {
	padding-bottom: 305px;

	@include _1440 {
		.page--section-two__paragraph {
			max-width: 500px;
		}
	}

	@include _1280 {
		.main-title {
			margin-bottom: 78px;
		}
	}

	@include _769 {
		padding-bottom: 255px;
	}

	@include _740 {
		padding-bottom: 225px;

		.main-title {
			h1 {
				&::before {
					width: 116px;
				}
			}
		}
	}

	@include _500 {
		padding-bottom: 184px;
	}

	@include _480 {
		padding-bottom: 184px;
	}


	.page--section-two__paragraph {
		font-size: rem(18px);
		max-width: 330px;
	}
}

.worlwide--page3 {

	@include _1366 {
		.worlwide--page__image {
			display: block;
		}
	}

	@include _769 {
		.worlwide--page__image {
			top: 15rem;
		}
	}

	@include _740 {
		.worlwide--page__image {
			top: auto;
			bottom: 0;
		}

		.worlwide--page__text {
			max-width: 100%;
		}
	}

	@include _480 {
		.worlwide--page__image {
			bottom: 3rem;
		}
	}


	.worlwide--page__image {
		top: 12rem;
	}

	.map {
		top: 2rem;
		transform: none;
	}

	.main-title {
		h2 {
			&::after {
				left: auto;
				right: 15.7rem;
			}
		}
	}

	.worlwide--page__text {
		max-width: 23.625rem;
	}
}


.page3_catalog {

	@include _1200 {
		.main-title.rest {
			span {
				&::before {
					content: none;
				}
			}
		}
	}

	@include _740 {
		.main-title {
			h2 {
				&::after {
					width: 116px;
				}
			}
		}
	}


	.main-title {
		max-width: 100%;

		&::before {
			content: none;
		}

		h2 {
			position: relative;
			max-width: 511px;
			z-index: 4;

			&::after {
				content: "";
				position: absolute;
				top: -1rem;
				right: auto;
				left: 4rem;
				transform: skew(-25.4deg);
				height: 160%;
				width: 179.5px;
				background-color: #FFF;
				z-index: -1;
			}
		}

		p {
			position: relative;
			z-index: 10;
			max-width: 531px;
		}
	}

	.main_list__col:last-child {
		&:hover {
			.main_list__item {
				padding: 0;

				&_text {
					transform: translateY(-60px);
					padding: 1rem;
					background: #FFF;
				}

				.main_list__text--hidden {
					opacity: 1;
					visibility: visible;
				}

				& .item_btn {
					opacity: 1;
					visibility: visible;
				}
			}

			@include _1024 {
				.main_list__item {
					padding: 1rem;

					&_text {
						transform: none;
						padding: 0;
						background: transparent;
					}

					.main_list__text--hidden {
						opacity: 0;
						visibility: hidden;
					}

					& .item_btn {
						opacity: 1;
						visibility: visible;
					}
				}
			}
		}
	}
}

.portfolio--page3 {
	@include _500 {
		.main-title.rest {
			&::before {
				right: 9rem;
			}
		}
	}
}

