.--page4 {
	position: relative;

	@include _1680 {
		.hero_section__img {
			width: 56%;
			bottom: 0;
		}
	}

	@include _1536 {
		.main-title--page {
			h1 {
				&::after {
					right: 13.1rem;
				}
			}
		}
		.hero_section__img {
			width: 56%;
			bottom: 0;
		}
	}

	@include _1440 {
		.main-title--page {
			h1 {
				&::before {
					width: 137px;
				}
			}
		}
	}

	@include _1366 {
		.main-title--page {
			max-width: 49%;

			h1 {
				&::before {
					width: 137px;
				}
			}
		}

		.hero_section__img--page {
			bottom: 5rem;
		}
	}

	@include _1280 {
		.main-title--page {
			max-width: 79%;
			margin-bottom: 3rem;

			h1 {

				br {
					display: none;
				}

				&::after {
					right: 27.6rem;
				}
			}
		}

		.hero_section__img {
			bottom: 1rem;
		}


	}

	@include _1200 {

		.main-title {
			h1 {
				br {
					display: none;
				}

				&::after {
					content: none;
				}

				&::before {
					height: 152%;
				}
			}
		}

		.hero_section__img--page {
			top: auto;
			bottom: -1rem;
			width: 58%;
		}
	}

	@include _992 {
		.hero_section__img--page {
			top: auto;
			bottom: -1rem;
		}

		.main-title {
			margin-bottom: 2.18rem;
			h1 {
				&::after {
					right: 1rem;
					bottom: 0;
				}
			}
		}
	}

	@include _769 {
		.hero_section__img {
			bottom: 1rem;
		}
	}

	@include _740 {

		.main-title--page {
			h1 {
				&::before {
					height: 134%;
				}
			}
		}

		.hero_section__img {
			top: auto;
			bottom: 3rem;
			width: 63%;
			right: -7.59375rem;
		}

		.hero_section__list {
			max-width: 85%;
		}
	}

	@include _500 {
		.hero_section__img {
			bottom: 8rem;
			width: 67%;
		}

		.hero_section__list {
			max-width: 100%;

			.hero_section__item:not(:first-child) {
				max-width: 60%;
			}
		}
	}

	@include _480 {
		.hero_section__img--page {
			bottom: 7rem;
			width: 69%;
		}
	}

	@include _375 {
		.hero_section__img--page {
			bottom: 10rem;
    		width: 76%;
		}

		.hero_section__list {

			.hero_section__item:not(:first-child) {
				max-width: 50%;
			}
		}
	}


	.main-title--page {
		max-width: 572px;

		h1 {
			&::before {
				left: 5.5rem;
				height: 228%;
			}
		}
	}

	.hero_section__list {
		max-width: 54%;
	}

	.hero_section__img--page {
		top: auto;
		bottom: -7rem;
	}
}

.page4--section-two {
    padding-bottom: 145px;

	@include _1680 {

		.page--section-two__img {
			width: 82%;
			bottom: -15rem;
		}
	}

	@include _1536 {
		padding-bottom: 215px;
		margin-bottom: 13rem;
		.main-title {
			margin-bottom: 88px;
		}

		.page--section-two__img {
			width: 82%;
			bottom: -15rem;
		}
	}

	@include _1440 {
		.main-title {
			h1 {
				&::before {
					width: 137px;
				}
			}
		}
	}

	@include _1366 {
		margin-bottom: 9rem;

		.main-title {
			max-width: 50%;
			margin-bottom: 68px;

			h1 {
				&::before {
					width: 137px;
				}
			}
		}

		.page--section-two__img {
			right: -6rem;
			bottom: -10rem;
		}
	}

	@include _1280 {
		padding-bottom: 115px;
		margin-bottom: 7rem;
		.page--section-two__img {
			width: 75%;
			bottom: -8rem;
		}
	}

	@include _1200 {
		padding-bottom: 95px;
		margin-bottom: 6rem;
		.page--section-two__img {
			left: auto;
			right: 0;
		}

		.main-title {
			max-width: 62%;
		}
	}

	@include _992 {

		.main-title {
			max-width: 56%;

			h1 {
				&::before {
					width: 116px;
				}
			}
		}

		.page--section-two__img {
			right: -3rem;
		}
	}

	@include _769 {
		.page--section-two__img {
			width: 95%;
		}

		.main-title {
			max-width: 68%;
		}
	}

	@include _740 {
		padding-bottom: 185px;
	}

	@include _500 {
		.main-title {
			max-width: 100%;
		}

		.page--section-two__img {
			bottom: -3rem;
			width: 115%;
		}

	}

	@include _375 {
		.main-title {
			h1 {
				&::before {
					width: 109.5px;
				}
			}
		}
	}


	.page--section-two__img {
		bottom: -13rem;
	}
	.main-title {
		h1 {
			&::before {
				height: 157%;
			}
		}
	}

}

.reasons--page4 {
	@include _1280 {
		.main-title {
			margin-bottom: 60px;
		}
	}
}

.worlwide--page4 {
	border-bottom: 32px solid #E83832;
	margin-bottom: 174px;

	@include _1536 {
		margin-bottom: 110px;
		.main-title {
			h2 {
				span {
					&::before {
						right: -3rem;
					}
				}
			}
		}
	}

	@include _1200 {
		.main-title {
			max-width: 68%;

			h2 {
				span {
					&::before {
						content: none;
					}
				}
			}
		}
	}

	@include _769 {
		.main-title  {
			p {
				max-width: 75%;
			}
		}
	}

	@include _740 {
		margin-bottom: 90px;
		.main-title {
			max-width: 100%;
			h2 {
				span {
					&::before {
						content: none;
					}
				}
			}

			&::before {
				width: 116px;
			}
		}

		.map {
			bottom: -22rem;
		}
	}

	@include _480 {
		.main-title {
			&::before {
				left: 7rem;
				top: -1rem;
			}
		}
	}

	@include _375 {
		.main-title {
			p {
				max-width: 93%;
			}
		}
	}


	.main-title {
		position: relative;
		max-width: 58%;
		&::before {
			top: -2rem;
			transform: skew(-25.4deg);
			right: auto;
			left: 7rem;
			height: 98%;
			width: 157.5px;
		}
		h2 {
			span {
				&::before {
					right: 21.1rem;
				}
			}
		}

		p {
			max-width: 50%;
		}
	}

	.worlwide__text {
		p {
			display: -webkit-box;
			-webkit-line-clamp: 11;
			-webkit-box-orient: vertical;
			overflow: hidden;
		}

		&.active {
			p {
				display: block;
			}

			.show_more_text__hidden {
				display: block;
			}

			.show_more_text__showen {
				display: none;
			}


		}
	}

}

.page_catalog--page4 {

	@include _1440 {
		.main-title {
			&::before {
				width: 137px;
				right: 10rem;
			}
		}
	}

	@include _1280 {
		.main-title.rest {

			h2 {
				br {
					display: none;
				}
			}

			span {
				&::before {
					right: -3.7rem;
				}
			}
		}
	}

	@include _1200 {
		.main-title {
			max-width: 63%;

			&::before {
				right: auto;
				left: 4rem;
			}

			h2 {
				span {
					&::before {
						content: none;
					}
				}
			}
		}

	}

	@include _740 {
		.main-title.rest {
			max-width: 100%;

			&::before {
				width: 116px;
			}
		}
	}

	@include _480 {
		.main-title {
			&::before {
				top: -1rem;
				width: 109.5px;
			}

			h2 {
				br {
					display: none;
				}
			}
		}
	}


	.main_list__col:last-child {
		&:hover {
			.main_list__item {
				padding: 0;

				&_text {
					transform: translateY(-60px);
					padding: 1rem;
					background: #FFF;
				}

				.main_list__text--hidden {
					opacity: 1;
					visibility: visible;
				}

				& .item_btn {
					opacity: 1;
					visibility: visible;
				}
			}

			@include _1024 {
				.main_list__item {
					padding: 1rem;

					&_text {
						transform: none;
						padding: 0;
						background: transparent;
					}

					.main_list__text--hidden {
						opacity: 0;
						visibility: hidden;
					}

					& .item_btn {
						opacity: 1;
						visibility: visible;
					}
				}
			}
		}
	}

	.main_list__col {
		&.last-child:hover {
			.main_list__item {
				padding: 2rem 2.5rem;

				@include _1280 {
					padding: 2rem;
				}
			}
		}
	}


	.main-title {
		max-width: 33%;
		&::before {
			top: -2rem;
			right: 8.3rem;
			height: 108%;
			transform: skew(-25.4deg);
		}
	}
}
