.--page6 {
	padding-top: 156px;

	@include _1680 {
		.hero_section__img--page {
			width: 50%;
		}
	}

	@include _1536 {
		.hero_section__img--page {
			width: 50%;
		}
	}

	@include _1440 {
		padding-top: 5rem;
		.hero_section__img--page {
			top: 160px;
		}
	}

	@include _1366 {
		.hero_section__img--page {
			top: 110px;
		}

		.main-title--page {
			h1 {
				&::before {
					height: 138%;
				}
			}
		}
	}

	@include _1280 {
		.hero_section__img--page {
			width: 42%;
		}

		.main-title--page {
			margin-bottom: 3.08rem;
			h1 {
				font-size: 1.9rem;
				&::after {
					right: 8rem;
				}
			}
		}

		.hero_section__item {
			font-size: 0.9rem;
		}

	}

	@include _1200 {
		.main-title--page {
			h1 {
				&::after {
					content: none;
				}
			}
		}

		.hero_section__img--page {
			top: 4rem;
		}
	}

	@include _740 {
		padding-bottom: 6rem;
		.hero_section__list {
			max-width: 50%;
		}
	}

	@include _500 {
		.hero_section__img--page {
			bottom: 11rem;
		}
	}

	@include _480 {
		.hero_section__img--page {
			bottom: 14rem;
		}
	}

	@include _375 {
		.main-title--page {
			h1 {
				&::before {
					height: 120%;
				}
			}
		}
	}

	@include _360 {
		.hero_section__img--page {
			bottom: 14rem;
		}
	}

	.main-title--page {
		max-width: 50%;

		h1 {
			&::after {
				right: 11.1rem;
			}

			&::before {
				height: 153%;
			}
		}
	}

	.hero_section__list {
		max-width: 17.125rem;
	}

	.hero_section__img--page {
		top: 100px;
	}

}

.page6--section-two {
	padding-bottom: 275px;
	margin-bottom: 120px;

	@include _1680 {
		.page--section-two__img {
			&.--ssecond {
				width: 9%;
			}
		}
	}

	@include _1536 {
		.main-title {
			max-width: 693px;
			margin-bottom: 78px;
		}

		.page--section-two__img {
			&.--ssecond {
				width: 9%;
				bottom: -170px;
			}
		}
	}

	@include _1440 {
		padding-bottom: 255px;
	}

	@include _1366 {
		padding-bottom: 285px;
		margin-bottom: 5rem;

		.page--section-two__paragraph {
			font-size: 1rem;
		}

		.main-title {
			margin-bottom: 68px;
		}

		.page--section-two__img {
			&.--ssecond {
				left: 70px;
			}
		}
	}

	@include _1280 {
		.page--section-two__img {
			&.--ssecond {
				bottom: -110px;
			}
		}
	}

	@include _1200 {
		.main-title {
			h1 {
				font-size: 1.9rem;
			}
		}

		.page--section-two__paragraph {
			max-width: 402px;
			position: relative;
			z-index: 10;
		}

		.page--section-two__img {
			&.--ssecond {
				left: 0;
			}
		}
	}

	@include _992 {
		padding-bottom: 235px;
	}

	@include _769 {
		.page--section-two__img {
			&.--ssecond {
				bottom: -50px;
			}
		}
	}

	@include _740 {
		padding-bottom: 235px;

		.main-title {
			max-width: 100%;
		}
	}

	@include _500 {
		padding-bottom: 214px;

		.main-title {
			h1 {
				&::before {
					height: 121%;
				}
			}
		}
	}

	@include _480 {
		.page--section-two__img {
			&.--ssecond {
				bottom: -30px;
			}
		}
	}

	@include _375 {
		padding-bottom: 180px;

		.page--section-two__img {
			width: 100%;
		}

	}

	.page--section-two__img {
		&.--ssecond {
			left: 100px;
			bottom: -220px;
			animation: 4s levitation infinite ease-in-out;
		}
	}


	.page--section-two__paragraph {
		font-size: rem(18px);
		max-width: 352px;
	}
}


.worlwide--page6 {

	@include _1536 {
		.main-title {
			h2 {
				&::after {
				    right: 19.1rem;
				}
			}
		}
	}

	@include _1366 {
		margin-bottom: 90px;
		.main-title {
			&::before {
				height: 134%;
			}
		}
	}

	@include _1280 {
		padding-bottom: 6rem;
		.main-title {
			h2 {
				&::after {
					right: 18.1rem;
					bottom: 0.2rem;
				}
			}
		}
	}

	@include _1200 {
		.main-title {
			h2 {
				&::after {
					content: none;
				}
			}
		}
	}

	@include _992 {
		.main-title {
			&::before {
				top: -1rem;
			}
		}
	}

	@include _769 {
		.worlwide__text {
			max-width: 23rem;
		}
	}

	@include _740 {
		.worlwide__text_img {
			top: -1.5rem;
		}
	}

	@include _375 {
		.main-title {
			&::before {
				height: 119%;
			}
		}
	}

	.main-title {
		&::before {
			height: 135%;
		}

		h2 {
			position: relative;
			span {
				&::before {
					content: none;
				}
			}

			&::after {
				content: "\e908";
				position: absolute;
				right: 17.1rem;
				bottom: 0.5rem;
				z-index: -1;
				font-family: "Icomoon";
				color: #E83832;
				font-size: 27.9px;
			}
		}
	}

	.worlwide__text {
		max-width: 25.625rem;

		ul {
			max-width: 90%;
			li {
				position: relative;
				margin-bottom: 1rem;
				padding-left: 2rem;

				&:last-child {
					margin-bottom: 0;
				}

				&::before {
					content: "";
					position: absolute;
					top: 6px;
					left: 8px;
					width: 8px;
					height: 18px;
					background-color: #E83832;
					transform: skew(-35deg);
				}


			}
		}
	}
}

.page_catalog--page6 {

	@include _1280 {
		.main-title {
			&.rest {
				span {
					&::before {
						right: 3.3rem;
					}
				}
			}
		}
	}

	@include _992 {
		.main-title {
			max-width: 72%;
		}
	}

	@include _500 {
		.main-title {
			margin-bottom: 60px;
		}
	}

	.main-title {
		max-width: 60%;

		h2 {
			max-width: 80%;
		}

		&::before {
			left: 6.4rem;
    		height: 122%;
		}
	}
}

.portfolio--page6 {

	@include _2100 {
		&::before {
			top: 47.1%;
		}
	}

	@include _1925 {
		&::before {
			top: 46.8%;
		}
	}

	@include _1536 {
		&::before {
			top: 39.2%;
		}
	}

	@include _1366 {
		&::before {
			top: 38.8%;
		}
	}

	@include _1280 {
		&::before {
			top: 38%;
		}

		.main-title {
			max-width: 27.625rem;

			&.rest {
				h2 {
					span {
						&::before {
							right: -9.1rem;
						}
					}
				}
			}
		}
	}

	@include _992 {
		.main-title {
			max-width: 25rem;

			&.rest {
				&::before {
					top: -1rem;
					right: 13rem;
				}
			}
		}
	}

	@include _960 {
		&::before {
			top: 37.6%;
		}
	}

	@include _769 {
		.main-title {
			&.rest {
				&::before {
					height: 77%;
				}
			}
		}
	}

	@include _740 {
		.portfolio__arrow-container {
			top: 10rem;
		}
	}

	@include _375 {
		.portfolio__arrow-container {
			top: 11rem;
		}

		.main-title {
			&.rest {
				&::before {
					height: 62%;
				}
			}
		}
	}


	.main-title {
		&.rest {
			&::before {
				top: -2rem;
				transform: translateY(0) skew(-25.4deg);
				height: 101%;
			}
		}
	}
}
