.--page5 {
	position: relative;

	@include _1680 {
		.hero_section__img {
			right: -3rem;
		}
	}

	@include _1536 {
		.main-title--page {
			max-width: 55%;
			margin-bottom: 3.5rem;
			br {
				display: none;
			}
		}
	}

	@include _1440 {
		.hero_section__img {
			width: 55%;
		}

		.main-title--page {
			h1 {
				&::before {
					width: 137px;
				}
			}
		}
	}

	@include _1366 {
		.main-title--page {
			max-width: 72%;
		}

		.hero_section__img--page {
			top: auto;
			transform: none;
			bottom: 6rem;
		}
	}

	@include _1280 {
		.main-title--page {
			max-width: 47%;

			h1 {
				&::before {
					top: -1rem;
				}
				&::after {
					right: 9rem;
				}
			}


		}

		.hero_section__img--page {
			bottom: 15rem;
		}
	}

	@include _1200 {
		.hero_section__img--page {
			top: auto;
			bottom: 8rem;
			width: 58%;
		}

		.main-title {
			max-width: 72%;
			h1 {
				&::after {
					content: none;
				}
			}
		}
	}

	@include _992 {
		.main-title {
			h1 {
				&::after {
					content: none;
				}

				&::before {
					height: 132%;
				}
			}
		}

		.hero_section__img--page {
			top: auto;
		}
	}

	@include _769 {
		.main-title--page {
			max-width: 100%;
		}

		.hero_section__list {
			max-width: 51%;
		}

		.hero_section__img {
			bottom: 6rem;
		}
	}

	@include _740 {

		.main-title {
			h1 {
				max-width: 96%;

				&::before {
					height: 130%;
				}
			}
		}

		.hero_section__img--page {
			top: auto;
			bottom: 13rem;
		}

		.hero_section__list {
			max-width: 100%;
		}

		.hero_section__item {
			&:not(:first-child) {
				max-width: 50%;
			}
		}
	}

	@include _500 {
		.hero_section__list {
			max-width: 100%;
		}

		.hero_section__img {
			bottom: 14rem;
			width: 73%;
		}
	}

	@include _375 {
		.main-title {
			max-width: 100%;
		}

		.hero_section__img--page {
			bottom: 13rem;
		}
	}

	@include _360 {
		.hero_section__img--page {
			bottom: 13rem;
		}

		.hero_section__item {
			&:not(:first-child) {
				max-width: 51%;
			}
		}
	}



	.main-title--page {
		max-width: 50%;
		margin-bottom: 40px;

		h1 {
			&::before {
				height: 238%;
				left: 6.5rem;
			}
		}
	}

	.hero_section__img--page {
		top: 50%;
		transform: translateY(-50%);
	}
}

.page5--section-two {
	z-index: 8;
	padding-bottom: 215px;

	@include _1536 {
		padding-bottom: 100px;
		.page--section-two__img {
			bottom: -17rem;
			width: 64%;
		}

		.main-title {
			max-width: 41%;
			margin-bottom: 88px;
		}
	}

	@include _1440 {
		.main-title {
			h1 {
				&::before {
					width: 137px;
				}
			}
		}
	}

	@include _1366 {
		margin-bottom: 7rem;
		.main-title {
			max-width: 42%;
		}

		.page--section-two__img {
			width: 63%;
			bottom: -14rem;
		}
	}

	@include _1280 {
		margin-bottom: 3rem;
		.page--section-two__img {
			bottom: -7rem;
		}
	}

	@include _1200 {
		.page--section-two__img {
			left: auto;
			right: 0;
			bottom: -10rem;
			width: 74%;
		}

		.main-title {
			max-width: 95%;
		}
	}

	@include _960 {
		.page--section-two__paragraph {
			max-width: 370px;
		}
	}

	@include _769 {
		padding-bottom: 390px;
		.page--section-two__paragraph {
			max-width: 94%;
		}

		.page--section-two__img {
			width: 84%;
		}

		.main-title {
			max-width: 100%;
		}
	}

	@include _740 {
		margin-bottom: 6rem;
		.main-title {
			max-width: 71%;

			h1 {
				&::before {
					width: 116px;
				}
			}
		}

		.page--section-two__img {
			bottom: -8rem;
		}
	}

	@include _500 {
		.main-title {
			max-width: 81%;
		}

		.page--section-two__img {
			bottom: -5rem;
		}
	}

	@include _480 {
		padding-bottom: 250px;
		margin-bottom: 5rem;
	}

	@include _375 {
		.page--section-two__img {
			width: 94%;
		}
	}



	.page--section-two__img {
		bottom: -24rem;
		z-index: -1;
	}


}

.worlwide--page5 {

	@include _1536 {
		.worlwide--page__img {
			width: 57%;
		}

		.main-title {
			h2 {
				max-width: 31%;
			}
		}
	}

	@include _1440 {
		margin-bottom: 120px;

		.main-title {
			h2 {
				&::before {
					width: 137px;
				}
			}
		}

	}

	@include _1280 {
		.main-title {
			margin-bottom: 4rem;
			h2 {
				max-width: 56%;

				&::before {
					right: auto;
					left: 7rem;
					width: 127px;
				}
			}

			p {
				max-width: 45%;
			}
		}

		.worlwide--page__text {
			max-width: 41%;

			ul {
				max-width: 94%;
			}
		}

		.worlwide__text_img {
			right: auto;
			left: -1rem;
		}

		.worlwide--page__img {
			width: 47%;
		}


	}

	@include _1200 {
		.main-title {
			h2 {
				max-width: 67%;
			}

			p {
				max-width: 53%;
			}
		}

		.worlwide--page__text {
			max-width: 51%;

			ul {
				max-width: 92%;
			}
		}

		.worlwide--page__img {
			bottom: 4rem;
		}
	}

	@include _992 {
		.worlwide--page__img {
			display: block;
		}

		.main-title {
			h2 {
				max-width: 65%;
			}
		}
	}

	@include _769 {
		padding-bottom: 25rem;
		.main-title {
			h2 {
				max-width: 81%;
			}

			p {
				max-width: 73%;
			}
		}

		.worlwide--page__text {
			max-width: 90%;
		}

		.map {
			right: -92%;
			bottom: -14rem;
		}

		.worlwide--page__img {
			width: 67%;
		}
	}

	@include _740 {
		padding-bottom: 15rem;

		.main-title {
			h2 {
				&::before {
					width: 116px;
				}
			}
		}
	}

	@include _600 {
		padding-bottom: 15rem;
	}

	@include _500 {
		.main-title {
			h2 {
				max-width: 91%;
			}
		}
	}

	@include _480 {
		margin-bottom: 70px;
		padding-bottom: 17rem;
		.main-title {
			h2 {
				max-width: 64%;
			}
		}
	}

	@include _375 {
		.main-title {
			h2 {
				max-width: 70%;
			}

			P {
			max-width: 100%;
			}
		}

		.worlwide--page__text {
			max-width: 100%;
		}

		.worlwide--page__img {
			width: 87%;
			bottom: 2rem;
		}

	}


	.worlwide--page__img {
		right: 0;
		bottom: 10rem;
	}


	.main-title {
		max-width: 100%;

		&::before {
			content: none;
		}

		h2 {
			max-width: 35%;
			position: relative;
			z-index: 26;

			&::before {
				content: "";
				position: absolute;
				top: -1rem;
				left: auto;
				right: 7rem;
				transform: skew(-25.4deg);
				height: 160%;
				width: 169.5px;
				background-color: #FFF;
				z-index: -1;
				display: block;
			}

			&::after {
				left: auto;
				right: -2rem;
			}
		}

		p {
			position: relative;
			z-index: 27;
			max-width: 44%;

		}
	}

	.worlwide--page__text {

		ul {
			li {
				position: relative;
				margin-bottom: 1rem;
				padding-left: 2rem;

				&:last-child {
					margin-bottom: 0;
				}

				&::before {
					content: "";
					position: absolute;
					top: 6px;
					left: 8px;
					width: 8px;
					height: 18px;
					background-color: #E83832;
					transform: skew(-35deg);
				}


			}
		}

		.show_more_text {
			margin-top: 2rem;
		}
	}




}

.page_catalog--page4 {

	@include _1200 {
		.main-title {
			max-width: 56%;
		}
	}

	@include _992 {
		.main-title {
			max-width: 54%;
			&::before {
				top: -1rem;
			}
		}
	}

	@include _769 {
		.main-title {
			max-width: 70%;
		}
	}

	@include _500 {
		.main-title {
			h2 {
				max-width: 91%;
			}
		}
	}

	.main-title {
		max-width: 40%;
	}
}

.portfolio--page5 {
	@include _740 {
		.main-title.rest {
			&::before {
				width: 116px;
				right: 10rem;
			}
		}
	}
}
