
.hero_section--page {
	padding-bottom: rem(166px);
	padding-top: 7rem;

	.hero_section__list {
		position: relative;
		z-index: 29;
	}

	@include _1536 {
		padding-bottom: 8rem;
		.main-title--page {
			max-width: 59%;
		}

		.hero_section__img {
			width: 46%;
		}

		.hero_section__list {
			max-width: 26rem;
		}

		.main-title--page h1::after {
			right: 20.1rem;
		}
	}

	@include _1366 {
		.main-title--page {
			h1 {

				&::after {
					right: 9rem;
					bottom: 0.2rem;
				}
			}
		}
	}

	@include _1280 {
		.main-title--page {
			h1 {
				&::after {
					right: 19rem;
				}

				&::before {
					top: -1rem;
				}
			}
		}

		&.--page1 {
			.hero_section__list {
				max-width: 100%;
			}

			.main-title--page {
				margin-bottom: 3rem;
			}
		}
	}

	@include _1200 {
		position: relative;

		.main-title--page {
			h1 {
				&::after {
					right: 20rem;
				}
			}
		}

		.hero_section__img {
			top: -1rem;
			width: 48%;
		}
	}

	@include _992 {
		padding-bottom: 5.6rem;

		.main-title--page {
			h1 {
				&::before {
					top: -1rem;
				}

				&::after {
					content: none;
				}
			}
		}

		.hero_section__img--page {
			top: 6rem;
		}
	}

	@include _769 {

		.main-title--page {
			h1 {
				&::after {
					content: none;
				}
			}
		}

		.hero_section__img {
			top: auto;
			bottom: 8rem;
		}

	}

	@include _740 {
		padding-bottom: 7rem;
		.hero_section__img {
			top: 6rem;
			bottom: auto;
			width: 63%;
		}

		.hero_section__item {
			padding-left: 1.75rem;
		}

		&.--page1 {
			.hero_section__list {
				max-width: 60%;
			}
		}
	}

	@include _500 {
		padding-bottom: 5rem;
		.main-title--page {
			max-width: 100%;
		}

		.hero_section__img {
			top: auto;
			bottom: 5rem;
		}

		.hero_section__list {
			max-width: 54%;
		}
	}

	@include _480 {
		.main-title--page {
			h1 {
				&::before {
					height: 130%;
				}
			}
		}
	}

	@include _375 {
		.main-title--page {
			max-width: 100%;
		}
	}

	@include _360 {
		.hero_section__img {
			bottom: 11rem;
		}
	}

	.main-title--page {
		position: relative;
		max-width: 39%;
		margin-bottom: rem(40px);

		h1 {
			position: relative;
			margin-bottom: 1rem;
			span {
				&::before {
					content: none;
				}
			}

			&::after {
				content: "\e908";
				position: absolute;
				right: 3.1rem;
				bottom: 0.5rem;
				z-index: -1;
				font-family: "Icomoon";
				color: #E83832;
				font-size: 27.9px;
			}

			&::before {
				height: 178%;
				top: -2rem;
				transform: skew(-23.4deg);
			}


		}

	}

}

.page--section-two {
	position: relative;
	padding-bottom: 415px;
	margin-bottom: 160px;

	@include _1536 {
		padding-bottom: 345px;
		margin-bottom: 8rem;
		.main-title {
			h1 {
				font-size: rem(35px);
			}
		}

		&__img {
			width: 94%;
		}

		&__img_tube {
			top: 6rem;
			width: 51%;
		}

		&__img_ball {
			left: 7rem;
			top: 8rem;
		}

	}

	@include _1366 {
		margin-bottom: 6rem;
		.main-title {
			max-width: 70%;
			margin-bottom: 88px;
			h1 {
				font-size: rem(32px);

				&::before {
					width: 129.5px;
				}
			}
		}

		&__img_ball {
			left: 20rem;
			top: 20rem;
		}
	}

	@include _1280 {
		margin-bottom: 6rem;

		&__img_tube {
			top: 10rem;
		}
	}

	@include _1200 {
		padding-bottom: 285px;
		margin-bottom: 5rem;
		.main-title {
			max-width: 73%;
			margin-bottom: 68px;
			h1 {
				font-size: rem(32px);
			}
		}

		&__img {
			right: auto;
			left: 0;
			width: 100%;
		}

		&__img_ball {
			left: 14rem;
			top: 16rem;
		}

	}

	@include _992 {
		.main-title {
			h1 {
				font-size: rem(27px);
			}
		}
	}

	@include _769 {
		padding-bottom: 205px;
		.main-title {
			max-width: 88%;
			h1 {
				font-size: rem(27px);
			}
		}

		&__img_ball {
			width: 10%;
			left: 12rem;
		}
	}

	@include _740 {
		padding-bottom: 315px;

		.main-title {
			margin-bottom: 58px;
		}

		&__paragraph {
			max-width: 89%;
		}

		&__img_tube {
			top: 20rem;
		}

		&__img_ball {
			width: 14%;
			left: 6rem;
		}
	}

	@include _500 {
		padding-bottom: 274px;
		margin-bottom: 4rem;
		.main-title {
			h1 {
				font-size: rem(26px);
			}
		}

		&__img_tube {
			top: 21rem;
		}

		&__img_ball {
			left: 5rem;
		}
	}

	@include _480 {
		padding-bottom: 220px;
		.main-title {
			h1 {
				font-size: rem(23px);

				&::before {
					width: 103px;
				}
			}
		}

		&__paragraph {
			max-width: 100%;
		}

		&__img_tube {
			top: 18rem;
			width: 63%;
		}

		&__img_ball {
			width: 17%;
			left: 4rem;
		}
	}

	@include _375 {
		.main-title {
			max-width: 100%;
		}

		&__img_tube {
			top: 20rem;
		}

		&__img {
			width: 130%;
		}
	}



	&__img {
		position: absolute;
		right: 0;
		bottom: 0;
		z-index: 5;
	}

	&__img_ball {
		position: absolute;
		left: 8rem;
	}

	&__img_tube {
		position: absolute;
		top: -6rem;
		right: 0;
	}

	.main-title {
		max-width: 583px;
		margin-bottom: 118px;

		h1 {
			span {
				&::before {
					content: none;
				}
			}
		}
	}

	&__paragraph {
		max-width: 310px;
	}
}

.reasons {
	position: relative;
	padding-bottom: 81px;

	@include _1536 {
		.positioned_block2 {
			display: none;
		}

		.anim_arrows {
			left: 5rem;
			display: none;
		}

		.positioned_block {
			display: none;
		}
	}

	@include _1366 {
		.main-title {
			h2 {
				font-size: rem(32px);
			}
		}
	}

	@include _1280 {
		.positioned_block {
			display: none;
		}

		.anim_arrows {
			display: none;
		}
	}

	@include _1200 {
		.main-title {
			margin-bottom: 40px;
		}

		.feautures__inner {
			padding-left: 4rem;
			padding-right: 4rem;
		}
	}


	@include _992 {
		.main-title {
			h2 {
				font-size: rem(27px);
			}
		}
	}

	@include _740 {
		.main-title {
			margin-bottom: 70px;
			h2 {
				font-size: rem(26px);
			}
		}
	}

	@include _480 {
		.feautures__inner {
			padding-left: 2rem;
			padding-right: 2rem;
		}

		.main-title {
			h2 {
				font-size: rem(22px);
			}
		}
	}

	@include _360 {
		.feautures__inner {
			padding-left: 1rem;
			padding-right: 1rem;
		}
	}


	.positioned_block2 {
		top: 10rem;
		right: rem(188px);
		left: auto;
	}

	.anim_arrows {
		top: 6rem;
		left: 8.4rem;
		right: auto;
		bottom: auto;
	}

	.positioned_block {
		top: auto;
		bottom: rem(218px);
	}


	.main-title {
		text-align: center;
		max-width: 770px;
		margin: 0 auto;
		margin-bottom: 80px;


		h2 {
			margin-bottom: 16px;


			&::before {
				content: none;
			}

			span {
				&::before {
					content: none;
				}
			}
		}
	}

	.feautures__item {
		.text_m {
			display: block;
			font-family: "Jost-ExtraLight", sans-serif;
			font-size: rem(24px);
		}

		p {
			max-width: 244px;
			margin: 0 auto;
		}
	}
}

.worlwide--page {
	padding-bottom: 67px;
	border-bottom: 32px solid $red;
	margin-bottom: 160px;

	@include _1536 {
		&__image {
			width: 46%;
		}

		.main-title {
			h2 {
				&::after {
					content: none;
				}
			}
		}

		&__image_top {
			width: 46%;
		}
		&__image_bottom {
			width: 46%;
			bottom: 6rem;
		}
	}

	@include _1440 {
		margin-bottom: 120px;
	}

	@include _1366 {
		padding-bottom: 5rem;
		margin-bottom: 110px;
		&__image {
			display: none;
		}

		.main-title {
			&::before {
				height: 112%;
				width: 111.5px;
				right: 23rem;
			}
		}
	}

	@include _1280 {
		margin-bottom: 90px;
	}

	@include _1200 {
		&__image_bottom {
			bottom: 10.1rem;
		}

		&__image_top {
			width: 57%;
			right: -4rem;
		}
	}

	@include _992 {
		margin-bottom: 70px;
		&__img {
			display: none;
		}

		.map {
			bottom: -1rem;
		}

		.main-title {
			&::before {
				right: auto;
				left: 4rem;
			}
			h2 {
				br {
					display: none;
				}
			}
		}
	}

	@include _740 {
		padding-bottom: 5rem;
	}

	@include _600 {
		padding-bottom: 5rem;

		&__item {
			width: calc(50% - 32px);
		}
	}

	@include _500 {
		&__item {
			font-size: 0.8rem;
		}
	}

	@include _480 {
		padding-bottom: 3rem;

		.main-title {
			&::before {
				width: 103px;
				height: 117%;
			}
		}
	}


	.main-title {
		&::before {
			right: 22.2rem;
		}
		h2 {
			span {
				&::before {
					content: none;
				}
			}

			&::after {
				content: "\e908";
				position: absolute;
				left: 7.1rem;
				bottom: 0.5rem;
				z-index: -1;
				font-family: "Icomoon";
				color: #E83832;
				font-size: 27.9px;
			}
		}
	}

	&__img {
		position: absolute;
	}

	&__image_top {
		top: 0;
		right: 0;
	}

	&__image_bottom {
		right: 0;
		bottom: 4rem;
	}

	&__image {
		position: absolute;
		top: 0;
		right: 0;
	}

	&__list {
		display: flex;
		margin: -16px;
		margin-top: 70px;
		flex-wrap: wrap;
	}

	&__item {
		width: calc(33% - 32px);
		margin: 16px;
		background-color: #FFF;
		text-align: center;
		padding: 50px 15px;
	}

	&__text {
		max-width: 21.625rem;
	}

	.map {
		#RU-KYA_1_,
		#RU-KO_1_,
		#RU-KHM_1_,
		#RU-OMS_1_,
		#RU-PER_1_,
		#RU-VLA_1_ {
			fill: transparent !important;
		}
	}
}

.page_catalog {
	position: relative;
	margin-bottom: 80px;

	@include _1440 {
		.main-title {
			span {
				&::before {
					right: -2.9rem;
					bottom: 0.3rem;
				}
			}
		}
	}

	@include _1280 {
		.main-title.rest {
			&::before {
				width: 127.5px;
				height: 119%;
			}

			span {
				&::before {
					right: 2.3rem;
					bottom: 0.2rem;
				}
			}
		}
	}

	@include _1200 {
		.main-title {
			max-width: 534px;
		}

		.systems__bloks {
			display: none;
		}
	}

	@include _992 {
		.main-title.rest {
			span {
				&::before {
					content: none;
				}
			}
		}
	}

	@include _769 {
		.main-title {
			span {
				&::before {
					content: none;
				}
			}
		}
	}

	@include _480 {
		.main-title.rest {
			&::before {
				width: 103px;
				right: 14.3rem;
			}
		}
	}

	@include _375 {
		.main-title.rest {
			&::before {
				right: 9rem;
			}
		}
	}

	.our_products__blocks {
		bottom: -10.65rem;
		z-index: 150;
	}


	.main-title {
		max-width: 504px;
		margin-bottom: 80px;
		&::before {
			right: 15.3rem;
		}

		span {
			&::before {
				right: -3.2rem;
			}
		}
	}
}

.portfolio--page {
	margin-bottom: rem(137px);

	@include _2100 {
		&::before {
			top: 42.6%;
		}
	}


	@include _1925 {
		&::before {
			top: 42.3%;
		}
	}

	@include _1536 {
		&::before {
			top: 35.1%;
		}

		.main-title {
			span {
				&::before {
					right: -9.8rem;
				}
			}
		}
	}

	@include _1366 {
		&::before {
			top: 35.1%;
		}
	}

	@include _1280 {
		&::before {
			top: 34%;
		}

		.main-title.rest {

			&::before {
				width: 127px;
			}

			span {
				&::before {
					right: -16.8rem;
				}
			}
		}

		&.--page-first {

			.portfolio__arrow-container {
				top: 4rem;
			}
		}
	}

	@include _1200 {
		.main-title.rest {
			&::before {
				right: 19rem;
			}

			span {
				&::before {
					content: none;
				}
			}
		}
	}

	@include _1024 {
		.portfolio__arrow-container {
			top: 4rem;
		}
	}

	@include _960 {
		&::before {
			top: 33.5%;
		}

		.main-title.rest {
			span {
				&::before {
					content: none;
				}
			}
		}
	}

	@include _769 {
		.main-title {
			span {
				&::before {
					content: none;
				}
			}
		}
	}

	@include _740 {
		padding-top: 5rem;
		margin-bottom: 4rem;
		.portfolio__arrow-container {
			top: 7rem;
		}
	}

	@include _480 {
		margin-bottom: 3rem;

		.main-title.rest {
			&::before {
				width: 103px;
				right: 13rem;
			}
		}
	}



	.main-title {
		&::before {
			right: 13rem;
			width: 139.5px;
		}
	}
}

.footer_section--page {
	position: relative;
	overflow: hidden;

	@include _1200 {
		&__img {
			top: auto;
			left: -8rem;
			bottom: -3.4rem;
			width: 110%;
		}

		.main-title {
			span {
				&::before {
					content: none;
				}
			}
		}
	}

	@include _992 {
		&__img {
			right: auto;
			bottom: -3rem;
			width: 104%;
		}
	}

	@include _769 {
		&__img {
			left: -15rem;
			width: 132%;
		}
	}

	@include _740 {

		padding-bottom: 19rem;

		.footer_section__col:nth-child(1) {
			margin-bottom: 3rem;
		}


		.main-title {
			span {
				&::before {
					content: none;
				}
			}
		}

		.footer_section--page__img {
			display: block;
			left: 50%;
			width: 152%;
			transform: translateX(-50%);
			bottom: -1.2rem;
		}
	}

	@include _480 {
		padding-bottom: 17rem;
	}

	@include _360 {
		padding-bottom: 14rem;
	}




	&__img {
		top: auto;
		right: 0;
		bottom: -3.5rem;
	}

	.form_custom p {
		text-align: center;
	}

	.main-title {
		h2 {
			&::before {
				left: 5.6rem;
			}
		}
		span {
			&::before {
				right: 1.2rem;
			}
		}
	}



}
