.--page7 {

	.hero_section__img--page {
		top: 150px;
	}

	@include _1366 {
		.hero_section__img--page {
			top: 140px;
		}
	}

	@include _500 {

		.hero_section__img--page {
			right: -2.69375rem;
		}
	}
}

.page7--section-two {
	padding-bottom: 220px;


	.page--section-two__paragraph {
		max-width: 372px;
	}

	.page7--section-two__img {
		position: absolute;

		&.--first {
			right: 16rem;
			bottom: -3rem;
		}
		&.--clock-1 {
			top: 9rem;
			left: 0;
			z-index: 15;
			animation: 4s levitation infinite ease-in-out;
		}

		&.--clock-2 {
			top: 31rem;
			left: 5rem;
			animation: 4s levitation infinite ease-in-out;
			z-index: 15;
		}

		&.--clock-3 {
			top: 4rem;
			right: 51rem;
			animation: 4s levitation infinite ease-in-out;
		}

		&.--clock-4 {
			top: 0;
			right: 0;
			animation: 4s levitation infinite ease-in-out;
		}
	}


	@include _1680 {
		.page7--section-two__img {

			&.--clock-1 {
				width: 13%;
			}

			&.--clock-2 {
				width: 20%;
			}

			&.--clock-3 {
				right: 46rem;
			}
		}
	}

	@include _1536 {
		padding-bottom: 179px;
		.main-title {
			max-width: 35.2%;
		}

		.page7--section-two__img {

			&.--first {
				right: 5rem;
				bottom: -8rem;
			}

			&.--clock-1 {
				display: none;
			}

			&.--clock-2 {
				top: 28rem;
			}

			&.--clock-3 {
				right: 39rem;
			}
		}
	}

	@include _1440 {
		padding-bottom: 179px;

		.page7--section-two__img {

			&.--first {
				right: 5rem;
				bottom: auto;
				top: 12rem;
			}

			&.--clock-1 {
				display: none;
			}

			&.--clock-2 {
				top: 31rem;
			}

			&.--clock-3 {
				right: 28rem;
			}
		}
	}

	@include _1366 {
		padding-bottom: 205px;

		.main-title {
			max-width: 50%;
		}

		.page7--section-two__img {

			&.--first {
				width: 49%;
			}

			&.--clock-2 {
				top: 25rem;
				width: 19%;
			}

			&.--clock-3 {
				top: 2rem;
				right: 39rem;
				width: 12%;
			}

			&.--clock-4 {
				width: 12%;
			}
		}
	}

	@include _1280 {
		padding-bottom: 205px;

		.main-title {
			max-width: 50%;
		}

		.page7--section-two__img {

			&.--first {
				right: 1rem;
			}

			&.--clock-2 {
				top: 23rem;
			}

			&.--clock-3 {
				right: 35rem;
			}
		}
	}

	@include _1200 {
		padding-bottom: 204px;

		.main-title {
			max-width: 53%;
		}

		.page7--section-two__img {

			&.--first {
				top: 15rem;
			}

			&.--clock-2 {
				top: 23rem;
				left: 0;
			}

			&.--clock-3 {
				top: 6rem;
				right: 25rem;
			}
		}
	}

	@include _992 {
		padding-bottom: 175px;

		.page7--section-two__img {
			position: absolute;

			&.--clock-3 {
				right: 22rem;
			}
		}


		.page7--section-two__img {

			&.--first {
				top: 15rem;
			}

			&.--clock-2 {
				top: 23rem;
				left: 0;
			}

			&.--clock-3 {
				top: 6rem;
				right: 25rem;
			}
		}
	}

	@include _769 {
		.main-title {
			max-width: 68%;
		}


		.page7--section-two__img {

			&.--first {
				top: 18rem;
				right: -1rem;
				width: 60%;
			}

			&.--clock-2 {
				width: 26%;
			}

			&.--clock-3 {
				top: 2rem;
				right: 13rem;
				width: 15%;
			}

			&.--clock-4 {
				width: 18%;
			}
		}
	}

	@include _740 {
		.main-title {
			max-width: 90%;
		}

		.page7--section-two__img {

			&.--first {
				top: 18rem;
				right: -1rem;
				width: 60%;
			}

			&.--clock-2 {
				top: 22rem;
				width: 31%;
			}

			&.--clock-3 {
				display: none;
			}

			&.--clock-4 {
				width: 22%;
			}
		}
	}

	@include _500 {
		.page7--section-two__img {

			&.--first {
				top: 20rem;
				right: -3rem;
				width: 69%;
			}

			&.--clock-2 {
				top: 22rem;
				width: 31%;
			}

			&.--clock-4 {
				width: 22%;
			}
		}
	}

	@include _480 {
		.main-title {
			margin-bottom: 38px;
		}

		.page7--section-two__img {

			&.--first {
				width: 87%;
			}

			&.--clock-2 {
				top: 19rem;
				width: 25%;
			}

			&.--clock-4 {
				top: -4rem;
			}
		}
	}

	@include _375 {

		.page7--section-two__img {

			&.--first {
				top: 21rem;
			}

			&.--clock-2 {
				top: 20rem;
			}
		}
	}
}

.worlwide--page7 {

	.worlwide__text {
		p {
			margin-bottom: 1rem;
		}
	}

	.show_more_text {
		margin-bottom: rem(33px);
	}

	.main-title {
		max-width: 48%;
	}

	@include _1536 {
		.main-title {
			&::before {
				top: -1rem;
			}
			h2 {
				&::after {
					right: -3rem;
				}
			}
		}
	}

	@include _1280 {
		.main-title {
			&::before {
				top: -1rem;
			}
			h2 {
				&::after {
					right: -3rem;
				}
			}
		}
	}

}


@-webkit-keyframes levitation {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	50% {
		-webkit-transform: translateY(-0.5rem);
		transform: translateY(-0.5rem);
	}

	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}
