.--page9 {

	.hero_section__list {
		max-width: 100%;
	}

	.hero_section__item {
		&:first-child {
			max-width: 80%;
		}

		max-width: 40%;
	}

	.hero_section__img--page {
		top: 140px;
	}

	@include _1680 {
		.hero_section__img--page {
			width: 50%;
		}
	}

	@include _1536 {

		.hero_section__list {
			max-width: 70%;
		}

		.hero_section__item {
			max-width: 50%;

			&:first-child {
				max-width: 100%;
			}
		}

		.main-title--page {
			margin-bottom: 3.08rem;
		}
	}

	@include _1366 {
		.main-title--page {
			margin-bottom: 3rem;
		}

		.main-title--page {
			max-width: 50%;

			h1 {
				&::after {
					right: 3rem;
				}
			}
		}

		.hero_section__list {
			max-width: 80%;
		}
	}

	@include _1280 {
		.main-title--page {
			max-width: 70%;
			margin-bottom: 3.38rem;
			h1 {
				&::after {
    				right: 0rem;
				}
			}
		}

		.hero_section__img--page {
			top: 240px;
			width: 46%;
		}
	}

	@include _1200 {
		.hero_section__img--page {
			top: 7rem;
			width: 52%;
		}

		.hero_section__list {
			max-width: 70%;
		}
	}

	@include _992 {
		padding-top: 2rem;
	}

	@include _769 {
		.hero_section__item {
			max-width: 60%;
		}

		.hero_section__img--page {
			bottom: 5rem;
		}
	}

	@include _740 {
		.hero_section__img--page {
			top: 10rem;
		}

		.hero_section__item {
			max-width: 76%;
		}
	}

	@include _500 {
		.hero_section__img--page {
			bottom: 8rem;
		}
	}

	@include _480 {
		.hero_section__img--page {
			bottom: 12rem;
		}
	}

	@include _375 {
		.hero_section__item {
			max-width: 100%;
		}
	}

}

.page9--section-two {
	padding-bottom: 115px;

	.page9--section-two__img {
		position: absolute;
		&.--first {
			right: 0;
			bottom: 0;
		}

		&.--second {
			top: 5rem;
			left: 0;
		}

	}

	.page--section-two__paragraph {
		max-width: 374px;
	}

	@include _1680 {
		.page9--section-two__img {

			&.--first {
   				width: 55%;
			}

			&.--second {
				top: 21rem;
				left: 0;
				width: 14%;
			}

		}
	}

	@include _1536 {
		padding-bottom: 100px;
		margin-bottom: 7rem;
	}


	@include _1440 {
		padding-bottom: 125px;
	}

	@include _1366 {
		padding-bottom: 173px;
	}

	@include _1280 {
		padding-bottom: 103px;
		.page9--section-two__img {

			&.--first {
				width: 48%;
			}

			&.--second {
				display: none;
			}

		}
	}

	@include _1200 {
		padding-bottom: 45px;

		.page9--section-two__img {

			&.--first {
				width: 50%;
			}

		}

		.main-title {
			max-width: 67%;
		}
	}

	@include _992 {
		padding-bottom: 55px;
	}

	@include _769 {
		padding-bottom: 165px;
		.main-title {
			margin-bottom: 58px;
		}

		.page9--section-two__img {

			&.--first {
				bottom: -2rem;
			}

			&.--second {
				display: block;
				top: auto;
				bottom: -12rem;
				left: -30px;
			}

		}

		.page--section-two__paragraph {
			max-width: 73%;
		}
	}

	@include _740 {
		padding-bottom: 125px;

		.page9--section-two__img {

			&.--second {
				bottom: -6rem;
			}

		}
	}

	@include _500 {
		padding-bottom: 264px;
		.page9--section-two__img {

			&.--first {
				width: 88%;
				bottom: 0;
			}

			&.--second {
				display: none;
			}

		}

		.main-title {
			margin-bottom: 48px;
		}

		.page--section-two__paragraph {
			max-width: 83%;
		}
	}

	@include _375 {
		.page9--section-two__img {

			&.--first {
				width: 74%;
			}

		}

		.page--section-two__paragraph {
			max-width: 100%;
		}
	}

}

.worlwide--page9 {
	.main-title {
		h2 {
			&::after {
				right: 14.1rem;
			}
		}
	}

	@include _1536 {
		.main-title {
			max-width: 50%;
			br {
				display: none;
			}

			h2 {
				&::after {
					right: 17rem;
				}
			}
		}
	}

	@include _1280 {
		.main-title {
			h2 {
				&::after {
					right: 17rem;
				}
			}
		}
	}

	@include _769 {
		.main-title {
			max-width: 72%;
		}
	}

	@include _740 {
		.main-title {
			max-width: 90%;
		}
	}

	@include _500 {
		.main-title {
			max-width: 100%;
		}
	}

}

.page_catalog--page9 {

	.main-title {
		max-width: 46%;
	}

	@include _1536 {
		.main-title {
			span {
				&::before {
					right: 4.8rem;
				}
			}
		}
	}

	@include _1440 {
		.main-title {
			span {
				&::before {
					right: 4.8rem;
				}
			}
		}
	}

	@include _1280 {
		.main-title.rest {
			span {
				&::before {
					right: -3.7rem;
				}
			}
		}
	}

}
