.--page8 {

	.main-title--page {
		max-width: 64%;

		h1 {
			&::after {
				right: 5.1rem;
			}
		}
	}

	.hero_section__img--page {
		top: 150px;
	}

	@include _1680 {
		.hero_section__img--page {
			top: 230px;
			width: 55%;
		}
	}

	@include _1536 {
		.main-title--page {
			margin-bottom: 4rem;
			h1 {
				&::after {
					right: 4rem;
				}
			}
		}

		.hero_section__img--page {
			top: 180px;
		}
	}

	@include _1366 {
		.main-title--page {
			max-width: 51%;
			margin-bottom: 2.88rem;

			h1 {
				&::after {
					right: 3.1rem;
				}
			}
		}

		.hero_section__img--page {
			width: 54%;
			top: 150px;
		}
	}

	@include _1280 {
		.main-title--page {
			max-width: 60%;
			h1 {
				br {
					display: none;
				}
			}
		}

		.hero_section__img--page {
			width: 48%;
		}
	}

	@include _1200 {
		.hero_section__img--page {
			top: 6rem;
		}
	}

	@include _992 {
		.hero_section__img--page {
			top: 4rem;
			width: 56%;
		}
	}

	@include _769 {
		.main-title--page {
			max-width: 80%;
		}

		.hero_section__list {
			max-width: 50%;
		}

		.hero_section__img--page {
			bottom: 6rem;
			width: 60%;
		}
	}

	@include _740 {
		.hero_section__img--page {
			top: 10rem;
		}
	}

	@include _500 {
		.hero_section__img--page {
			bottom: 9rem;
		}
	}

	@include _480 {
		.hero_section__img--page {
			bottom: 11rem;
			width: 70%;
		}
	}

}

.page8--section-two {
	padding-bottom: 170px;

	.page8--section-two__img {
		position: absolute;

		&.--first {
			right: 0;
			bottom: 4rem;
		}

		&.--second {
			right: 10rem;
			top: 4rem;
			animation: 4s levitation infinite ease-in-out;
		}

		&.--third {
			right: 45rem;
			top: 4rem;
			animation: 4s levitation infinite ease-in-out;
		}
	}

	.page--section-two__paragraph {
		max-width: 349px;
	}

	@include _1680 {
		.page8--section-two__img {

			&.--first {
    			width: 60%;
			}

			&.--second {
				right: 10rem;
				top: 10rem;
				width: 14%;
			}

			&.--third {
				right: 36rem;
				top: 11rem;
				width: 8%;
			}
		}
	}

	@include _1536 {
		padding-bottom: 225px;

		.page8--section-two__img {

			&.--first {
				bottom: 0;
			}

		}
	}

	@include _1440 {
		padding-bottom: 195px;
	}

	@include _1366 {
		padding-bottom: 155px;

		.main-title {
			max-width: 59%;
		}

		.page8--section-two__img {

			&.--second {
				top: 5rem;
			}

			&.--third {
				right: 31rem;
				top: 7rem;
			}
		}
	}

	@include _1280 {
		padding-bottom: 105px;

		.page8--section-two__img {

			&.--first {
				width: 58%;
			}

			&.--second {
				right: 7rem;
			}
		}
	}

	@include _1200 {
		padding-bottom: 85px;

		.page8--section-two__img {

			&.--first {
				width: 58%;
			}

			&.--second {
				top: 7rem;
				right: 5rem;
			}

			&.--third {
				right: 22rem;
				top: 8rem;
			}
		}
	}

	@include _992 {
		padding-bottom: 75px;
	}

	@include _769 {
		padding-bottom: 416px;

		.page--section-two__paragraph {
			max-width: 90%;

			br {
				display: none;
			}
		}

		.page8--section-two__img {

			&.--first {
				width: 100%;
				left: 50%;
				right: auto;
				transform: translateX(-50%);
			}

			&.--second {
				top: auto;
				bottom: 16rem;
				right: 9rem;
				width: 22%;
			}

			&.--third {
				right: 29rem;
				top: auto;
				bottom: 19.4rem;
				width: 15%;
			}
		}
	}

	@include _740 {
		padding-bottom: 345px;
		.page8--section-two__img {

			&.--second {
				bottom: 14rem;
				right: 6rem;
				width: 19%;
			}

			&.--third {
				right: 24rem;
				bottom: 16.4rem;
				width: 14%;
			}
		}
	}

	@include _500 {
		padding-bottom: 293px;

		.page8--section-two__img {

			&.--second {
				bottom: 12rem;
				right: 7rem;
			}

			&.--third {
				right: 21rem;
				bottom: 14.4rem;
				width: 14%;
			}
		}

		.main-title {
			max-width: 90%;
			margin-bottom: 48px;
		}
	}

	@include _480 {
		.page8--section-two__img {

			&.--second {
				bottom: 10.6rem;
				right: 4.6rem;
			}

			&.--third {
				right: 19rem;
				bottom: 11.9rem;
			}
		}

		.main-title {
			margin-bottom: 38px;
		}
	}

	@include _375 {
		padding-bottom: 220px;

		.page8--section-two__img {

			&.--second {
				bottom: 9.6rem;
			}

			&.--third {
				right: 16rem;
				bottom: 10.9rem;
			}
		}
	}

}

.worlwide--page8 {
	.main-title {
		h2 {
			&::after {
				right: 9.4rem;
			}
		}
	}

	@include _1366 {
		.main-title {
			h2 {
				&::after {
				    right: -1rem;
				}
			}
		}
	}

	@include _1200 {
		.main-title {
			max-width: 63%;
		}
	}

	@include _769 {
		.main-title {
			max-width: 81%;
		}
	}

	@include _740 {
		.main-title {
			max-width: 90%;
		}
	}
}
