.popup_custom {
	z-index: 10000;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	opacity: 0;
	transition: opacity .4s ease;

	&__overlay {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		background-color: rgba(34, 24, 38, 0.4);
		z-index: 5;
	}

	&__inner {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		max-width: 539px;
		background-color: #fff;
		z-index: 10;
		padding: 32px;
		max-height: 100vh;

		@include _600 {
			top: 0;
			left: 0;
			transform: none;
			max-width: 100%;
			height: 100%;
		}
	}

	&__head {
		margin-bottom: 32px;

		p {
			margin: 1rem 0;
			text-align: center;
			font-size: rem(15px);
		}
	}

	&__title {
		font-size: 20px;
		line-height: 140%;
		font-weight: bold;
		text-align: center;
	}

	&__scroll {
		position: relative;
		padding-right: 16px;
		margin-right: -16px;
		max-height: 100vh;
		height: 100%;
		overflow: auto;
	}

	&_close {
		position: absolute;
		top: 39px;
		right: 32px;
		font-size: 16px;
		cursor: pointer;
		transition: color .2s;
		z-index: 5;

		&:hover {
			color: $red;
		}
	}

	&__succses-text {
		margin: 0;
		margin-bottom: 32px;

		span {
			color: $color-red2;
		}
	}

	&__succses {
		display: none;
		text-align: center;
		padding-bottom: 40px;
	}

	&__succses-button {
		width: 300px;
		padding: 1.3rem 2.1rem;
	}


	&.active {
		opacity: 1;
		pointer-events: auto;
	}

	@include _600 {
		.container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			height: 100%;
		}
	}
}

.popup_inner__wrap {
	text-align: center;

	@include _600 {
		width: 100%;
	}
}


.form {
	margin-bottom: 1rem;
	& .input_wrapper {
		max-width: 70%;
		margin: 0 auto;

		@include _600 {
			max-width: 90%;
		}
	}

	& .input_container {
		position: relative;
		margin-bottom: rem(28px);

		&:last-child {
			margin-bottom: 0;
		}

		& input {
			border: none;
			background-color: transparent;
			padding: 0 10px 10px 0;
			border-bottom: 1.5px solid #D0241F;
			width: 100%;
		}

		& label.error {
			position: absolute;
			left: 0;
			bottom: -20px;
			color: $red;
			font-size: rem(14px);
		}
	}

	& .button {
		max-width: 70%;
		width: 100%;
		padding: 1.3rem 2.1rem;
		margin-top: 3rem;
		margin-bottom: 1.5rem;

		@include _600 {
			max-width: 90%;
		}
	}

	& .agreement-check {
		max-width: 52%;

		@include _600 {
			max-width: 90%;
		}
	}
}
