.projects {
	position: relative;
	margin-top: 82px;
	margin-bottom: 132px;

	&__image {
		position: absolute;
		right: 0;
		bottom: 40px;
	}

	&__title {
		max-width: 32%;
		margin-bottom: 94px;

		p {
			position: relative;
			z-index: 15;
			margin: 0;
			font-size: rem(18px);
		}

		span {
			&::before {
				right: -3.1rem;
			}
		}

		h1 {
			position: relative;
			z-index: 10;

			&::before {
				top: -1.5rem;
				z-index: -1;
				height: 168%;
				transform: skew(-23.4deg);
			}
		}
	}

	.btn_wrap {
		p {
			max-width: 30%;
		}
	}

	@include _1536 {
		margin-top: 60px;

		&__title {
			max-width: 53%;
			margin-bottom: 74px;

			p {
				max-width: 60%;
			}

			h1 {
				font-size: rem(35px);

				&::before {
					height: 258%;
				}
			}
		}

		&__image {
			width: 68%;
			bottom: 10px;
		}
	}

	@include _1440 {
		&__image {
			bottom: 0;
		}
	}

	@include _1280 {
		&__title {
			max-width: 63%;
			margin-bottom: 54px;
		}
	}

	@include _1200 {
		&__title {
			h1 {
				&::before {
					height: 198%;
				}
			}
		}

		&__image {
			bottom: 30px;
			width: 74%;
		}
	}

	@include _992 {
		margin-bottom: 82px;

		&__title {
			h1 {
				font-size: rem(28px);

				span {
					&::before {
						content: none;
					}
				}
			}

			p {
				max-width: 80%;
			}
		}

		&__image {
			bottom: 50px;
			right: -40px;
		}

		.btn_wrap {
			p {
				font-size: 0.9rem;
			}
		}
	}


	@include _769 {
		&__title {
			max-width: 73%;

			h1 {
				&::before {
					width: 139.5px;
					height: 278%;
				}
			}
		}

		&__image {
			bottom: 0px;
		}

		.btn_wrap {
			p {
				display: none;
			}
		}
	}

	@include _740 {
		padding-bottom: 230px;

		&__image {
			width: 100%;
		}

		&__title {
			max-width: 83%;

			h1 {
				&::before {
					width: 109.5px;
					height: 138%;
				}
			}

			p {
				font-size: 0.9rem;
			}
		}
	}

	@include _500 {
		padding-bottom: 210px;
	}

	@include _480 {
		padding-bottom: 170px;
		margin-bottom: 52px;
		margin-top: 40px;

		&__title {
			max-width: 100%;
			margin-bottom: 44px;

			h1 {
				font-size: rem(25px);
			}
		}
	}

}

.cases {
	margin-bottom: 160px;

	&__list {
		display: flex;
		flex-direction: column;
	}

	&__item {
		display: flex;
		align-items: center;
		padding: 16px;
		padding-left: 40px;
		background-color: $color-blue2;
		margin-bottom: 32px;

		&:last-child {
			margin-bottom: 0;
		}

		&--left {
			width: 50%;
		}

		&--right {
			width: 50%;
		}

		&:nth-child(2n) {
			background-color: #DAE2E8;

			.cases__item-title,
			.cases__item-subtitle,
			.cases__item-text-legend,
			.cases__item-text-info {
				color: #414B62;
			}

			.cases__item-subtitle {
				span {
					color: $white;
				}
			}
		}

	}

	&__item-title {
		font-weight: 400;
		font-size: rem(24px);
		font-family: $main-font;
		line-height: 1.3;
		text-transform: none;
		color: $white;
		margin: 0;
		margin-bottom: 11px;
	}

	&__item-subtitle {
		margin: 0;
		color: $white;
		font-size: rem(18px);
		line-height: 1.3;
		margin-bottom: 38px;

		span {
			display: inline-block;
			padding: 5px 20px 5px 10px;
			margin-left: 3px;
			background-color: $color-red2;
			clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 37%, 89% 0%);
		}
	}

	&__item-text {
		max-width: 90%;
	}

	&__item-text-legend {
		display: block;
		color: $white;
		margin-bottom: 10px;
	}

	&__item-text-info {
		margin: 0;
		color: $white;
		margin-bottom: 20px;
	}

	&__item-price-title {
		display: block;
		width: 144px;
		padding: 10px 30px 15px 20px;
		background-color: $color-red2;
		color: $white;
		clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 37%, 89% 0%);
	}

	&__item-cost {
		display: inline-flex;
		flex-direction: column;
		align-items: flex-start;
		min-height: 91px;
		margin-top: -5px;
		padding: 10px 77px 10px 20px;
		background-color: $color-red2;

		&-price {
			display: inline-block;
			color: $white;
			font-size: rem(24px);
		}

		&-text {
			display: inline-block;
			color: $white;
			margin-top: 8px;
		}
	}

	&__item-img {
		width: 100%;
		height: 100%;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	@include _1366 {
		&__item-text-info {
			font-size: 0.9rem;
		}

		&__item-cost {
			padding-right: 57px;

			&-price {
				font-size: 1.3rem;
			}

			&-text {
				font-size: 0.9rem;
			}
		}
	}

	@include _1200 {
		&__item-cost {
			min-height: 77px;
			padding: 5px 37px 5px 15px;
		}

		&__item-price-title {
			padding: 5px 30px 10px 15px;
		}
	}

	@include _992 {
		margin-bottom: 100px;

		&__item {
			padding-top: 20px;
			padding-bottom: 20px;
			margin-left: -40px;
			margin-right: -40px;
		}

		&__item-subtitle {
			margin-bottom: 20px;
		}
	}

	@include _769 {
		&__item {
			flex-direction: column;
			padding-left: 40px;
			padding-right: 40px;

			&--left {
				width: 100%;
				margin-bottom: 24px;
			}

			&--right {
				width: 100%;
				height: 480px;
			}
		}
	}

	@include _740 {
		margin-bottom: 50px;

		&__item {
			&--right {
				height: 400px;
			}
		}
	}

	@include _500 {
		&__item {
			&--right {
				height: 370px;
			}
		}
	}

	@include _480 {
		.button-arrow {
			margin-top: 3rem;
		}

		&__item {
			&--right {
				height: 330px;
			}
		}
	}

	@include _375 {
		&__item-subtitle {
			span {
				display: block;
				margin-left: 0;
				margin-top: 8px;
				max-width: 80px;
			}
		}
	}

	@include _360 {
		&__item {
			&--right {
				height: 310px;
			}
		}
	}
}


.projects-form {
	position: relative;
	padding-bottom: 148px;

	&::before {
		content: "";
		position: absolute;
		right: 0;
		bottom: 0;
		width: 59%;
		height: 90%;
		background-color: $color-red2;
		clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 21% 0%);
	}

	&__img {
		position: absolute;
		top: 22%;
		left: 39.1%;

		&.--tube {
			top: auto;
			right: 0;
			left: auto;
			bottom: 0;

			@include _1680 {
				right: -80px;
			}
		}
	}

	@include _1536 {
		&__img {
			&.--calc {
				width: 30%;
			}

			&.--tube {
				right: -160px;
			}
		}
	}
	@include _1440 {
		&__img {

			&.--tube {
				right: -220px;
			}
		}
	}

	@include _1366 {
		&__img {
			&.--tube {
				width: 45%;
			}
		}
	}

	@include _1280 {
		&__img {
			&.--tube {
				bottom: 10px;
			}
		}
	}

	@include _1200 {
		&__img {
			&.--calc {
				top: 42%;
				left: 29.1%;
				width: 39%;
			}

			&.--tube {
				right: -140px;
				width: 55%;
			}
		}
	}

	@include _992 {
		&::before {
			width: 67%;
		}

		&__img {
			&.--tube {
				bottom: 20px;
			}
		}
	}

	@include _769 {
		&::before {
			width: 60%;
		}

		&__img {
			&.--calc {
				top: 48%;
				left: 9.1%;
				width: 45%;
			}

			&.--tube {
				width: 69%;
			}
		}
	}

	@include _740 {
		padding-bottom: 200px;

		&::before {
			content: none;
		}

		&__img {
			&.--tube {
				right: -10px;
				width: 100%;
				bottom: 50px;
			}
		}
	}

	@include _500 {
		padding-bottom: 177px;
	}

	@include _480 {
		padding-bottom: 150px;
	}

	@include _375 {
		&__img {
			&.--tube {
				bottom: 57px;
			}
		}
	}

	@include _360 {
		padding-bottom: 150px;
	}
}
