.search-page {
	margin-top: 80px;
	margin-bottom: 90px;

	&__title {
		text-align: center;

		&::before {
			content: none;
		}
	}

	&__content {

	}

	&__form {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 64px;

		&-inner {
			padding: 30px;
			background-color: $white;
			display: flex;
			align-items: center;
		}
	}

	&__input-wrap {

	}

	&__input {
		width: 769px;
		height: 40px;
		background-color: transparent;
		border: none;
		border-bottom: 1px solid #C5D0D9;
		padding: 10px;
	}



	&__button {
		width: 30px;
		height: 30px;
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-left: 20px;
		transition: transform 0.1s ease-in-out;

		.icon-search {
			color: $color-red2;
		}

		&:hover {
			transform: scale(1.2);
		}
	}

	&__catalog {
		margin-bottom: 40px;

		.main_list__col:last-child {
			&:hover {
				.main_list__item {
					padding: 0;

					&_text {
						transform: translateY(-60px);
						padding: 1rem;
						background: #FFF;
					}

					.main_list__text--hidden {
						opacity: 1;
						visibility: visible;
					}

					& .item_btn {
						opacity: 1;
						visibility: visible;
					}
				}

				@include _1024 {
					.main_list__item {
						padding: 1rem;

						&_text {
							transform: none;
							padding: 0;
							background: transparent;
						}

						.main_list__text--hidden {
							opacity: 0;
							visibility: hidden;
						}

						& .item_btn {
							opacity: 1;
							visibility: visible;
						}
					}
				}
			}
		}
	}

	@include _1536 {
		margin-top: 50px;
	}

	@include _1200 {
		&__form {
			width: 100%;

			&-inner {
				width: 100%;
			}
		}

		&__input-wrap {
			width: 100%;
		}

		&__input {
			width: 100%;
		}

		&__title {
			font-size: rem(32px);
		}
	}

	@include _769 {
		&__catalog {
			.main_list__item {
				background-position: center center !important;
				background-size: contain !important;
			}
		}
	}

	@include _740 {
		&__form-inner {
			padding: 20px;
		}

		&__form {
			margin-bottom: 44px;
		}
	}

	@include _480 {
		&__title {
			font-size: 1.4rem;
		}
	}
}
