@import "mixins";
@import "vars";
@import "fonts";

html {
    line-height: 32px;
}

body {
    font-family: 'Manrope-Regular', sans-serif;
    background-color: #EEF2F5;
    min-width: 360px;
	color: $blue;

    @include _2100 {
        zoom: 1.333;
    }
}

input, textarea, select {
	-webkit-appearance: none;
}

.site-container {
	position: relative;
	max-width: 1238px;
	width: 100%;
	margin: 0 auto;
	padding: 0 20px;

	@include _1536 {
		margin-left: 10.5rem;
	}

	@include _1440 {
		margin-left: 9.1rem;
	}

	@include _1400 {
		margin-left: 6.1rem;
	}

	@include _1366 {
		margin-left: 6.1rem;
	}
	@include _1365 {
		margin-left: auto;
		padding-left: 6.9rem;
	}

	@include _1280 {
		margin-left: auto;
		padding-left: 6.9rem;
	}

	@include _1200 {
		margin-left: auto;
		padding: 0 40px;
	}
	@include _740 {
		padding: 0 32px;
	}
	@include _500 {
		padding: 0 16px;
	}
}

.section {
	position: static;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Jost-Black", sans-serif;
	text-transform: uppercase;
	& span {
		font-family: "Jost-ExtraLight", sans-serif;
	}
}

b, strong {
    font-weight: bold !important;
}

.button-reset {
	padding: 0;
	margin: 0;
	border: none;
	border-radius: 0;
	background-color: transparent;
}

