.solution-page {
	margin-top: 80px;
	margin-bottom: 133px;

	&__image {
		position: absolute;
		top: 30px;
		right: 40px;
	}

	&__title {
		max-width: 40%;
		margin-bottom: 40px;

		h1 {
			position: relative;
			z-index: 10;

			&::before {
				top: -1rem;
				z-index: -1;
				height: 108%;
				transform: skew(-23.4deg);
			}
		}

		p {
			position: relative;
			z-index: 15;
			font-size: rem(24px);
			line-height: 1.4;
			margin: 0;
			margin-bottom: 26px;
		}

		.hero_section__list {
			max-width: 100%;
		}
	}

	.btn_wrap {
		p {
			max-width: 20%;
			font-size: rem(14px);
		}
	}

	@include _1680 {
		&__image {
			top: 60px;
			right: -100px;
		}
	}

	@include _1536 {
		margin-top: 60px;

		&__title {
			max-width: 60%;

			h1 {
				font-size: rem(35px);

				&::before {
					height: 117%;
				}
			}

			span {
				&::before {
					right: 0.1rem;
					bottom: 0.2rem;
				}
			}
		}

		&__image {
			top: 130px;
			right: -110px;
			width: 50%;
		}

		.hero_section__list {
			max-width: 60%;
		}
	}

	@include _1366 {
		.hero_section__list {
			max-width: 90%;
		}
	}

	@include _1280 {
		&__title {
			span {
				&::before {
					right: -3.4rem;
				}
			}
		}
	}

	@include _1200 {
		&__title {
			max-width: 70%;

			span {
				&::before {
					content: none;
				}
			}
		}

		.btn_wrap {
			p {
				max-width: 30%;
			}
		}

		&__image {
			top: 190px;
			right: -160px;
			width: 60%;
		}
	}

	@include _992 {
		margin-top: 40px;

		&__title {
			h1 {
				font-size: 1.75rem;

				&::before {
					width: 139.5px;
				}
			}
		}

		&__image {
			top: 160px;
		}

		.hero_section__item {
			font-size: 0.9rem;
		}
	}

	@include _769 {
		margin-bottom: 103px;

		&__image {
			right: -190px;
			width: 80%;
		}

		.hero_section__item {
			padding-left: 1.85rem;
		}

		&__title {
			h1 {
				&::before {
				    width: 122.5px;
				}
			}
		}

		.btn_wrap {
			p {
				display: none;
			}
		}
	}

	@include _740 {
		position: relative;
		margin-bottom: 153px;

		&__title {
			max-width: 100%;

			p {
				max-width: 50%;
			}
		}

		&__image {
			top: auto;
			bottom: -140px;
		}

		.hero_section__list {
			max-width: 70%;
		}
	}

	@include _500 {
		&__image {
			right: -160px;
			bottom: -130px;
		}
	}

	@include _480 {
		margin-bottom: 113px;

		&__image {
			right: -140px;
			bottom: 0;
		}
	}

	@include _375 {
		&__title {
			p {
				max-width: 80%;
			}
		}
	}
}

.full-solution {
	&__title {
		max-width: 52%;
		margin-bottom: 100px;
	}

	&__container {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 100px;
	}

	&__item {
		position: relative;
		z-index: 15;
		padding: 58px 62px;
		background-color: $white;
		width: 50%;

		&.grey-bg {
			background-color: #F7F9FA;
		}

		&:hover {
			.button-arrow {
				opacity: 1;
				visibility: visible;
				transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
			}
		}
	}

	&__item-img {
		position: absolute;
		right: 0;
		bottom: 0;
		z-index: -1;
	}

	&__item-title {
		margin: 0;
		margin-bottom: 40px;
		font-family: $main-font;
		font-size: rem(24px);
		text-transform: none;
	}

	&__item-list {
		margin-bottom: 32px;
		max-width: 280px;
	}

	&__item-text {
		position: relative;
		margin-bottom: 10px;
		padding-left: 35px;
		font-size: rem(16px);

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 10px;
			width: 7px;
			height: 18px;
			background-color: $red;
			transform: skew(-25deg);
		}
	}

	.button-arrow {
		margin: 0;
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
	}

	@include _1536 {
		&__title {
			h2 {
				font-size: rem(30px);
			}
		}
	}

	@include _1200 {
		&__title {
			margin-bottom: 70px;
			max-width: 62%;
		}

		&__item-img {
			width: 58%;
		}

		&__item {
			padding: 28px 40px;

			.button-arrow {
				opacity: 1;
				visibility: visible;
			}

			&:nth-child(5) {
				.full-solution__item-img {
					width: 35%;
				}
			}

			&:nth-child(6) {
				.full-solution__item-img {
					width: 45%;
				}
			}

			&:nth-child(7) {
				.full-solution__item-img {
    				width: 47%;
				}
			}

			&:nth-child(8) {
				.full-solution__item-img {
    				width: 48%;
				}
			}

			&:nth-child(9) {
				.full-solution__item-img {
    				width: 48%;
				}
			}

			&:nth-child(10) {
				.full-solution__item-img {
    				width: 48%;
				}
			}
		}
	}

	@include _992 {
		&__title {
			h2 {
				font-size: 1.5rem;
			}
		}

		&__item {
			padding-bottom: 60px;

			.button-arrow {
				min-height: 2.9875rem;
			}
		}

		&__item-title {
			font-size: 1.3rem;
			margin-bottom: 30px;
		}

		&__item-text {
			font-size: 0.9rem;
			padding-left: 29px;

			&::before {
				width: 5px;
				height: 13px;
			}
		}

		&__item-list {
			margin-bottom: 42px;
		}
	}

	@include _769 {
		&__item {
			padding: 32px;
			width: 100%;
			overflow: hidden;

			&.grey-bg {
				background-color: $white;
			}

			&:nth-child(2n) {
				background-color: #F7F9FA;
			}

			&:nth-child(2) {
				.full-solution__item-img {
					width: 43%;
				}
			}

			&:nth-child(4) {
				.full-solution__item-img {
					width: 47%;
				}
			}

			&:nth-child(5) {
				.full-solution__item-img {
    				width: 26%;
				}
			}

			&:nth-child(6) {
				.full-solution__item-img {
    				width: 37%;
				}
			}

			&:nth-child(7) {
				.full-solution__item-img {
    				width: 37%;
				}
			}

			&:nth-child(8) {
				.full-solution__item-img {
    				width: 37%;
				}
			}

			&:nth-child(9) {
				.full-solution__item-img {
    				width: 37%;
				}
			}

			&:nth-child(10) {
				.full-solution__item-img {
    				width: 37%;
				}
			}
		}
	}

	@include _740 {
		&__title {
			max-width: 72%;

			h2 {
				&::before {
					width: 122.5px;
				}
			}
		}
	}

	@include _500 {
		&__title {
			max-width: 100%;
		}

		&__item {
			padding-left: 16px;
			padding-right: 16px;
		}

		&__container {
			margin-right: -16px;
			margin-left: -16px;
		}
	}

	@include _480 {
		&__item {
			&:nth-child(5) {
				.full-solution__item-img {
					bottom: -40px;
				}
			}
		}
	}
}
