$white: #FFF;
$blue: #3C4765;
$color-blue2: #1D2E4D;
$red: #E83832;
$color-red2: #D0241F;
$main-font: "Manrope-Regular", sans-serif;
$second-font: "Jost-Black", sans-serif;
$second-font-light: "Jost-ExtraLight", sans-serif;
