.about-hero {
	margin-top: 80px;
	margin-bottom: 130px;

	&__image {
		position: absolute;
		top: 0;
		right: 0;

		&.--car {
			right: 5rem;
			top: 20rem;
		}
	}

	&__title {
		max-width: 51%;
		position: relative;
		z-index: 10;

		span {
			&::before {
				right: 15.1rem;
			}
		}

		h1 {
			&::before {
				top: -2rem;
				transform: skew(-25.4deg);
			}
		}
	}

	.hero_section__list {
		position: relative;
		z-index: 15;
		max-width: 30%;
		margin-bottom: 40px;
	}

	@include _1680 {
		&__title {
			max-width: 58%;

			h1 {
				font-size: rem(35px);
			}

			span {
				&::before {
					right: -3.2rem;
					bottom: 0.3rem;
				}
			}
		}

		&__image {
			&.--car {
				right: 3rem;
				top: 23rem;
				width: 40%;
			}
		}
	}

	@include _1536 {
		margin-top: 60px;

		&__title {
			max-width: 78%;
		}

		.btn_wrap {
			p {
				font-size: 0.9rem;
			}
		}

		&__image {
			&.--car {
				top: 21rem;
				right: 2rem;
			}
		}
	}

	@include _1440 {
		&__image {
			width: 108%;
		}
	}

	@include _1366 {
		&__title {
			max-width: 75%;

			h1 {
				font-size: rem(32px);

				&::before {
					top: -1rem;
					height: 127%;
					width: 145px;
				}
			}

			span {
				&::before {
					bottom: 0.1rem;
					right: 26.8rem;
				}
			}
		}

		.hero_section__list {
			max-width: 60%;
		}

		&__image {
			display: none;

			&.--car {
				display: block;
			}
		}
	}

	@include _1280 {
		margin-bottom: 110px;

		&__title {
			max-width: 85%;
		}
	}

	@include _1200 {
		&__title {
			max-width: 95%;

			span {
				&::before {
					content: none;
				}
			}
		}

		.hero_section__list {
			max-width: 51%;
		}

		&__image {
			&.--car {
				top: 26rem;
				right: 1rem;
			}
		}
	}

	@include _992 {
		margin-top: 50px;

		&__title {
			h1 {
				font-size: rem(28px);
			}
		}

		.hero_section__list {
			max-width: 41%;
		}

		.hero_section__item {
			font-size: 0.9rem;
		}

		&__image {
			&.--car {
				top: 23rem;
			}
		}

		.btn_wrap {
			p {
				display: none;
			}
		}
	}

	@include _769 {
		position: relative;

		&__title {
			max-width: 80%;
		}

		&__image {
			&.--car {
				top: auto;
				bottom: 0;
			}
		}
		.hero_section__list {
			max-width: 60%;
		}
	}

	@include _740 {
		margin-bottom: 90px;

		&__title {
			max-width: 100%;

			h1 {
				font-size: 1.6rem;

				&::before {
					width: 115px;
				}
			}
		}

		.hero_section__list {
			max-width: 60%;
		}

		&__image {
			&.--car {
				right: -2rem;
				bottom: 30px;
				width: 50%;
			}
		}
	}

	@include _500 {
		padding-bottom: 130px;

		.hero_section__list {
			max-width: 100%;
		}

		&__image {
			&.--car {
				bottom: -10px;
			}
		}

		&__title {
			h1 {
				&::before {
    				height: 117%;
				}
			}
		}
	}

	@include _375 {
		&__title {
			h1 {
				font-size: 1.5rem;
			}
		}
	}

	@include _360 {
		margin-bottom: 60px;
	}
}

.about-second {
	position: relative;
	padding-bottom: 140px;
	margin-bottom: 180px;

	&.--type2 {
		padding-top: 97px;
		background-color: #DAE2E8;
		overflow: hidden;

		.about-second__image {
			top: 50%;
			transform: translateY(-50%);

			&.man {
				top: auto;
				bottom: 0;
				transform: none;
			}
		}

		.about-second__title {
			span {
				&::before {
					right: -3.5rem;
				}
			}
		}
	}

	&__title {
		max-width: 56%;
		margin-bottom: 68px;

		span {
			&::before {
				right: -2.5rem;
			}
		}
	}

	&__image {
		position: absolute;
		top: 0;
		right: 0;
	}


	&__text {
		max-width: 43%;

		&.--type2 {
			position: relative;
		    max-width: 34%;

			.sign {
				position: absolute;
				right: -30px;
				bottom: -30px;
			}
		}

		p {
			span {
				color: $red;
			}
		}
	}

	@include _1680 {
		&__image {
			width: 53%;
			top: 50px;
		}
	}

	@include _1536 {
		padding-bottom: 20px;

		&__title {
			max-width: 62%;
			margin-bottom: 48px;

			span {
				&::before {
					right: -3.1rem;
					bottom: 0.4rem;
				}
			}
		}

		&.--type2 {
			padding-bottom: 140px;
			margin-bottom: 120px;
		}
	}

	@include _1440 {
		margin-bottom: 100px;
	}

	@include _1366 {
		&__title {
			h2 {
				font-size: rem(32px);

				&::before {
					width: 145px;
				}
			}

			span {
				&::before {
					right: 10.9rem;
					bottom: 0.2rem;
				}
			}
		}

		&.--type2 {
			margin-bottom: 90px;
		}
	}

	@include _1280 {
		margin-bottom: 70px;

		&__title {
			span {
				&::before {
					right: -3.1rem;
				}
			}
		}

		&.--type2 {
			padding-bottom: 100px;
		}
	}

	@include _1200 {
		&__title {
			max-width: 72%;

			span {
				&::before {
					content: none;
				}
			}
		}

		&__text {
			max-width: 53%;

			&.--type2 {
				max-width: 53%;
			}
		}

		&__image {
			width: 49%;
			top: 130px;
		}

		&.--type2 {
			.about-second__title {
				max-width: 69%;
			}
		}
	}

	@include _992 {
		&__title {
			h2 {
				font-size: rem(28px);
			}
		}
	}

	@include _769 {
		padding-bottom: 130px;

		&__text {

			&:not(.--type2) {
				max-width: 100%;

				p {
					&:nth-last-of-type(-n+2) {
						max-width: 70%;
					}
				}
			}

			&.--type2 {
				max-width: 100%;

				p {
					&:nth-last-of-type(1) {
						max-width: 70%;
					}
				}
			}
		}

		&__image {
			top: auto;
			bottom: 0;
		}

		&.--type2 {
			padding-bottom: 200px;

			.about-second__image {
				top: auto;
				transform: none;
				bottom: 30px;
			}
		}
	}

	@include _740 {
		&__title {
			max-width: 100%;

			h2 {
				font-size: 1.6rem;

				&::before {
					width: 115px;
				}
			}
		}

		&__text {
			&:not(.--type2) {
				max-width: 100%;

				p {
					&:nth-last-of-type(-n+2) {
						max-width: 100%;
					}

					&:nth-last-of-type(1) {
						max-width: 70%;
					}
				}
			}

			&.--type2 {
				max-width: 100%;

				p {
					&:nth-last-of-type(1) {
						max-width: 80%;
					}
				}
			}
		}

		&.--type2 {
			.about-second__title {
				max-width: 99%;
			}
		}
	}

	@include _500 {
		padding-bottom: 90px;

		&.--type2 {
			padding-top: 67px;
			margin-bottom: 70px;
		}
	}

	@include _480 {
		&.--type2 {
			padding-bottom: 130px;
		}
	}

	@include _375 {
		padding-bottom: 50px;

		&__title {
			h2 {
				font-size: 1.5rem;
			}
		}
	}
}

.about-client {
	margin-bottom: 160px;

	&__title {
		max-width: 47%;
		position: relative;
		z-index: 15;
		margin-bottom: 100px;

		span {
			&::before {
				right: -3.9rem;
			}
		}

		h2 {
			margin-bottom: 24px;
		}

		p {
			position: relative;
			z-index: 25;
			margin: 0;
			font-size: rem(18px);
			line-height: 1.4;
		}
	}
	&__row {
		display: grid;
		grid-template-columns: repeat(5, 20%);
		grid-template-rows: repeat(2, 216px);
		border-top: 1px solid #C8D5DE;
		border-left: 1px solid #C8D5DE;
	}

	&__item {
		position: relative;
		border-bottom: 1px solid #C8D5DE;
		border-right: 1px solid #C8D5DE;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 10px;

		img {
			display: block;
			width: 124px;
			height: 114px;
			object-fit: contain;
		}

		&:nth-child(1) {
			&::before {
				content: "";
				position: absolute;
				top: -1px;
				right: 0;
				width: 1000%;
				height: 1px;
				background-color: #C8D5DE;
			}

			&::after {
				content: "";
				position: absolute;
				top: 0;
				left: -150%;
				width: 215px;
				height: 215px;
				border-radius: 50%;
				border: 1px solid #C8D5DE;
			}
		}


		&:nth-child(6) {
			&::before {
				content: "";
				position: absolute;
				top: -1px;
				right: 0;
				width: 1000%;
				height: 1px;
				background-color: #C8D5DE;
			}

			&::after {
				content: "";
				position: absolute;
				bottom: -1px;
				right: 0;
				width: 1000%;
				height: 1px;
				background-color: #C8D5DE;
			}
		}

		&:nth-child(5) {
			&::before {
				content: "";
				position: absolute;
				top: -1px;
				left: 0;
				width: 1000%;
				height: 1px;
				background-color: #C8D5DE;
			}

			&::after {
				content: "";
				position: absolute;
				top: 0;
				right: -147%;
				width: 215px;
				height: 215px;
				border-radius: 50%;
				border: 1px solid #C8D5DE;
			}
		}


		&:nth-child(10) {
			&::before {
				content: "";
				position: absolute;
				top: -1px;
				left: 0;
				width: 1000%;
				height: 1px;
				background-color: #C8D5DE;
			}

			&::after {
				content: "";
				position: absolute;
				bottom: -1px;
				left: 0;
				width: 1000%;
				height: 1px;
				background-color: #C8D5DE;
			}
		}

		&:nth-child(7) {
			&::after {
				content: "";
				position: absolute;
				top: 0;
				left: -190%;
				width: 215px;
				height: 215px;
				border-radius: 50%;
				border: 1px solid #C8D5DE;
			}
		}

		&:nth-child(9) {
			&::after {
				content: "";
				position: absolute;
				top: 0;
				right: -190%;
				width: 215px;
				height: 215px;
				border-radius: 50%;
				border: 1px solid #C8D5DE;
			}
		}
	}

	@include _1366 {
		margin-bottom: 90px;

		&__title {
			margin-bottom: 60px;

			span {
				&::before {
					right: -1.9rem;
					bottom: 0.3rem;
				}
			}

			h2 {
				&::before {
					width: 145px;
				}
			}
		}
	}

	@include _1280 {
		&__item {
			&:nth-child(7),
			&:nth-child(9) {
				&::after {
					content: none;
				}
			}
		}
	}

	@include _1200 {
		&__title {
			max-width: 100%;

			span {
				&::before {
					content: none;
				}
			}

			h2 {
				max-width: 48%;
			}

			p {
				max-width: 60%;
			}
		}

		&__row {
			grid-template-rows: repeat(2, 176px);
		}
		&__item {
			img {
				width: 94px;
    			height: 94px;
			}
		}
	}

	@include _769 {
		&__title {
			h2 {
				max-width: 58%;
			}

			p {
				max-width: 70%;
			}
		}

		&__item {
			&::before,
			&::after {
				content: none !important;
			}

			img {
				width: 84px;
				height: 84px;
			}
		}

		&__row {
			grid-template-rows: repeat(2, 146px);
		}
	}

	@include _740 {
		&__title {
			h2 {
				max-width: 68%;

				&::before {
					width: 115px;
				}
			}
		}

		&__row {
			margin: 0 -32px;
			grid-template-columns: repeat(2, 50%);
			grid-template-rows: repeat(5, 146px);
			border-left: none;
		}

		&__item {
			&:nth-child(2n) {
				border-right: none;
			}
		}
	}

	@include _500 {
		&__title {
			h2 {
				max-width: 100%;
			}

			p {
				max-width: 100%;
			}
		}
	}
}

.about-reasons {
	margin-bottom: 160px;
	padding-bottom: 0;

	.feautures__list {
		margin: -3.3rem 0;
	}

	.feautures__item {
		width: 25%;
		padding: 3.3rem 0;

		p {
			max-width: 214px;
		}
	}

	@include _1366 {
		margin-bottom: 90px;
	}

	@include _769 {
		.feautures__inner {
			padding-bottom: 40px;
			padding-left: 2rem;
			padding-right: 2rem;
		}

		.feautures__list {
			flex-wrap: wrap;
			margin: -3rem 0;
		}

		.feautures__item {
			width: 33.3%;
			padding: 3rem 0;
		}
	}

	@include _740 {
		.feautures__list {
			justify-content: space-around;
    		align-items: stretch;
		}

		&.--page2 .main-title {
			margin-bottom: 100px;
		}
	}

	@include _500 {
		.feautures__list {
			margin: -1rem 0;
		}

		.feautures__item {
			width: 50%;
			padding: 2rem 0;

			p {
				max-width: 144px;
			}
		}

		&.--page2 .main-title {
			margin-bottom: 60px;
		}
	}
}

.about-clients {
	margin-bottom: 90px;

	.main-title {
		max-width: 51%;
	}

	@include _1366 {
		margin-bottom: 30px;
	}

	@include _1200 {
		.main-title {
			max-width: 71%;
		}
	}

	@include _480 {
		.main-title {
			max-width: 100%;
		}
	}
}
