.employees-hero {
	position: relative;
	margin-top: 80px;
	margin-bottom: 174px;

	&__title {
		position: relative;
		max-width: 50%;
		margin-bottom: 97px;

		h1 {
			position: relative;
			z-index: 15;

			&::before {
				top: -1.5rem;
				transform: translateY(0) skew(-25.4deg);
				height: 158%;
			}
		}

		span {
			&::before {
				right: -3.2rem;
			}
		}

		p {
			position: relative;
			z-index: 17;
			max-width: 60%;
		}
	}

	&__image {
		position: absolute;
		top: -50px;
		right: 0;
	}

	@include _1680 {
		&__image {
			width: 49%;
		}
	}

	@include _1536 {
		margin-bottom: 134px;

		&__title {
			max-width: 60%;
			margin-bottom: 77px;
		}
	}

	@include _1440 {
		&__title {
			max-width: 50%;

			h1 {
				font-size: 2.2rem;
			}
		}
	}

	@include _1366 {
		&__title {
			margin-bottom: 60px;
		}
		.btn_wrap {
			p {
				display: none;
			}
		}
	}

	@include _1280 {
		margin-top: 38px;

		&__title {
			max-width: 49%;

			h1 {
				font-size: 1.9rem;

				&::before {
					width: 139.5px;
				}
			}

			span {
				&::before {
					bottom: 0.1rem;
				}
			}
		}
	}

	@include _1200 {
		&__title {
			max-width: 57%;

			h1 {

			}

			span {
				&::before {
					display: none;
				}
			}
		}

		&__image {
			top: 50px;
		}
	}

	@include _769 {
		&__title {
			max-width: 97%;

			p {
				max-width: 50%;
			}
		}

		&__image {
			top: 120px;
		}
	}

	@include _740 {
		margin-bottom: 94px;

		&__image {
			top: 200px;
		}

		&__title {
			h1 {
				font-size: 1.8rem;
			}
		}
	}

	@include _500 {
		&__title {
			h1 {
				font-size: 1.6rem;
			}
		}
	}

	@include _480 {
		&__title {
			margin-bottom: 40px;

			p {
				max-width: 90%;
			}

			h1 {
				&::before {
					width: 99.5px;
				}
			}
		}

		&__image {
			display: none;
		}
	}

	@include _375 {
		&__title {
			max-width: 100%;

			h1 {
				font-size: 1.5rem;
			}
		}
	}
}

.employees-reasons {
	margin-bottom: 105px;

	&.--page2 .main-title {
		max-width: 780px;
	}

	@include _1536 {
		margin-bottom: 70px;
	}

	@include _1440 {
		&.--page2 .main-title {
			max-width: 530px;
		}
	}

	@include _1366 {
		margin-bottom: 50px;
	}

	@include _769 {
		margin-bottom: 20px;
	}
}

.employees-chief {
	position: relative;
	padding: 88px 0 92px 0;
	background-color: #DAE2E8;
	margin-bottom: 127px;

	&__image {
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(-50%);

		&.man {
			top: auto;
			bottom: 0;
			transform: translateY(0);
		}
	}

	&__title {
		max-width: 50%;
		margin-bottom: 64px;

		h2 {
			position: relative;
			z-index: 10;
		}
	}

	&__text {
		position: relative;
		z-index: 16;
		max-width: 412px;

		.sign {
			position: absolute;
			right: -40px;
			bottom: -20px;
		}
	}

	&__name {
		margin-top: 36px;
		margin-bottom: 16px;
	}

	&__position {
		margin: 0;

		span {
			display: block;
			color: $color-red2;
		}
	}

	@include _1680 {
		&__image {
			top: 0;
			transform: none;
			width: 57%;

			&.man {
				width: 46%;
			}
		}
	}

	@include _1440 {
		margin-bottom: 87px;

		&__image {
			width: 47%;

			&.man {
				width: 40%;
			}
		}

		&__text {
			max-width: 562px;
		}
	}

	@include _1200 {
		&__image {
			display: none;

			&.man {
				display: block;
				right: -70px;
			}
		}

		&__title {
			max-width: 78%;
		}

		&__text {
			.sign {
				right: 70px;
			}
		}
	}

	@include _769 {
		padding: 68px 0 72px 0;
	}

	@include _500 {
		&__text {
			.sign {
				right: 80px;
				width: 30%;
			}
		}
	}

	@include _480 {
		margin-bottom: 57px;

		&__title {
			margin-bottom: 34px;
			max-width: 100%;

			h2 {
				&::before {
					width: 99.5px;
				}
			}
		}

		&__text {
			.sign {
				bottom: -40px;
			}
		}
	}
}

.employees-people {
	position: relative;
	z-index: 10;
	margin-bottom: 160px;

	._circle-big {
		position: absolute;
		top: 22%;
		right: -1061px;
		z-index: -1;
		width: 2122px;
		height: 2122px;
		border-radius: 50%;
		border: 1px solid $color-red2;
	}

	._circle-line {
		position: absolute;
		top: 152px;
		left: -28px;
		z-index: -1;
	}

	._circle-line-small {
		position: absolute;
		top: 67px;
		right: -28px;
		z-index: -1;
	}

	&__title {
		position: relative;
		padding-bottom: 34px;

		h2 {
			max-width: 549px;

			&::before {
				display: none;
			}
		}

		&::before {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 1000%;
			height: 2px;
			background-color: $color-red2;
			content: "";
		}
	}

	&__container {
		position: relative;
		z-index: 10;
		display: grid;
		grid-template-columns: repeat(12,1fr);
		grid-column-gap: 33px;
		grid-row-gap: 92px;
		padding-top: 115px;

		._circle-small {
			position: absolute;
			top: 0;
			left: -302px;
			z-index: -1;
			width: 619px;
			height: 619px;
			border-radius: 50%;
			border: 1px solid $color-red2;
		}
	}

	&__item {
		grid-column: 4 span;
		display: flex;
		flex-direction: column;
		height: 698px;

		&:nth-child(3) {
			grid-column: 8 span;
		}

		&:nth-child(7) {
			grid-column: 12 span;
		}

		&:nth-child(18) {
			grid-column: 8 span;
		}

		&:nth-child(22) {
			grid-column: 12 span;
		}

		&:nth-child(23) {
			grid-column: 8 span;
		}
	}

	&__legend {
		display: block;
		max-width: 215px;
		font-size: rem(20px);
		line-height: 1.4;
		color: $color-red2;
		margin-bottom: 20px;
	}

	&__position {
		display: block;
		font-size: rem(16px);
	}

	&__wrap {
		position: relative;
		margin-top: auto;
		width: 375px;
		height: 503px;

		&::before {
			position: absolute;
			top: -50px;
			left: 0;
			font-family: "icomoon";
			font-size: rem(30px);
			color: $color-red2;
			content: "\e90d";
		}

		.employees-people__image {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			transition: opacity 0.4s ease-in-out;

			&:nth-child(1) {
				opacity: 1;
			}

			&:nth-child(2) {
				opacity: 0;
			}
		}

		&:hover {
			.employees-people__image {
				&:nth-child(1) {
					opacity: 0;
				}

				&:nth-child(2) {
					opacity: 1;
				}
			}
		}
	}

	&__image {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	@include _1680 {
		._circle-line {
			left: -147px;
		}

		._circle-big {
			right: -791px;
			width: 1842px;
			height: 1842px;
		}
	}

	@include _1536 {
		._circle-line {
			top: 136px;
			left: -192px;
		}

		._circle-line-small {
			top: 51px;
		}

		&__wrap {
			height: 433px;
		}

		&__item {
			height: 628px;
		}
	}

	@include _1440 {
		&__title {
			h2 {
				max-width: 469px;
			}
		}

		._circle-line {
			top: 136px;
			left: -211px;
		}
	}

	@include _1366 {
		._circle-line {
			left: -263px;
		}

		&__container {
			padding-top: 75px;
		}

		&__item {
			height: 538px;
		}

		&__wrap {
			height: 353px;

			.employees-people__image {
				object-position: top;
			}
		}
	}

	@include _1280 {
		&__title {
			h2 {
				max-width: 369px;
			}
		}

		._circle-line {
			top: 120px;
			left: -257px;
		}

		._circle-line-small {
			top: 35px;
		}

		&__container {
			grid-row-gap: 62px;
		}

		&__wrap {
			width: 100%;
		}
	}

	@include _1200 {
		margin-bottom: 90px;

		._circle-line,
		._circle-line-small {
			display: none;
		}

		&__title {
			&::before {
				left: -100px;
			}
		}

		&__container {
			._circle-small {
				left: -325px;
			}
		}

		&__wrap {
			&::before {
				top: -40px;
				font-size: 1.375rem;
			}
		}
	}

	@include _769 {
		&__container {
			._circle-small {
				display: none;
			}
		}

		._circle-big {
			display: none;
		}

		&__item {
			height: 428px;
		}

		&__wrap {
			height: 263px;
		}

		&__legend {
			font-size: 1.05rem;
			margin-bottom: 10px;
		}
	}

	@include _740 {
		&__container {
			padding-top: 35px;
		}

		&__item {
			grid-column: 6 span;
			height: 401px;

			&:nth-child(3),
			&:nth-child(7),
			&:nth-child(8),
			&:nth-child(14),
			&:nth-child(18),
			&:nth-child(22),
			&:nth-child(23) {
				display: none;
			}
		}

		&__wrap {
			&::before {
				content: none;
			}
		}
	}

	@include _480 {
		margin-bottom: 50px;
	}

	@include _375 {
		&__container {
			grid-column-gap: 20px;
			grid-row-gap: 42px;
		}

		&__item {
			height: 341px;
		}

		&__wrap {
			height: 203px;
		}

		&__title {
			h2 {
				max-width: 299px;
			}
		}
	}
}

.employees-form {

	.main-title {
		max-width: 100%;
		margin-bottom: 92px;

		h2 {
			margin-bottom: 0;
		}

		span {
			&::before {
				content: none;
			}
		}
	}

	.footer_section__col {
		&:nth-child(1) {
			flex: none;
			max-width: none;
			width: 50%;
		}
	}

	.form_custom {
		width: 100%;
	}

	.footer_section__item ul {
		max-width: 63%;
	}

	&__img {
		position: absolute;
		left: 52%;
		bottom: 0;
		z-index: 52;
		transform: translateX(-50%);
	}

	@include _1440 {
		&__img {
			width: 26%;
		}

		.footer_section__col {
			&:nth-child(1) {
				width: 40%;
			}
		}

		.footer_section__item ul {
			max-width: 91%;
		}
	}

	@include _1200 {
		.footer_section__col:nth-child(1) {
			width: 50%;
		}
	}

	@include _992 {
		.main-title {
			margin-bottom: 0;
		}

		&__img {
			display: none;
		}

		.footer_section__item ul {
			max-width: 71%;
		}
	}

	@include _740 {
		padding-bottom: 80px !important;

		.footer_section__col:nth-child(1) {
			width: 100%;
		}
	}

	@include _480 {
		.footer_section__item ul {
			max-width: 90%;
		}
	}
}
