.ordering-page {
	margin-top: 80px;

	&__title {
		&::before {
			content: none;
		}
	}

	&__legend {
		font-family: $main-font;
		text-transform: none;
		font-size: rem(24px);
		line-height: 1.4;
		margin: 0;
		margin-bottom: 24px;
	}

	&__top {
		display: flex;
		justify-content: space-between;
		padding-bottom: 56px;
		margin-bottom: 56px;
		border-bottom: 1px solid #DAE2E8;
	}

	&__bottom {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		margin-bottom: 56px;
	}

	&__left {
		width: calc(100% - 615px);
	}

	&__right {
		width: 583px;
		height: 400px;

		&.--bottom-right {
			height: auto;
			display: flex;
			justify-content: flex-end;

			.basket-mini__descr {
				margin-bottom: 0;

				.basket-mini__row {
					&:nth-last-of-type(1) {
						margin-bottom: 0;
					}
				}
			}
		}
	}

	&__map {
		width: 100%;
		height: 100%;
		background-color: #DAE2E8;
	}

	&__tabs {
		&-nav {
			width: 320px;

			&.--bottom-nav {

				.--bottom-nav-item {
					display: flex;
					align-items: center;
					justify-content: center;
				}
			}
		}

	}

	&__tabs-nav {

	}

	&__tabs-content {
		width: 100%;
	}

	&__input-wrap {
		position: relative;
		margin-bottom: 16px;

		&.--width50 {
			width: 284px;
			margin: 0;
		}

		&:nth-last-of-type(1) {
			margin-bottom: 0;
		}

		label.error {
			position: absolute;
			left: 32px;
			bottom: 1px;
			color: #D0241F;
			font-size: 12px;
		}
	}

	&__input {
		width: 100%;
		height: 56px;
		background-color: $white;
		padding: 18px 32px;
		border-radius: 0;
		border: 1px solid #DAE2E8;

		&.--disabled {
			pointer-events: none;
			background-color: #DAE2E8;
			color: #7d8c97;
		}
	}

	&__double-input {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 16px;

		&:nth-last-of-type(1) {
			margin-bottom: 0;
		}
	}

	&__textarea {
		width: 100%;
		height: 171px;
		background-color: $white;
		padding: 18px 32px;
		border-radius: 0;
		border: 1px solid #DAE2E8;
		resize: none;
	}

	&__basket {
		min-width: 0;
		width: 378px;
		background-color: #DAE2E8;
		padding: 16px;

		&-list {
			&::before {
				background-color: #DAE2E8;
			}
		}
	}

	&__bottom-content {
		padding-bottom: 56px;
		margin-bottom: 56px;
		border-bottom: 1px solid #DAE2E8;
	}

	&__inStock-text {
		span {
			color: $color-red2;
			font-family: "Manrope-ExtraBold";
		}
	}

	@include _1536 {
		margin-top: 50px;
	}

	@include _1440 {
		&__title {
			font-size: 2rem;
		}
	}

	@include _1280 {
		&__left {
			width: calc(100% - 525px);
		}

		&__right {
			width: 490px;
		}
	}

	@include _1200 {
		&__double-input {
			flex-direction: column;
		}

		&__input-wrap {
			&.--width50 {
				width: 100%;
				margin-bottom: 16px;

				&:nth-last-of-type(1) {
					margin-bottom: 0;
				}
			}
		}
	}

	@include _992 {
		&__input,
		&__textarea {
			padding: 18px 18px;
		}

		&__title {
			font-size: 1.7rem;
		}

		&__legend {
			font-size: 1.3rem;
		}
	}

	@include _769 {
		&__top,
		&__bottom {
			flex-direction: column;
		}

		&__right {
			width: 100%;

			&.--bottom-right {
				order: 1;
				margin-bottom: 32px;
			}

		}

		&__left {
			width: 100%;
			margin-bottom: 32px;

			&.--bottom-left {
				order: 2;
				margin-bottom: 0;
			}
		}

		&__basket-list {
			height: 378px;
		}
	}

	@include _740 {
		&__right {
			height: 320px;
		}
	}

	@include _500 {
		&__basket-list {
			height: 290px;
		}

		&__input {
			height: 50px;
		}

		&__textarea {
			height: 150px;
		}

		&__tabs-nav {
			width: 100%;
		}
	}

	@include _480 {
		&__right {
			width: auto;
			margin: 0 -16px;

			&.--bottom-right {
				width: 100%;
				margin: 0;
				margin-bottom: 32px;
			}
		}

		&__top {
			padding-bottom: 46px;
			margin-bottom: 46px;
		}

		&__bottom-content {
			padding-bottom: 46px;
			margin-bottom: 46px;
		}
	}
}
