@import "settings";
@import "include";
@import "header";

.body-custom {
	position: relative;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.main_custom {
	position: relative;
	width: 100%;
	flex-grow: 1;
	overflow: hidden;

	&.overflow-visible {
		overflow: visible;
	}

	@include _740 {
		overflow: hidden;
	}
}

.header_custom {
	position: relative;
	z-index: 25;
	width: 100%;
	padding: 1.8rem 0;

	@include _1280 {
		& .search_form {
			& input {
				width: 283px;
			}
		}
	}

	@include _1200 {
		& .search_form {
			display: none;
		}
	}

	@include _992 {

		&__logo {
			margin-right: 0.65rem;
		}
		& p {
			font-size: 0.6rem;
		}

	}

	@include _740 {
		&__links {
			// & a:not(.order_call) {
			// 	display: none;
			// }

			& .order_call {
				margin-right: 0;
			}
		}

		& p {
			max-width: 31%;
		}
	}

	@include _500 {
		&__links {
			& .order_call {
				display: none;
			}
		}
	}

	@include _600 {
		&__links {

			& .order_call {
				font-size: 0.8rem;
			}
		}


	}
	@include _480 {
		padding: 1.4rem 0;
		& p {
			max-width: 36%;
		}

		&__links {
			& a {
				margin-right: 0;
				white-space: nowrap;
			}
		}
	}
	@include _375 {
		&__links {
			& .order_call {
				font-size: 0.9rem;
				margin-right: 0;
			}
		}
		& p {
			margin-right: 0;
		}
	}

	&__inner {
		display: flex;
		align-items: center;
	}

	&__logo {
		margin-right: 1.25rem;
	}

	& p {
		margin: 0;
		max-width: 24.9%;
		margin-right: 2rem;
		font-size: 0.9rem;
		line-height: 1.5;
	}

	.search_form {
		position: relative;
		padding: 1.18rem 3.75rem 1.18rem 1.25rem;
		background-color: #fff;
		border-radius: 2px;

		& input {
			width: 325px;
			background-color: transparent;
			border: none;
			border-bottom: 1px solid #C5D0D9;

			&::-webkit-input-placeholder {
				// font-family: "Manrope-ExtraBold", sans-serif;
				color: #C5D0D9;
			}
			&::-moz-placeholder {
				// font-family: "Manrope-ExtraBold", sans-serif;

				color: #C5D0D9;
			}
			&:-moz-placeholder {
				// font-family: "Manrope-ExtraBold", sans-serif;

				color: #C5D0D9;
			}
			&:-ms-input-placeholder {
				// font-family: "Manrope-ExtraBold", sans-serif;

				color: #C5D0D9;
			}
		}

		& .icon {
			position: absolute;
			top: 50%;
			right: 1.375rem;
			transform: translateY(-50%);
			color: $red;
			cursor: pointer;
		}

		label.error {
			position: absolute;
			left: 20px;
			bottom: 0;
			color: $color-red2;
			font-size: 12px;
		}

	}

	&__links {
		margin-left: auto;
		& a {
			color: #414B62;
			margin-right: 1rem;
			font-weight: bold;
		}

		& .order_call {
			position: relative;
			color: $red;

			&::before {
				content: "";
				position: absolute;
				left: 0;
				bottom: -4px;
				width: 100%;
				height: 2px;
				border-bottom: 1px dashed $red;
			}

			&:hover {
				&::before {
					content: none;
				}
			}
		}
	}

}

.hero_section {
	padding-top: 8.4rem;
	padding-bottom: 8.6rem;

	@include _1536 {
		padding-top: 6.4rem;
		&__img {
			width: 56%;
		}

		& .main-title  {
			margin-bottom: 4.88rem;
			& h1 {
				font-size: 2.3rem;
			}

			& span {
				&::before {
					right: -3.2rem;
					bottom: 0.4rem;
				}
			}
		}

	}
	@include _1440 {
		& .main-title {
			& span {
				&::before {
					right: -3rem;
				}
			}
		}
	}
	@include _1366 {
		padding-bottom: 7rem;
		padding-top: 4.4rem;
		& .main-title {
			margin-bottom: 4.18rem;
			& h1 {
				font-size: 2rem;
				&::before {
					width: 127.5px;
				}
			}

			& span {
				&::before {
					right: -3.2rem;
					bottom: 0;
				}
			}
		}
	}
	@include _1280 {
		padding-top: 4.4rem;

		& .main-title {
			& h1 {
				&::before {
					height: 122%;
				}
			}
		}
	}
	@include _1200 {
		padding-bottom: 5.6rem;
		& .main-title {
			max-width: 71%;
		}
	}
	@include _992 {
		padding-top: 3.4rem;
		padding-bottom: 4.6rem;

		&__img {
			width: 65%;
		}

		& .main-title {
			max-width: 68%;
			& h1 {
				font-size: 1.7rem;
			}

			& span {
				&::before {
					right: -1.2rem;
					bottom: 0.2rem;
					font-size: 23px;
				}
			}
		}

		& .button {
			padding: 1.4rem 2rem;
			margin-bottom: 1.3rem;
		}

	}
	@include _960 {
		& .main-title {
			& span {
				&::before {
					bottom: 2.6rem;
					right: -2.2rem;
				}
			}
		}
	}
	@include _740 {
		overflow: hidden;
		padding-bottom: 9.6rem;
		padding-top: 2.4rem;

		& .main-title {
			max-width: 100%;
			& h1 {
				&::before {
					width: 116px;
					height: 114%;
				}
			}
		}
		&__img {
			width: 87%;

			top: rem(306px);
			right: rem(-73.5px);
		}
	}
	@include _600 {
		& .main-title {
			& span {
				&::before {
					right: -2.7rem;
					bottom: 0.2rem;
				}
			}
		}
		&__img {
			top: 11.125rem;
		}
	}
	@include _500 {
		& .main-title {
			& span {
				&::before {
					right: -1.2rem;
					bottom: 0.2rem;
					font-size: 23px;
				}
			}
		}

		&__img {
			top: rem(288px);
		}
	}
	@include _480 {
		& .main-title {
			margin-bottom: 3.18rem;
			& h1 {
				font-size: 1.5rem;
				&::before {
					left: 3.5rem;
					width: 103px;
					height: 110%;
				}

				& span {
					&::before {
						display: none;
					}
				}
			}
		}

		& .btn_wrap {
			& p {
				font-size: 0.8rem;
			}
		}
	}
	@include _375 {
		& .main-title {
			max-width: 81.4%;
			& h1 {
				font-size: 1.4rem;
			}
		}

		&__img {
			width: 92%;
		}
	}


	&__img {
		position: absolute;
		top: 0;
		right: 0;
		opacity: 0;

		&.hero_section__img--page {
			top: 50px;
		}
	}

	& .main-title {
		max-width: 56%;
		margin-bottom: 6.68rem;
		opacity: 0;
		transform: translateX(-100%);
	}

	& .button {
		margin-bottom: 1.9rem;
	}

	& .btn_wrap {

		&.btn_wrap--page {
			p {
				max-width: 21rem;
			}
		}

		& p {
			margin: 0;
			font-size: 0.9rem;
			line-height: 1.5;
			max-width: 15rem;
			color: #2A303E;
		}
	}

	&__list {
		margin-top: rem(28px);
		max-width: rem(258px);
	}

	&__item {
		position: relative;
		padding-left: rem(36px);
		color: #414B62;
		margin-bottom: rem(20px);

		&:last-child {
			margin-bottom: 0;
		}

		&::before {
			content: "";
			position: absolute;
			top: 5px;
			left: 4px;
			width: 7px;
			height: 19px;
			background-color: $red;
			transform: skew(-25deg);
		}
	}


}

.feautures {
	position: relative;
	padding-bottom: rem(187px);

	@include _1536 {
		padding-bottom: 8rem;
		&__inner {
			min-height: 29.4rem;
			padding-top: 3.6rem;
			&::before {
				right: -1px;
				bottom: -1px;
			}
		}
		&__list {
			margin: -3.6rem 0;
		}
		&__item {
			padding: 3.6rem 0;
		}

		& .positioned_block2 {
			display: none;
			top: -6rem;
			left: 10.1rem;
		}

		& .positioned_block {
			display: none;
		}

		& .anim_arrows {
			height: 7.125rem;
			top: 27%;
			right: 0;
			bottom: auto;
		}
	}

	@include _1440 {
		padding-bottom: 7rem;
		& .positioned_block2 {
			left: 10.3rem;
		}
	}

	@include _1366 {
		padding-bottom: 6.5rem;

		&__inner {
			min-height: 24.4rem;
			background-position: 100% 70%;
		}
		&__list {
			margin: -2.6rem 0;
		}
		&__item {
			padding: 2.6rem 0;
			& h3 {
				font-size: 2rem;
				margin-bottom: 0.625rem;
			}
		}

		& .positioned_block2 {
			left: 8rem;
		}

		& .anim_arrows {
			top: 0;
		}
	}

	@include _1280 {
		& .positioned_block2 {
			left: 9rem;
		}
	}

	@include _1200 {
		padding-bottom: 4.5rem;
		& .positioned_block2 {
			top: -4rem;
			left: 8.2rem;
		}

		& .anim_arrows {
			top: auto;
			right: 9.1rem;
			bottom: 7.4rem;
			width: 7.625rem;
			height: 4.125rem;
		}

		&__list {
			margin: -1.6rem 0;
		}

		&__item {
			padding: 1.6rem 0;
		}

		&__inner {
			min-height: 22.4rem;
			background-position: 100% 100%;
		}
	}

	@include _992 {
		&__inner {
			padding-top: 2.6rem;
			padding-left: 1.5rem;
			padding-right: 3.4rem;
			padding-bottom: 0;
			min-height: 19.4rem;
			&::before {
				border-width: 0 0 5rem 6rem;
			}
		}

		&__item {
			& h3 {
				font-size: 1.5rem;
			}

			& p {
				font-size: 0.9rem;
			}
		}

		& .positioned_block2 {
			top: -4rem;
			left: 2.5rem;
		}

		& .anim_arrows {
			right: 8.4rem;
		}
	}

	@include _740 {
		padding-bottom: 6rem;

		&__inner {
			margin: 0 -16px;
			padding: 0 16px;
			background-position: 50% 100%;
			&::before {
				display: none;
			}
		}

		&__list	{
			align-items: stretch;
		}

		&__item {
			width: 50%;
		}

		& .positioned_block2 {
			top: -2rem;
			left: 0;
			height: 3.8125rem;
			width: 100%;

			& .arrows_red {
				width: 100%;
			}
		}

		& .anim_arrows {
			right: 0;
			bottom: 2.5rem;
			width: 70%;
			height: 3.8125rem;
			display: none;
		}
	}


	&__inner {
		position: relative;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		padding: 4.6rem 7.4rem 2.5rem 6.5rem;
		min-height: 33.4rem;

		&::before {
			content: "";
			position: absolute;
			right: 0;
			bottom: 0;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 0 rem(89px) rem(130px);
			border-color: transparent transparent #eef2f5 transparent;
		}
	}

	&__list {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		margin: -5.6rem 0;
	}

	&__item {
		width: 33.3%;
		text-align: center;
		padding: 5.6rem 0;

		& h3 {
			margin: 0;
			font-family: "Manrope-Regular", sans-serif;
			font-size: rem(48px);
			font-weight: bold;
			color: #fff;
			margin-bottom: rem(18px);
			text-transform: none;
			& span {
				font-family: "Manrope-Regular", sans-serif;
			}
		}

		& p {
			margin: 0;
			color: #fff;
			line-height: 1.4;
		}
	}
}

.our_products {
	position: relative;
	overflow: hidden;
	padding-bottom: rem(80px);
	margin-top: -3rem;
	padding-top: 3rem;

	@include _1536 {
		& .main-title {
			&::before {
				right: 4.8rem;
				width: 137.5px;
			}

			& span {
				&::before {
					right: -3.1rem;
					bottom: 0.4rem;
				}
			}
		}

		& .main-title {
			margin-bottom: 5rem;
		}

		&__blocks {
			display: none;
		}

		&__arrows {
			right: 8.3375rem;
		}
	}
	@include _1440 {
		&__blocks {
			width: 5rem;
			height: 9.95rem;
			right: 0;
			&::before {
				width: 114%;
				height: 74%;
				right: -78%;
			}
		}
		&__arrows {
			right: 0;
		}
	}
	@include _1366 {
		padding-bottom: 4.5rem;
		& .main-title {
			margin-bottom: 4rem;
			& p {
				font-size: 1rem;
			}
		}

		&__arrows {
			right: 2.5%;
		}
	}
	@include _1280 {
		& .main-title {
			margin-bottom: 4rem;
		}
	}
	@include _1024 {
		&__blocks {
			bottom: 21.25rem;
		}
		&__arrows {
			right: 0;
			bottom: 4.7rem;
		}

		& .main-title {
			& span {
				&::before {
					bottom: 0.3rem;
				}
			}
		}
	}
	@include _992 {
		padding-bottom: 2.5rem;
		& .main-title {
			margin-bottom: 3rem;
			&::before {
				width: 105.5px;
			}

			& span {
				&::before {
					right: 3.2rem;
					bottom: 0.2rem;
				}
			}

			& h2 {
				margin-bottom: 0.3rem;
			}
		}

		&__arrows {
			bottom: 19.7rem;
		}
	}
	@include _740 {
		& .main-title {
			&::before {
				right: 9.8rem;
			}
			& span {
				&::before {
					right: 3rem;
					bottom: 0.1rem;
				}
			}
		}
		&__blocks {
			display: none;
		}

		&__arrows {
			height: 3.75rem;
			right: -18px;
			bottom: 5.9rem;
		}

		& .main-title {
			& p {
				font-size: 1rem;
			}
		}
	}
	@include _600 {
		& .main-title {
			& span {
				&::before {
					bottom: 0.3rem;
					right: 3.2rem;
				}
			}
		}
	}

	@include _480 {
		&__arrows {
			display: none;
		}
	}
	@include _375 {
		& .main-title {
			margin-bottom: 2.5rem;
		}
	}


	& h2 {
		margin-bottom: rem(16px);
	}

	&__blocks {
		position: absolute;
		right: rem(19px);
		bottom: rem(196px);
		display: flex;
		flex-direction: column;
		width: rem(168px);
		height: rem(196px);

		& div {
			width: 100%;
			height: 50%;
			background-color: #0F203D;
			&:first-child {
				background-color: #1D2E4D;
			}
		}

		&::before {
			content: "";
			position: absolute;
			top: 50%;
			right: rem(-140px);
			width: rem(197px);
			height: rem(197px);
			transform: translateY(-50%);
			border-radius: 50%;
			background-color: #FFF;
		}
	}

	&__arrows {
		position: absolute;
		right: rem(191px);
		bottom: rem(80px);
		width: rem(172px);
		height: rem(116px);
		background-image: url(../images/arrows_anim_blue.png);
		background-position: 0 0;
		background-repeat: repeat-x;
		background-size: cover;
		animation: 25s linear infinite animArrow;
	}

	& .main-title {
		position: relative;
		max-width: rem(410px);
		z-index: 25;
		margin-bottom: rem(112px);
		opacity: 0;
		transform: translateX(-100%);

		&::before {
			content: "";
			position: absolute;
			top: 50%;
			right: -1.2rem;
			transform: translateY(-50%) skew(-25.4deg);
			height: 120%;
			width: 179.5px;
			background-color: #FFF;
			z-index: -1;
		}

		& h2 {
			&::before {
				display: none;
			}
		}

		& p {
			margin: 0;
			font-size: rem(18px);

			&:first-child {
				font-weight: bold;
			}
		}

		& span {
			&::before {
				right: -3.3rem;
			}
		}
	}

	.main_list {

		.main_list__col:last-child {
			&:hover {
				.main_list__item {
					padding: 0;

					&_text {
						transform: translateY(-60px);
						padding: 1rem;
						background: #FFF;
					}

					.main_list__text--hidden {
						opacity: 1;
						visibility: visible;
					}

					& .item_btn {
						opacity: 1;
						visibility: visible;
					}
				}

				@include _1024 {
					.main_list__item {
						padding: 1rem;

						&_text {
							transform: none;
							padding: 0;
							background: transparent;
						}

						.main_list__text--hidden {
							opacity: 0;
							visibility: hidden;
						}

						& .item_btn {
							opacity: 1;
							visibility: visible;
						}
					}
				}
			}
		}
	}
}

.worlwide {
	position: relative;
	overflow: hidden;
	padding-top: rem(114px);
	padding-bottom: rem(221px);
	background-color: #DAE2E8;

	@include _1536 {
		& .map {
			right: -34%;
		}

		& .main-title {
			& span {
				&::before {
					right: 13rem;
					bottom: 0.3rem;
				}
			}
		}
	}

	@include _1440 {
		& .map {
			right: -41%;
		}

		& .main-title {
			&::before {
				width: 137.5px;
				right: 15rem;
			}
			& span {
				&::before {
					right: 13.3rem;
					bottom: 0.4rem;
				}
			}
		}
	}

	@include _1366 {
		padding-top: 4rem;
    	padding-bottom: 14rem;
		& .main-title {
			margin-bottom: 5rem;

			&::before {
				height: 112%;
				width: 131.5px;
			}
		}

		& .map {
			right: -46%;
			& svg {
				width: 77%;
			}
		}
	}

	@include _1280 {
		padding-bottom: 4rem;
		& .map {
			right: -57%;
			& svg {
				width: 63%;
			}
		}

		& .main-title {
			& span {
				&::before {
					right: 11.8rem;
					bottom: 0.2rem;
				}
			}
		}
	}

	@include _1200 {
		& .map {
			right: -84%;
		}
	}
	@include _992 {
		padding-bottom: 5rem;

		& .main-title {
			&::before {
				right: 15rem;
			}

			& span {
				&::before {
					right: 15.2rem;
    				bottom: 0.2rem;
				}
			}
		}

		&__text {
			max-width: 47%;
			& br {
				display: none;
			}

			&_img {
				top: -3rem;
				right: auto;
				left: -2rem;
				z-index: -1;
				width: 47%;
			}
		}

		& .map {
			top: auto;
			bottom: -11rem;
			right: -96%;
			transform: none;
		}
	}
	@include _769 {
		& .map {
			right: -122%;
		}
	}

	@include _740 {
		padding-bottom: 24rem;

		& .main-title {
			margin-bottom: 4rem;
			&::before {
				right: 15rem;
			}
			& span {
				&::before {
					right: 8.5rem;
					bottom: 0.1rem;
				}
			}
		}

		& .map {
			right: -189%;
		}

		&__text {
			max-width: 100%;
		}

		& .map {
			bottom: -17rem;
			right: -183%;
		}

	}

	@include _600 {
		padding-bottom: 16rem;
		& .main-title {
			& span {
				&::before {
					right: 14rem;
					bottom: 0.3rem;
				}
			}
		}

		& .map {
			right: -161%;
		}

		&__text {
			max-width: 90%;
		}


	}

	@include _500 {
		& .main-title {
			& span {
				&::before {
					right: 9.5rem;
					bottom: 0.4rem;
				}
			}
		}

		& .map {
			right: -191%;
			bottom: -23rem;
		}
	}

	@include _480 {
		padding-top: 3rem;
		padding-bottom: 22rem;

		& .main-title {
			&::before {
				height: 108%;
				width: 98.5px;
				right: 12rem;
			}
		}

		& .map {
			right: -239%;
			bottom: -20rem;
		}
	}

	@include _375 {
		padding-top: 3rem;

		& .main-title {
			& h2 {
				font-size: 1.5rem;
			}
		}

		& .map {
			right: -275%;
			& svg {
				width: 47%;
			}
		}
	}

	@include _360 {
		& .map {
			right: -288%;
			& svg {
				width: 55%;
			}
		}
	}

	& .map {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: rem(-364px);

		& .regions {
			&#RU-KYA_1_ {
				fill: transparent;
			}
			&#RU-KHM_1_ {
				fill: transparent;
			}
			&#RU-KO_1_ {
				fill: transparent;
			}
			&#RU-PER_1_ {
				fill: transparent;
			}
			&#RU-OMS_1_ {
				fill: transparent;
			}
			&#RU-VLA_1_ {
				fill: transparent;
			}
		}

		& .circle {
			opacity: 0;
		}

		& .first-line {
			stroke-dashoffset: 230;
			stroke-dasharray: 230;
		}

		& .second-line {
			stroke-dashoffset: 144;
			stroke-dasharray: 144;
		}

		& .third-line {
			stroke-dashoffset: 230;
			stroke-dasharray: 230;
		}

	}

	& .main-title {
		max-width: rem(615px);
		position: relative;
		z-index: 25;
		margin-bottom: rem(114px);
		opacity: 0;
		transform: translateX(-100%);

		& span {
			&::before {
				right: 11.1rem;
			}
		}

		&::before {
			content: "";
			position: absolute;
			top: 50%;
			right: 11rem;
			transform: translateY(-50%) skew(-25.4deg);
			height: 130%;
			width: 179.5px;
			background-color: #FFF;
			z-index: -1;
		}

		& h2 {
			margin-bottom: rem(16px);
			&::before {
				display: none;
			}
		}

		& p {
			margin: 0;
		}
	}

	&__text {
		max-width: rem(410px);
		position: relative;
		z-index: 2;

		&_img {
			position: absolute;
			top: rem(-25px);
			right: rem(-35px);
			z-index: -1;
		}

		& span {
			color: #D0241F;
		}

		& p {
			line-height: 1.6;
			margin: rem(33.6px) 0;
		}
	}

	& .button-arrow {
		margin-top: rem(5px);
	}
}

.systems {
	position: relative;
	margin-top: rem(-158px);
	padding-bottom: rem(192px);
	@include _1536 {
		padding-bottom: 8rem;
	}

	@include _1366 {
		padding-bottom: 6.5rem;

		&__item {
			padding: 2.5rem 3rem;
			padding-bottom: 6.125rem;

			& h3 {
				font-size: 2rem;
			}
		}

		& .block-wrapper {
			display: none;
		}

	}
	@include _1280 {
		margin-top: 0;

		&__bg_line {
			top: 17px;
		}
		& .block-wrapper {
			top: auto;
			bottom: 0;
			height: 9.25rem;
			& .systems__bloks {
				height: 100%;

				&::before {
					height: 110%;
				}
			}
		}
	}
	@include _1200 {
		&__col {
			& ul {
				position: relative;
				z-index: 1;
			}
		}
	}
	@include _992 {
		&__list {
			flex-wrap: wrap;
		}
		&__col {
			width: 100%;
		}

		&__item {
			& h3 {
				max-width: 100%;
				font-size: 1.8rem;
			}

			& ul {
				max-width: 100%;
			}
		}
	}
	@include _740 {
		&__item {
			& h3 {
				font-size: 1.6rem;
			}
		}
	}

	@include _480 {
		&__item {
			padding: 2rem 2rem;
    		padding-bottom: 4.325rem;

			& h3 {
				font-size: 1.8rem;
				margin-bottom: 2rem;
			}

			& ul {
				max-width: 92%;
				& li {
					padding-left: 3.15rem;
					&::before {
						width: 35px;
    					height: 35px;
						font-size: 1.175rem;
					}
				}
			}

			&_img {
				width: 35%;
			}

			&_arrows {
				height: 3.1375rem;
			}
		}
	}
	@include _375 {
		&__item {
			& h3 {
				font-size: 1.5rem;
			}
			& ul {
				& li {
					font-size: rem(14px);
				}
			}
		}
	}


	&__bg_line {
		position: absolute;
		top: rem(157px);
		left: 0;
		width: 100%;
		height: rem(80px);
		background-color: $red;
	}

	& .block-wrapper {
		position: absolute;
		right: 0;
		top: rem(389px);
		width: 52px;
		height: rem(196px);
		overflow: hidden;
	}


	&__bloks {
		position: absolute;
		right: -6rem;
		top: 0;
		height: rem(196px);
		width: 143px;
		display: flex;
		flex-direction: column;

		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: 13px;
			width: 198px;
			height: 198px;
			transform: translateY(-50%);
			background-color: #FFF;
			border-radius: 50%;
		}

		& div {
			width: 100%;
			height: 50%;
			&:nth-child(1) {
				background-color: #E83832;
			}
			&:nth-child(2) {
				background-color: #D0241F;
			}
		}
	}

	&__list {
		display: flex;
		margin: rem(-16px);
	}

	&__col {
		padding: rem(16px);
		width: 50%;

		&:nth-child(1) {
			& .systems__item_img {
				bottom: rem(110px);
			}
		}

		&:nth-child(2) {
			& ul {
				& li {
					&::before {
						font-family: "icomoon";
					}
					&:nth-child(1) {
						&::before {
							content: "\e907";
						}
					}
					&:nth-child(2) {
						&::before {
							content: "\e906";
							font-size: rem(17px);
						}
					}
					&:nth-child(3) {
						&::before {
							content: "\e903";
							font-size: rem(19px);
						}
					}
				}
			}
		}

		& .button-arrow {
			justify-content: stretch;
			align-items: stretch;
			margin-top: rem(44px);
		}
	}

	&__item {
		position: relative;
		height: 100%;
		padding: rem(40px) rem(64px);
		padding-bottom: rem(130px);
		background-color: #1D2E4D;
		clip-path: polygon(0% 0%, 88% 0%, 101% 18%, 100% 100%, 0% 100%);

		&::before {
			content: "";
			position: absolute;
			left: 50%;
			bottom: 2px;
			width: 90%;
			height: 38px;
			transform: translateX(-50%);
			box-shadow: 0 15px 58px #0f203d;
		}

		& h3 {
			margin: 0;
			font-family: "Jost-ExtraLight", sans-serif;
			font-size: rem(40px);
			color: #FFF;
			margin-bottom: rem(48px);
			line-height: 1.5;
			max-width: 22.5625rem;
			& span {
				display: block;
				font-family: "Jost-Black", sans-serif;
				white-space: nowrap;
			}
		}

		& ul {
			max-width: rem(318px);
			& li {
				position: relative;
				color: #FFF;
				padding-left: rem(60px);
				margin-bottom: rem(19px);
				line-height: 1.6;

				&:last-child {
					margin-bottom: 0;
				}

				&::before {
					content: "₽";
					position: absolute;
					top: 50%;
					left: 0;
					display: flex;
					align-items: center;
					justify-content: center;
					width: 41px;
					height: 41px;
					font-size: rem(22px);
					transform: translateY(-50%);
					border-radius: 50%;
					border: 1px solid $red;
				}

				&:not(:first-child)::before {
					font-family: "icomoon";
				}

				&:nth-child(1) {
					&::before {
						content: "₽";
					}
				}
				&:nth-child(2) {
					&::before {
						content: "\e904";
					}
				}
				&:nth-child(3) {
					&::before {
						content: "\e905";
					}
				}
			}
		}

		&_arrows {
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: rem(63px);
			background-image: url(../images/anim_arrow_system.png);
			background-position: 0 0;
			background-repeat: repeat-x;
			background-size: cover;
			animation: 25s linear infinite animArrow;
		}

		&_img {
			position: absolute;
			right: 0;
			bottom: rem(95px);
		}
	}

}

.solutions {
	padding-bottom: rem(160px);

	@include _1536 {
		padding-bottom: 8rem;
		& .main-title {
			margin-bottom: 5rem;
			& span {
				&::before {
					bottom: 0.4rem;
				}
			}
		}
	}

	@include _1440 {
		padding-bottom: 7rem;
		& .main-title {
			&::before {
				width: 137.5px;
			}
		}
	}

	@include _1366 {
		& .main-title {
			margin-bottom: 4rem;
		}
	}

	@include _1280 {
		padding-bottom: 6rem;
		& .main-title {
			max-width: 32.8125rem;
		}
	}
	@include _1024 {
		& .main-title {
			& span {
				&::before {
					right: -3.3rem;
					bottom: 0.3rem;
				}
			}
		}

		&__col {
			&:last-child {
				& .solutions__item {
					padding: 2rem;
				}
			}
		}
	}
	@include _992 {
		&__col {
			&:last-child {
				& .solutions__item {
					padding: 1.5rem;
				}
			}
		}
	}
	@include _740 {
		& .main-title {
			& span {
				&::before {
					right: -2.8rem;
    				bottom: 0rem;
				}
			}
		}
	}

	@include _600 {
		& .main-title {
			& span {
				&::before {
					right: 2rem;
    				bottom: 0.4rem;
				}
			}
		}
	}

	@include _500{
		& .main-title {
			& span {

				&::before {
				    right: -2.2rem;
    				bottom: 0.4rem;
				}
			}
		}
	}

	@include _480 {
		& .main-title {
			&::before {
				right: 9rem;
			}
		}
	}

	@include _375 {
		padding-bottom: 5rem;
	}

	&--hidden-el {
		.main_list__col {
			&:nth-child(n+8) {
				display: none;
			}

			&.last-child {
				display: block;
			}
		}

		.solutions__list.active {
			.main_list__col {
				&:nth-child(n+8) {
					display: block;
				}
			}
		}
	}

	& .main-title {
		max-width: rem(637px);
		margin-bottom: rem(114px);
		opacity: 0;
		transform: translateX(-100%);
		&::before {
			right: 18rem;
		}

		& h2 {
			margin-bottom: rem(16px);
		}

		& span {
			&::before {
				right: -3.2rem;
			}
		}
	}

	&__col {
		&:last-child {
			& .solutions__item {
				background-color: $red;
				color: #FFF;

				& .solutions__cube {
					display: flex;
					flex-wrap: wrap;
					margin: -2.3px;
					width: 40px;
					height: 40px;
					transition: transform .3s;

					& div {
						width: 33.3%;
						padding: 2.4px;
						border-radius: 1px;
						& span {
							display: block;
							background-color: #FFF;
							height: 100%;
							width: 100%;
						}
					}
				}

				& .solutions__show_all {
					position: relative;
					margin-top: auto;
					transition: transform .3s ease-in-out;

					&::before {
						content: "";
						position: absolute;
						left: 0;
						bottom: -4px;
						height: 2px;
						width: 0;
						background-color: #FFF;
						transition: width .3s ease-in-out;

					}
				}

			}
		}
	}

	&__item {
		background-position: 50% 50%;

		&:hover {
			& .solutions__cube {
				transform: rotate(90deg);
				& div {
					transform: rotate(-90deg);
				}
			}

			& .solutions__show_all {
				transform: translateY(-10px);
				&::before {
					width: 85% !important;
				}
			}
		}
	}


}

.portfolio {
	position: relative;
	padding-top: rem(114px);
	padding-bottom: rem(72px);
	margin-bottom: rem(197px);
	background-color: #DAE2E8;
	overflow: hidden;

	@include _2100 {
		&::before {
			top: 45.9%;
		}
	}
	@include _1925 {
		&::before {
			top: 45.6%;
		}
	}

	@include _1536 {
		margin-bottom: 8rem;
		padding-top: 6.125rem;
		&__bottom_line {
			z-index: 50;
		}

		& .main-title {
			max-width: 32.625rem;
			margin-bottom: 6rem;
			& span {
				&::before {
					right: -11.8rem;
					bottom: 0.4rem;
				}
			}
		}

		&::before {
			top: 26.6rem;
		}

		& .portfolio__arrow-container {
			top: 7rem;
		}
	}

	@include _1440 {
		margin-bottom: 7rem;

		&__slider {

			& .slick-list {
				padding-right: 141%;
			}
		}

		& .main-title {
			&::before {
				width: 137.5px;
			}
		}
	}
	@include _1366 {
		margin-bottom: 6rem;
		&::before {
			top: 26.2rem;
		}

		&__slider {

			& .slick-list {
				padding-right: 145%;
			}
		}
	}

	@include _1280 {

		& .main-title {
			& span {
				&::before {
					right: -10.8rem;
					bottom: 0.2rem;
				}
			}
		}

		&::before {
			top: 25.2rem;
		}
		&__slider {

			& .slick-list {
				padding-right: 132%;
			}
		}
	}

	@include _1024 {

		& .main-title {
			&::before {
				right: 11rem;
			}
		}

		& .portfolio__arrow-container {
			top: 6rem;
		}

		&__slider {

			& .slick-list {
				margin-left: auto;
				padding-left: 0;
				margin-right: -10%;
				padding-right: 10%;
			}

			& .slick-slide {
				margin: 0 rem(36px);
			}
		}


		&__item {
			&::before {
				visibility: visible;
				opacity: 1;
			}

			&::before {
				content: "";
				position: absolute;
				top: -20px;
				right: -20px;
				left: -41px;
				bottom: 0;
				background-color: #EEF2F5;
				z-index: -1;
			}

			& .portfolio__item_results {
				opacity: 1;
				visibility: visible;
			}

			& .results__bottom {
				&::before {
					content: "";
					position: absolute;
					top: 0;
					right: -20px;
					left: -41px;
					bottom: 0;
					background-color: #C8D5DE;
					z-index: -1;
				}
			}
		}
	}

	@include _960 {
		&::before {
			top: 24.7rem;
		}
	}

	@include _769 {

		& .main-title {
			& span {
				&::before {
					right: -10.4rem;
					bottom: 0.1rem;
				}
			}
		}

		& .portfolio__arrow-container {
			top: 5rem;
		}


		&::before {
			display: none;
		}
		&__item {
			&_title {
				font-size: 1rem;
				&::before {
					width: auto;
					left: -41px;
					right: -20px;
				}
			}
		}
	}
	@include _740 {

		& .main-title {
			margin-bottom: 10rem;
			& span {
				&::before {
					right: -9.5rem;
					bottom: 0.1rem;
				}
			}
		}

		& .portfolio__arrow-container {
			top: 11rem;
		}


		&__item {
			max-width: 100%;
			&_text {
				max-width: 100%;
			}

			&_results {
				&.results p {
					max-width: 100%;
				}
			}
		}
	}

	@include _600 {
		& .main-title {
			& span {
				&::before {
					right: 3.3rem;
					bottom: -1.7rem;
				}
			}
		}
	}

	@include _500 {

		& .main-title {
			& span {
				&::before {
					right: -8.5rem;
					bottom: 0.3rem;
				}
			}
		}
	}

	@include _480 {
		padding-top: 4rem;
		margin-bottom: 4rem;
	}
	@include _375 {
		& .main-title {
			&::before {
				width: 105.5px;
			}
		}
	}


	&::before {
		content: "";
		position: absolute;
		top: 47.9%;
		left: 0;
		width: 100%;
		height: 2px;
		background-color: $red;
		z-index: 93;
	}

	&__bottom_line {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: rem(32px);
		background-color: $red;
	}

	&__img {
		position: absolute;
		top: 0;
		right: 0;
	}

	& .main-title {
		max-width: rem(410px);
		margin-bottom: rem(131px);
		opacity: 0;
		transform: translateX(-100%);

		&::before {
			right: 5rem;
			height: 119%;
		}

		& span {
			&::before {
				right: -3.4rem;
			}
		}

	}

	&__arrow-container {
		top: 13rem;
	}

	&__slider {
		// padding-left: rem(40px);
		padding-bottom: rem(55px);

		& .slick-list {
			margin-left: rem(-40px);
			padding-left: rem(40px);
			margin-top: rem(-20px);
			padding-top: rem(20px);
			margin-right: -133%;
			padding-right: 150%;
		}

		& .slick-slide {
			margin: 0 rem(36px);

			&.slick-current .portfolio__item {
				&::before {
					content: "";
					position: absolute;
					top: -20px;
					right: -20px;
					left: -41px;
					bottom: 0;
					background-color: #EEF2F5;
					z-index: -1;
				}

				& .portfolio__item_results {
					opacity: 1;
					visibility: visible;
				}

				& .results__bottom {
					&::before {
						content: "";
						position: absolute;
						top: 0;
						right: -20px;
						left: -41px;
						bottom: 0;
						background-color: #C8D5DE;
						z-index: -1;
					}
				}
			}

		}
	}

	&__item {
		position: relative;
		max-width: 235px;
		z-index: 25;
		cursor: pointer;

		&_title {
			font-size: rem(14px);
			color: #414B62;
			margin-bottom: rem(40px);
			padding-bottom: rem(40px);
			position: relative;
			&::before {
				content: "";
				position: absolute;
				left: 0;
				bottom: 0;
				min-width: 75px;
				height: 5px;
				background-color: $red;
			}
		}
		&_text {
			max-width: rem(235px);
			& ul {
				& li {
					margin-bottom: rem(17px);
					display: flex;
					&:last-child {
						margin-bottom: 0;
					}
					& span {
						display: inline-block;
						font-size: rem(14px);
						min-width: 56px;
						margin-right: 13px;
						color: #414B62;
						&:nth-child(2) {
							font-size: rem(16px);
							margin-right: 0;
							min-width: auto;
						}
					}
				}
			}
		}

		&_results {
			padding-top: rem(16px);
			&.results {
				opacity: 0;
				visibility: hidden;

				// transition: opacity .3s;

				& p {
					max-width: rem(209px);
					margin: 0;
					font-size: rem(14px);
					color: #414B62;
				}
			}
			& .results__top {
				padding-bottom: rem(16px);
				& p {
					&:nth-child(1) {
						margin-bottom: rem(10px);
					}
					&:nth-child(2) {
						font-size: rem(16px);
					}
				}

			}

			& .results__bottom {
				position: relative;
				padding: rem(16px) 0;

				& p {
					&:nth-child(1) {
						margin-bottom: rem(10px);
					}
					&:nth-child(2) {
						font-size: rem(16px);
					}
				}

			}

			& .results__price {
				position: relative;
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 17px 0;
				padding-right: 41px;
				color: #FFF;
				background-color: #414B62;

				&::before {
					content: "";
					position: absolute;
					top: 0;
					right: -20px;
					left: -41px;
					bottom: 0;
					background-color: #414B62;
					z-index: -1;
				}
			}
		}

		&::before {
			transition: all .3s;
		}

		&:hover {
			&::before {
				content: "";
				position: absolute;
				top: -20px;
				right: -20px;
				left: -41px;
				bottom: 0;
				background-color: #EEF2F5;
				z-index: -1;
			}

			& .portfolio__item_results {
				opacity: 1;
				visibility: visible;
			}

			& .results__bottom {
				&::before {
					content: "";
					position: absolute;
					top: 0;
					right: -20px;
					left: -41px;
					bottom: 0;
					background-color: #C8D5DE;
					z-index: -1;
				}
			}
		}

	}

	&__see_all {
		position: relative;
		font-size: rem(14px);
		line-height: 1.5;
		margin-bottom: rem(40px);
		text-transform: uppercase;

		&::before {
			content: "";
			position: absolute;
			left: 0;
			bottom: -4px;
			width: 100%;
			height: 1px;
			background-color: #414B62;
			transition: width 0.3s ease-in-out;
		}

		&:hover {
			&::before {
				width: 0;
			}
		}
	}



}

.cooperation {
	position: relative;
	overflow: hidden;
	padding-bottom: rem(156px);
	margin-top: -3rem;
	padding-top: 3rem;

	@include _1536 {
		& .main-title {
			margin-bottom: 6rem;

			& span {
				&::before {
					right: 0;
					bottom: 0.3rem;
				}
			}
		}

		&__arrow-container {
			top: 7rem;
		}
	}

	@include _1440 {
		padding-bottom: 8rem;
		& .main-title {
			& h2::before {
				width: 137.5px;
			}
			& span {
				&::before {
					right: 1rem;
				}
			}
		}
	}

	@include _1366 {
		& .block-wrapper {
			display: none;
		}
		&__anim-arrow {
			left: 81px;
			bottom: 2rem;
		}
	}

	@include _1280 {
		padding-bottom: 6rem;

		& .main-title {
			& span {
				&::before {
					right: 3rem;
				}
			}
		}

		&__slider {
			& .slick-slide {
				margin: 0 1rem;
			}
		}

		&__anim-arrow {
			left: 81px;
			bottom: 1rem;
		}

		&__arrow-container {
			top: 5.5rem;
		}

		& .main-title {
			margin-bottom: 5rem;
		}

	}
	@include _1200 {
		padding-bottom: 8rem;
		&__anim-arrow {
			left: 0;
		}

		& .main-title {
			& span {
				&::before {
					bottom: 0.2rem;
				}
			}
		}

	}

	@include _992 {
		&__arrow-container {
			top: 4rem;
		}

		&__slider {
			& .slick-slide {
				margin: 0 0.5rem;
			}
		}

		& .main-title {
			& span {
				&::before {
					right: 5.5rem;
					bottom: 0;
				}
			}
		}
	}

	@include _740 {
		& .main-title {
			margin-bottom: 9rem;
			& span {
				&::before {
					right: 5.8rem;
				}
			}
		}

		&__arrow-container {
			top: 9rem;
		}

		& .systems__bloks {
			display: none;
		}
	}

	@include _600 {
		& .main-title {
			& span {
				&::before {
					right: 8.8rem;
					bottom: rem(5.1px);
				}
			}
		}
		&__arrow-container {
			top: 7rem;
		}
	}

	@include _500 {
		& .main-title {
			& span {
				&::before {
					right: 6.8rem;
				}
			}
		}

		&__arrow-container {
			top: 9rem;
		}
	}

	@include _480 {
		padding-bottom: 6rem;

		& .main-title {
			& h2::before {
				left: 3.5rem;
			}
		}
	}
	@include _375 {
		padding-bottom: 4rem;
		&__anim-arrow {
			display: none;
		}

		& .main-title {
			& h2 {
				&::before {
					width: 107.5px;
				}
			}
		}

	}

	&__anim-arrow {
		position: absolute;
		left: rem(100px);
		bottom: rem(5px);
		width: 86px;
		height: 58px;
		background-image: url(../images/arrows_anim_grey.png);
		background-position: 0 0;
		background-size: cover;
		background-repeat: repeat-x;
		animation: 140s linear infinite animArrow;
	}

	& .systems__bloks {
		top: auto;
		bottom: 12rem;
		right: -4.8rem;

		& div {
			&:nth-child(1) {
				background-color: #DAE2E8;
			}
			&:nth-child(2) {
				background-color: #C8D5DE;
			}
		}
	}

	& .main-title {
		max-width: rem(504px);
		margin-bottom: rem(131px);
		opacity: 0;
		transform: translateX(-100%);

		& h2 {
			&::before {
				left: 8.5rem;
			}

			& span {
				display: block;
				white-space: nowrap;
			}
		}

		& span {
			&::before {
				right: -3.3rem;
			}
		}

	}

	&__arrow-container {
		top: 10rem;
	}

	&__item {
		& a {
			display: inline-block;
			position: relative;
		}
		& img {
			margin: 0 auto;
		}
		&:hover {

			& a {
				&::before {
					content: "";
					position: absolute;
					width: 100%;
					height: 100%;
					border: 5px solid $red;
				}

			}

		}
	}
}

.footer_section {
	padding-bottom: rem(80px);
	overflow: hidden;

	@include _1536 {
		& .main-title {
			& h2 {
				margin-bottom: 4.875rem;
			}
			& span {
				&::before {
					right: -3.2rem;
					bottom: 0.3rem;
				}
			}
		}
	}

	@include _1440 {
		margin-top: -2px;
		padding-top: 2px;
		&__col {
			&:nth-child(2) {
				& .footer_section__item {
					justify-content: center;
					&::before {
					    top: -1px;
						right: 24.1px;
						bottom: -2px;
						left: 24px;
						clip-path: polygon(0% 0%, 86% 0%, 104% 16.2%, 100% 100%, 0% 100%);
					}
				}
			}
		}

		& .main-title {
			& h2::before {
				width: 137.5px;
			}
		}
	}

	@include _1280 {
		& .main-title {
			& h2 {
				&::before {
					width: 100px;
				}
			}
		}

		&__col {
			&:nth-child(2) {
				& .footer_section__item {
					&::before {
					    top: -1px;
						right: 8.1px;
						bottom: -1px;
						left: 8px;
						clip-path: polygon(0% 0%, 85.9% 0%, 104% 16.2%, 100% 100%, 0% 100%);
					}
				}
			}
		}
	}

	@include _1200 {
		&__col {
			flex: 0 0 40%;
			max-width: 40%;
		}
		&__img {
			top: 12.875rem;
			right: -3.8125rem;
			width: 78%;
		}

		&__col {
			&:nth-child(2) {
				& .footer_section__item {
					&::before {
						top: -1px;
						right: -0.9px;
						bottom: -1px;
						left: 0px;
						clip-path: polygon(0% 0%, 85.8% 0%, 104% 16.2%, 100% 100%, 0% 100%);
					}
				}
			}
		}
	}

	@include _992 {

		& .main-title {
			& h2 {
				margin-bottom: 3rem;
			}

			& span {
				&::before {
					display: none;
				}
			}
		}

		&__col {
			flex: 0 0 50%;
			max-width: 50%;
		}

		&__img {
			top: auto;
			right: 6rem;
			bottom: -2rem;
			width: 78%;
		}

		&__item {
			& ul {
				& li {
					margin-bottom: 1rem;
				}
			}
		}
	}

	@include _960 {
		&__col {
			&:nth-child(2) {
				& .footer_section__item {
					&::before {
						right: 36.1px;
						left: 36px;
					}
				}
			}
		}
	}

	@include _740 {

		& .main-title {
			& span {
				&::before {
					display: block;
					bottom: 0.2rem;
				}
			}
		}

		&__row {
			flex-wrap: wrap;
		}

		&__col {
			flex: 0 0 100%;
			max-width: 100%;

			&:nth-child(1) {
				margin-bottom: 1.5rem;
			}

			&:nth-child(2) {
				& .footer_section__item {
					justify-content: stretch;
					align-items: stretch;
					width: 100%;
				}
			}
		}

		&__item {
			& ul {
				max-width: 100%;

				& li {
					padding-left: 26px;
				}
			}
		}

		&__img {
			display: none;
		}
	}


	@include _600 {
		&__col {
			&:nth-child(2) {
				& .footer_section__item {
					&::before {
						top: -1px;
						right: -1.4px;
						bottom: -1px;
						left: -1px;
						clip-path: polygon(0% 0%, 85.8% 0%, 104% 16.2%, 100% 100%, 0% 100%);
					}
				}
			}
		}
	}

	@include _500 {
		& .main-title {
			& span {
				&::before {
					bottom: 0.3rem;
				}
			}
		}
	}

	@include _480 {
		padding-bottom: 4rem;
		& .main-title {
			& span {
				&::before {
					display: none;
				}
			}
		}
	}

	&__img {
		position: absolute;
		top: rem(110px);
		right: rem(-125px);
	}

	& .main-title {
		max-width: rem(427px);
		opacity: 0;
		transform: translateX(-100%);
		& h2 {
			margin-bottom: rem(126px);
			&::before {
				left: 7.6rem;
			}
		}

		& span {
			&::before {
				right: 3.2rem;
			}
		}
	}

	&__row {
		display: flex;
		justify-content: space-between;
	}

	&__col {
		flex: 0 0 35.7%;
		max-width: 35.7%;
		&:nth-child(1) {
			margin-top: 2rem;
		}
		&:nth-child(2) {
			& .footer_section__item {
				position: relative;
				display: flex;
				justify-content: flex-end;

				&::before {
					content: "";
					background-color: #C8D5DE;
					position: absolute;
					top: -1px;
					right: -1px;
					bottom: -1px;
					left: 49.6px;

					clip-path: polygon(0% 0%, 85.8% 0%, 104% 16.2%, 100% 100%, 0% 100%);

				}
			}
		}
	}

	&__item {
		& ul {
			max-width: rem(343px);

			& li {
				position: relative;
				margin-bottom: rem(24px);
				padding-left: 35px;
				line-height: 1.6;

				&::before {
					content: "";
					position: absolute;
					top: 6px;
					left: 0;
					width: 8px;
					height: 18px;
					background-color: $red;
					transform: skew(-35deg);
				}



				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}

.footer_custom {
	position: relative;
	background-color: #0F203D;
	padding: rem(104px) 0 rem(60px) 0;

	@include _1280 {

		&__row {
			flex-wrap: wrap;
		}

		&__col {
			&:nth-child(4) {
				margin-top: 1.5rem;
				margin-left: 0;
				width: 100%;
			}
			&:nth-child(3) {
				margin-left: auto;
			}
		}

	}

	@include _992 {
		&__col {
			&:nth-child(3) {
				margin-left: 0;
				margin-top: 1.5rem;
				max-width: 100%;
				width: 100%;

				& .footer_contacts {
					display: flex;
					justify-content: space-between;
					width: 100%;
				}
			}
		}
	}

	@include _740 {
		padding: 5.5rem 0 2.75rem 0;
		&__copyright {
			display: none;
		}



		&__col {

			& .logo__wrapper {
				margin-bottom: 1.5rem;
			}

			&:nth-child(1) {
				max-width: 100%;
				margin-right: 0;
			}

			&:nth-child(2) {
				margin-top: 1.5rem;
				max-width: 100%;
				margin-right: 0;

				& .footer_custom__copyright {
					display: block;
				}
			}

			&:nth-child(3) {
				margin-top: 2rem;
				& .footer_contacts {
					flex-direction: column;
					justify-content: stretch;

					&__name {
						min-width: 86px;
					}

					&__links {
						margin-left: 0;
					}
				}
			}


			&:nth-child(4) {

				& .footer_custom__copyright {
					display: block;
					margin-top: 1rem;
				}
			}
		}
	}


	&__arrows {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: rem(51px);

		background-image: url(../images/footer_arrows1.png);
		background-position: 0 -150px;
		background-repeat: repeat-x;
		background-size: contain;
		animation: 90s linear infinite animArrowTo;
	}


	&__row {
		display: flex;
	}

	&__col {

		&:nth-child(1) {
			max-width: rem(344px);
			margin-right: rem(65px);
		}
		&:nth-child(2) {
			max-width: rem(275px);
		}
		&:nth-child(3) {
			max-width: rem(264px);
			margin-left: rem(55px);
		}
		&:nth-child(4) {
			margin-left: auto;

			& .footer_custom__copyright{
				display: none;
			}
		}
		& .logo__wrapper {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-bottom: rem(56px);
			& p {
				margin: 0;
				color: #fff;
				font-size: rem(14px);
			}
		}

		& ul {
			display: flex;
			flex-wrap: wrap;
			& li {
				margin-bottom: 1rem;
				min-width: 95px;
				margin-right: 42px;

				& a {
					color: #fff;
					transition: color .3s;
				}

				&:last-child {
					margin-bottom: 0;
				}

				&:hover {
					& a {
						color: $red;
					}
				}
			}
		}

	}

	&__logo {
		margin-right: rem(24px);
		flex-shrink: 0;
	}

	&__copyright {
		max-width: rem(255px);
		font-size: rem(12px);
		color: #FFF;
	}

	& .footer_contacts {

		&__item_wrap {
			display: flex;
			align-items: flex-start;
			margin-bottom: rem(42px);
			&:last-child {
				margin-bottom: 0;
			}
		}

		&__name {
			color: #FFF;
			margin-right: 30px;
		}

		&__links {
			margin-left: auto;
			& a {
				position: relative;
				display: block;
				color: #FFF;
				&:nth-child(1) {
					margin-bottom: 10px;
				}
				&:nth-child(2) {
					&::before {
						content: "";
						position: absolute;
						left: 0;
						bottom: -2px;
						width: 100%;
						height: 2px;
						border-bottom: 1.5px dashed #FFF;
					}

					&:hover {
						&::before {
							content: none;
						}
					}
				}
			}

		}
	}

	& .b2b__logo {
		font-size: rem(12px);
		color: #FFF;

		& img {
			display: block;
			margin-bottom: 11px;
		}

		& a {
			position: relative;
			color: #FFBB00;

			&::before {
				content: "";
				position: absolute;
				left: 0;
				bottom: -2px;
				width: 100%;
				height: 2px;
				border-bottom: 1.5px dashed #FFBB00;
			}

			&:hover {
				&::before {
					content: "";
				}
			}
		}
	}

}

.b2b-copy {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    border-radius: 5px;
    padding: 3px 10px;
    min-width: 180px;
    width: fit-content;
    transition: all .15s ease;
    // margin-top: 1rem;
    opacity: 0.6;
	background-color: $blue;
	&:hover {
		opacity: 1;
	}

	@include _1200 {
		opacity: 1;
	}
}

.b2b-copy-link {
    position: relative;
    white-space: nowrap;
    font-weight: 300;
    font-size: 12px;
    transition: all .15s ease;
    letter-spacing: .5px;
	color: $white;
}

.b2b-copy-svg {
    height: 20px;
    border: 0!important;
    text-decoration: none!important;
}

.b2b-copy svg {
    width: 55px;
    height: 20px;
    margin-left: .5rem;
    transition: all .15s ease;
}

@keyframes animArrowTo {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: 100% 0;
	}
}

@keyframes animArrow {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: -100% 0;
	}
}

// хлебные крошки
@import "breadcrumbs";

// стили для модалки
@import "popup";

// стили страниц
@import "page";
@import "page2";
@import "page3";
@import "page4";
@import "page5";
@import "page6";
@import "page7";
@import "page8";
@import "page9";
@import "page10";
@import "contacts";
@import "projects";
@import "solution-page";
@import "delivery";
@import "loyalty";
@import "catalog";
@import "cart";
@import "basket";
@import "basket-mini";
@import "cabinet";
@import "ordering";
@import "about";
@import "search";
@import "employees";
