
@mixin _2100  {
    @media (min-width: 2100px){
        @content;
    }
}

@mixin  _1925 {
	@media (max-width: 1925px) {
		@content;
	}
}

@mixin _1680 {
	@media (max-width: 1680px) {
		@content;
	}
}
@mixin _1536 {
    @media (max-width: 1536px){
        @content;
    }
}
@mixin _1440  {
    @media (max-width: 1440px){
        @content;
    }
}
@mixin _1400  {
    @media (max-width: 1400px){
        @content;
    }
}
@mixin _1366  {
    @media (max-width: 1366px){
        @content;
    }
}
@mixin _1365  {
    @media (max-width: 1365px){
        @content;
    }
}
@mixin _1280 {
    @media (max-width: 1280px){
        @content;
    }
}
@mixin _1200 {
    @media (max-width: 1200px){
        @content;
    }
}
@mixin _1024 {
    @media (max-width: 1024px){
        @content;
    }
}
@mixin _992 {
    @media (max-width: 992px){
        @content;
    }
}

@mixin _960 {
    @media (max-width: 960px){
        @content;
    }
}

@mixin _769 {
    @media (max-width: 769px){
        @content;
    }
}

@mixin _740 {
    @media (max-width: 740px){
        @content;
    }
}

@mixin _600 {
    @media (max-width: 600px){
        @content;
    }
}

@mixin _500 {
    @media (max-width: 500px){
        @content;
    }
}

@mixin _480 {
    @media (max-width: 480px){
        @content;
    }
}

@mixin _375 {
    @media (max-width: 375px){
        @content;
    }
}
@mixin _360 {
    @media (max-width: 360px){
        @content;
    }
}
