@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?h0r3kt');
  src:  url('fonts/icomoon.eot?h0r3kt#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?h0r3kt') format('truetype'),
    url('fonts/icomoon.woff?h0r3kt') format('woff'),
    url('fonts/icomoon.svg?h0r3kt#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-eye:before {
  content: "\e90f";
}
.icon-plus:before {
  content: "\e90d";
}
.icon-remove:before {
  content: "\e90e";
}
.icon-ruble:before {
  content: "\e90c";
}
.icon-clients-logo:before {
  content: "\e90b";
}
.icon-cross:before {
  content: "\e922";
}
.icon-right-arrow:before {
  content: "\e90a";
}
.icon-menu-burger:before {
  content: "\e909";
}
.icon-title-lines:before {
  content: "\e908";
}
.icon-auto:before {
  content: "\e906";
}
.icon-layers:before {
  content: "\e907";
}
.icon-calendar:before {
  content: "\e903";
}
.icon-box:before {
  content: "\e904";
}
.icon-worker:before {
  content: "\e905";
}
.icon-basket:before {
  content: "\e900";
}
.icon-search:before {
  content: "\e901";
}
.icon-user:before {
  content: "\e902";
}
